.btn {
	width: auto;
	height: @btn-height;
	padding: 5px 15px;
	line-height: @btn-height - 10;
	vertical-align:middle;
	display: inline-block;

	border: 0;
	color: @btn-color;
	background: @btn-bg;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	font-size: 13px;
	transition: @transition ~"background, color";

	&:hover {
		color: @btn-color-hover;
		background: @btn-bg-hover;
	}

	&__icon {
		margin-right: 7px;
		float: left;
		position: relative;
		top: 3px;

		.btn--plus & {
			position: absolute;
			top: 6px;
			left: 6px;
			width: 18px;
			height: 18px;

			text-align: center;
			line-height: 19px;
			font-size: 20px;
			font-weight: normal;
		}

		.btn--small & {
			margin-right: 5px;
			top: 1px;

			font-size: 10px;
		}

		.btn--small.btn--plus & {
			top: 1px;
			left: 1px;

			font-size: 20px;
		}
	}

	&--small {
		height: @btn-height - 8;
		line-height: @btn-height - 18;
		padding-left: 8px;
		padding-right: 8px;

		font-size: 11px;
	}

	&--medium {
		height: @btn-height - 4;
		line-height: @btn-height - 14;
		padding-left: 8px;
		padding-right: 8px;

		font-size: 13px;
	}

	&--plus {
		position: relative;
		padding-left: 34px;

		&.btn--small {
			padding-left: 22px;
			padding-right: 10px;
		}
	}

	&--block {
		width: 100%;

		text-align: center;
	}

	&--lg {
		height: @btn-height + 5;
		line-height: @btn-height - 10 + 5;
	}

	&--disabled {
		background: @btn-disabled-bg;
		color: @btn-disabled-color;
		cursor: default;

		&:hover {
			background: @btn-disabled-bg;
			color: @btn-disabled-color;
		}
	}

	&--default {
		background: @btn-disabled-bg;
		color: @btn-disabled-color;

		&:hover {
			background: @btn-disabled-bg;
			color: @btn-disabled-color;
		}
	}

	&--light {
		background: @color-f;
		color: @color-base;
		border: 1px solid @color-border;

		&:hover {
			background: @color-fa;
			color: @color-base;
		}
	}

	&--neutral {
		background-color: @color-blue;

		&:hover {
			background-color: darken(@color-blue, 10%);
		}
	}
}

.btn-no-style {
	padding: 0;
	display: inline-block;

	border: 0;
	background: none;
}

.btn-link-style {
	height: @btn-height;
	padding: 5px;
	line-height: @btn-height - 10;
	display: inline-block;

	border: 0;
	background: none;
	text-decoration: underline;
	color: @color-link;
	font-size: 13px;
	font-weight: normal;

	&:hover {
		text-decoration: none;
		color: @color-link-hover;
	}

	&--iconic-l {
		text-decoration: none;

		i {
			margin-right: 3px;
			position: relative;
			top: -2px;

			font-size: 16px;
		}

		span {
			display: inline-block;

			text-decoration: underline;
		}

		&:hover {
			span {
				text-decoration: none;
			}
		}
	}
}
