/*************************************************************************************
*  MIXINS - OUR BASE
**************************************************************************************/

// Reseting to UL or UL
.reset-ul() {
	padding: 0;
	margin: 0;
	list-style: none;
}


// Centering element
.center-it(@text-align: center) {
	display: table-cell;
	vertical-align: middle;
	text-align: @text-align;
} // .center-it


// Setting of centering ellement within setting display table for parent of centering elements
.center-it-all(@text-align: center) {
	display: table;

	> li, > span, > a, > i, > em, > div, > b, > strong {
		display: table-cell;
		vertical-align: middle;
		text-align: @text-align;
	}
}


// Set transition settings without property
.set-transition(@this-time: @transition-time, @this-function: @transition, @this-delay: 0) {
	transition-timing-function: @this-function !important;
	transition-duration: @this-time !important;
	transition-delay: @this-delay !important;
}

.transition(@transition) {

	-webkit-transition: @transition;
	-moz-transition: @transition;
	-o-transition: @transition;
	transition: @transition;

} // .transition

// Clearfix
.cfx() {
	*zoom:1;

	&:before,
	&:after {

		content:"";
		display:table;

	} // :before, :after

	&:after {

		clear:both;

	} // :after

} // .cfx();


// Nastavení background image, cesta do design se nastavuje sama, dále pozice a repeat, default hodnoty nastaveny
.background(@backgroundUrl: none, @backgroundPosition: 0 0, @backgroundRepeat: no-repeat) {

	background-image: url('@{path-image}/@{backgroundUrl}'); 
	background-repeat: @backgroundRepeat;
	background-position: @backgroundPosition;
} // .background


// Nastavuje výšku řádku a počet řádků, kolik si element bude udržovat a kde text usekne
.eliminate-lines(@heightLine, @countLine) {
	height: @heightLine * @countLine;
	line-height: @heightLine;
	overflow: hidden;
	//text-overflow: ellipsis; TODO
} //.eliminate-lines


// Nastavuje elementu stejnou výšku a stejnou výšku řádku
.h-lh(@height) {
	height: @height;
	line-height: @height;
}

// Náhrada za before, nastavuje hlasické nastavení pro before s ikonkou
.before(@width, @height, @icon, @left: 0, @top: 0) {
	position: relative;

	&:before {
		content: url('@{path-image}/@{icon}');
		position: absolute;
		top: @top;
		left: @left;
		display: block;
		width: @width;
		height: @height; 
	}
} // .before


// Náhrada za after, nastavuje hlasické nastavení pro after s ikonkou
.after(@width, @height, @icon, @left: 0, @top: 0) {
	position: relative;

	&:after {
		content: url('@{path-image}/@{icon}');
		position: absolute;
		top: @top;
		left: @left;
		display: block;
		width: @width;
		height: @height; 
	}
} // .after


// Náhrada za before, nastavuje hlasické nastavení pro before bez ikonky s možností nastavení pozadí
// hodí se pro případ, kdy chceme udělat útvar bez ikonky, nebo pozadi s pismem, popř tímhle něco zakrýt 
.before-c(@width, @height, @bg: transparent, @content: '' , @left: 0, @top: 0) {
	position: relative;

	&:before {
		content: @content;
		position: absolute;
		top: @top;
		left: @left;
		display: block;
		width: @width;
		height: @height; 
		background: @bg;
	}
} // .before


// Náhrada za before, nastavuje hlasické nastavení pro before bez ikonky s možností nastavení pozadí
// hodí se pro případ, kdy chceme udělat útvar bez ikonky, nebo pozadi s pismem, popř tímhle něco zakrýt
.after-c(@width, @height, @bg: transparent, @content: '' , @left: 0, @top: 0) {
	position: relative;

	&:after {
		content: @content;
		position: absolute;
		top: @top;
		left: @left;
		display: block;
		width: @width;
		height: @height; 
		background: @bg;
	}
} // .after


// Nastavení pro fontface, načte font, stačí mu dodat název a  název souboru, cesta je nastavena z variables
.font-face(@font-name, @font-file, @font-weight: 400, @font-style: normal) {

	@font-face {
	
		font-family: '@{font-name}';
		src: url('@{path-font}/@{font-file}.eot');
		src: url('@{path-font}/@{font-file}.eot?#iefix') format('embedded-opentype'),
			 url('@{path-font}/@{font-file}.woff') format('woff'),
			 url('@{path-font}/@{font-file}.ttf') format('truetype'),
			 url('@{path-font}/@{font-file}.svg#@{font-name}') format('svg');
		font-weight: @font-weight;
		font-style: @font-style;
	
	}

		@media screen and (-webkit-min-device-pixel-ratio:0) {
		
			@font-face {
		
				font-family: '@{font-name}';
				src: url('@{path-font}/@{font-file}.svg') format('svg');

			}

		}

} // .font-face


/*************************************************************************************
*  MIXINS - CLASSIC BASE
**************************************************************************************/

// Border radius
.border-radius(@radius) {

	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;

} // .border-radius

// Box shadow
.box-shadow(@shadow) {

	-webkit-box-shadow: @shadow;
	-moz-box-shadow: @shadow;
	box-shadow: @shadow;

} // .box-shadow

// Clearfix
.cfx() {
	*zoom:1;
	&:before,
	&:after {
			content:"";
			display:table;
	} 
	&:after {
			clear:both;
	} 
} // .cfx();

.clearfix() {
	.cfx();
}