<ul class="order-progress">
	<li class="order-progress__item {% if step == 1 %}order-progress__item--active{% endif %}">
		<span class="order-progress__item__inner">
			<strong class="order-progress__item__number">1.</strong>
			<span class="order-progress__item__title">Košík</span>
		</span>
	</li>

	<li class="order-progress__item {% if step == 2 %}order-progress__item--active{% endif %}">
		<span class="order-progress__item__inner">
			<strong class="order-progress__item__number">2.</strong>
			<span class="order-progress__item__title">Doprava a platba</span>
		</span>
	</li>

	<li class="order-progress__item {% if step == 3 %}order-progress__item--active{% endif %}">
		<span class="order-progress__item__inner">
			<strong class="order-progress__item__number">3.</strong>
			<span class="order-progress__item__title">Dodací údaje</span>
		</span>
	</li>
</ul>
