<ul class="in-progress">
	<li class="in-progress__item {% if step == 1 %}in-progress__item--active{% endif %}">
		<span class="in-progress__item__inner">
			<span class="in-progress__item__title">{{ 'Košík'|trans }}</span>
		</span>
		<div class="in-progress__item__arrow"></div>
	</li>

	<li class="in-progress__item {% if step == 2 %}in-progress__item--active{% endif %}">
		<span class="in-progress__item__inner">
			<span class="in-progress__item__title">{{ 'Doprava a platba'|trans }}</span>
		</span>
		<div class="in-progress__item__arrow"></div>
	</li>

	<li class="in-progress__item {% if step == 3 %}in-progress__item--active{% endif %}">
		<span class="in-progress__item__inner">
			<span class="in-progress__item__title">{{ 'Dodací údaje'|trans }}</span>
		</span>
	</li>
</ul>
