{% extends '@SS6Shop/Admin/Content/Customer/detail.html.twig' %}

{% block title %}- Editace zákazníka - {{ user.fullName }}{% endblock %}
{% block h1 %}Editace zákazníka - {{ user.fullName }}{% endblock %}

{% block customer_created_at %}
	<div class="form-line">
		<span class="form-line form-line__label">
			Posledního přihlášení :
		</span>
		<span class="form-line form-line__text">
			{{ user.createdAt|date('j.n.Y H:i') }}
		</span>
	</div>

{% endblock %}

{% block customer_last_login %}
	<div class="form-line">
		<span class="form-line form-line__label">
			Datum registrace :
		</span>
		<span class="form-line form-line__text">
			{{ user.lastLogin|date('j.n.Y H:i') }}
		</span>
	</div>
{% endblock %}