.basket-preview {
	width: 100%;
	margin-bottom: 20px;
}

.basket-preview__row {
	border-top: 1px solid @color-border;

	&:first-child {
		border-top: 0;
	}
}

.basket-preview__cell {
	padding: 5px 0;

	font-size: 12px;
}

.basket-preview__cell--price {
	padding-left: 10px;
	width: 120px;

	text-align: right;
}

.basket-preview__row--total {
	font-weight: bold;
}

.basket-preview__row--total {
	border: 0;
}

.basket-preview__row--important .basket-preview__cell {
	border-top: 1px solid @color-border;
	color: @color-primary;
	font-size: 16px;
}

