.product-list {
	.reset-ul();
	.cfx();
	width: 100%;

	text-align: center;
}

.product-list .product-list__item {
	float: left;
	height: 420px;
	position: relative;
	margin-bottom: 40px;

	border-left: 1px solid @color-border;

	&:nth-child(3n+1) {
		border-left: 0;
	}
}

.product-list .product-list__title {
	line-height: 20px;
	height: 40px;
	overflow: hidden;

	.set-transition();
	.transition(color);
}

.product-list .product-list__image {
	.center-it-all();
	width: 100%;
}

.product-list  .product-list__block {
	display: block;
	padding: 20px 0 15px;

	text-decoration: none;
	color: @color-base;

	&:hover {
		text-decoration: none;

		.product-list__title {
			color: @color-primary;
		}
	}
}

.product-list .product-list__price {
	margin-bottom: 10px;
}

.product-list .product-list__actions {
	.cfx();
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;

	text-align: center;
}

.product-list .product-list__button {
	margin-bottom: 5px;
}