{% extends '@SS6Shop/Front/Layout/layoutWithoutPanel.html.twig' %}

{% block title %}{{ parent() }} - {{ article.name }}{% endblock %}

{% block main_content %}
	<h1>{{ article.name }}</h1>

	{{ article.text|raw }}
{% endblock %}