{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block title %}{{ parent() }} - {{ article.name }}{% endblock %}

{% block content %}
	<h1>{{ article.name }}</h1>

	{{ article.text|raw }}
{% endblock %}