.message {
	margin: 20px 0;
	padding: 20px;
	border: 1px solid @gray-lighter;
	background: lighten(@gray-lighter, 10%);
	.border-radius(@border-radius-base);
}
.message-success {
	.bg-variant(@state-success-bg);
	border-color: darken(@state-success-bg, 10%);
}
.message-info {
	.bg-variant(@state-info-bg);
	border-color: darken(@state-info-bg, 10%);
}
.message-warning {
	.bg-variant(@state-warning-bg);
	border-color: darken(@state-warning-bg, 10%);
}
.message-danger {
	.bg-variant(@state-danger-bg);
	border-color: darken(@state-danger-bg, 10%);
}

.message__list {
	.reset-ul();
}

.message-floating {
	display: inline-block;
	margin: 0;
	padding: 2px 10px;
	font-size: 12px;
	font-weight: normal;
	z-index: 10;
	background: darken(@state-danger-bg, 10%);
}

.form-place .message-floating {
	position: absolute;
	left: 40%;
	top: 30px;
	margin-left: 10px;
}