/*
Domain
=======
Domain switcher

	<div class="box-domain">
		<a href="#" class="box-domain__item">Main page</a>
		<a href="#" class="box-domain__item">Category</a>
		<span class="box-domain__item">This page</span>
	</div>

*/

.box-domain {
	.cfx();
	.reset-ul();
	width: 100%;
	margin-bottom: 20px;

	border-bottom: 1px solid @color-border;
}

.box-domain__item {
	float: left;
	padding: 0 20px;
	height: 32px;
	line-height: 32px;
	margin-right: 10px;
	margin-bottom: 5px;

	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid @color-border;
	background: @bg-box;
	color: @color-alterlink;

	.border-radius(@border-radius-base);

	&:hover {
		color: @color-alterlink-hover;
		background: @color-f;
		text-decoration: none;
	}
}

.box-domain__item--active {
	border: 1px solid darken(@bg-primary, 5%);
	background: @bg-primary;
	color: @color-f;
	cursor: default;

	&:hover {
		background: @bg-primary;
		color: @color-f;
		text-decoration: none;
	}
}
