/*
Expanding box
=======
Box, with input fields for loging in.

	<div class="box-expand">
		<h2 class="box-expand__heading">
			Heading
		</h2>
		<div class="box-expand__hidden">
			expanded content
		</div>

	</div>
*/

.box-expand {
	margin-bottom: 10px;

	background: @bg-box;
}

.box-expand__heading {
	margin: 0;
	padding: 10px 20px 10px 40px;
	position: relative;

	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	background: darken(@bg-box, 5%);

	.draw-arrow-bottom(5px, @link-color, 20px, 15px);
}

.box-expand__hidden {
	padding: 20px;
}