.nav-panel {
	.reset-ul();
	padding: 10px;
}

.nav-panel__item {
	display: block;
	margin-bottom: 1px;

	background: @color-f;

	a {
		padding: 10px 20px;
		display: block;

		color: @color-8;
		text-decoration: none;

		&:hover {
			color: @color-f;
			background: @color-5;
		}
	}
}

.nav-panel__item--active {
	a {
		background: @bg-info;
		color: @color-0;
	}
}

.nav-panel__submenu {
	.reset-ul();
}

.nav-panel__submenu__item {
	display: block;


	a {
		padding: 8px 20px 8px 30px;
		display: block;

		color: @color-8;
		background: @color-e;
		border-top: 1px dotted @color-f;
		font-size: 12px;
		text-decoration: none;

		&:hover {
			color: @color-f;
			background: @color-5;
		}
	}
}

.nav-panel__submenu__item--active {
	a {
		background: @bg-info;
		color: @color-0;
	}
}