/*
Navigation panel
=======
Navigatoin panel with active states and subnavigation

	<ul class="box-panel">
		<li class="box-panel__item">
			<a href="#">
				Navigation item
			</a>
		</li>
		<li class="box-panel__item box-panel__item--active">
			<a href="#">
				Active navigation item
			</a>

			<ul class="box-panel__submenu">
				<li class="box-panel__submenu__item">
					<a href="#">
						Navigation subitem
					</a>
				</li>
				<li class="box-panel__submenu__item box-panel__submenu__item--active">
					<a href="#">
						Navigation subitem
					</a>
				</li>
				<li class="box-panel__submenu__item">
					<a href="#">
						Navigation subitem
					</a>
				</li>
			</ul>
		</li>
		<li class="box-panel__item">
			<a href="#">
				Navigation item
			</a>
		</li>
	</ul>
*/

.box-panel {
	.reset-ul();
	padding: 10px;
}

.box-panel__item {
	display: block;
	margin-bottom: 1px;

	background: @color-f;

	a {
		padding: 10px 20px;
		display: block;

		color: @color-8;
		text-decoration: none;

		&:hover {
			color: @color-f;
			background: @color-5;
		}
	}
}

.box-panel__item--active {
	a {
		background: @bg-info;
		color: @color-0;
	}
}

.box-panel__submenu {
	.reset-ul();
}

.box-panel__submenu__item {
	display: block;


	a {
		padding: 8px 20px 8px 30px;
		display: block;

		color: @color-8;
		background: @color-e;
		border-top: 1px dotted @color-f;
		font-size: 12px;
		text-decoration: none;

		&:hover {
			color: @color-f;
			background: @color-5;
		}
	}
}

.box-panel__submenu__item--active {
	a {
		background: @bg-info;
		color: @color-0;
	}
}
