@list-categories-gap: 5px;

.list-categories {
	.reset-ul();
	margin-bottom: @margin-gap;

	&__item {
		margin-bottom: @list-categories-gap;

		&__block {
			display: flex;
			align-items: center;
			width: 100%;
			min-height: 56px;

			text-decoration: none;
			border: 1px solid @color-border;
		}

		&__image {
			padding: 10px 0 10px 10px;
			width: 50px;

			text-align: center;
		}

		&__title {
			flex: 1;
			margin: 0;
			line-height: 16px;
			padding: 10px;

			font-size: 12px;
			font-weight: bold;
		}
	}
}

@media @query-sm {
	.list-categories {
		margin-left: -@list-categories-gap;

		font-size: 0;

		&__item {
			display: inline-block;
			vertical-align: top;
			padding-left: @list-categories-gap;
			width: 100%/2;
		}
	}
}

@media @query-vl {
	.list-categories {

		&__item {
			width: 100%/3;
		}
	}
}

@media @query-xl {
	.list-categories {

		&__item {
			width: 100%/4;
		}
	}
}
