/*
Menu list
========
Multi level menu list

	<ul class="list-menu">
		<li class="list-menu__item">
			<a class="list-menu__item__link" href="./">Menu item</a>
			<ul class="list-menu">
				<li class="list-menu__item">
					<a class="list-menu__item__link list-menu__item__link--2" href="./">Menu item</a>
				</li>
				<li class="list-menu__item">
					<a class="list-menu__item__link list-menu__item__link--2" href="./">Menu item</a>
				</li>
				<li class="list-menu__item">
					<a class="list-menu__item__link list-menu__item__link--2" href="./">Menu item</a>
					<ul class="list-menu">
						<li class="list-menu__item">
							<a class="list-menu__item__link list-menu__item__link--2" href="./">Menu item</a>
						</li>
						<li class="list-menu__item">
							<a class="list-menu__item__link list-menu__item__link--2" href="./">Menu item</a>
						</li>
						<li class="list-menu__item">
							<a class="list-menu__item__link list-menu__item__link--2" href="./">Menu item</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="list-menu__item">
			<a class="list-menu__item__link" href="./">Menu item</a>
		</li>
		<li class="list-menu__item">
			<a class="list-menu__item__link" href="./">Menu item</a>
		</li>
	</ul>

*/

.list-menu {
	.reset-ul();
	.cfx();
	width: 100%;

	background: @color-fa;
}

.list-menu__item {
	display: block;
	margin: 0;
	padding: 0;

	border-top: 1px solid @color-border;
}

.list-menu__item__link {
	display: block;
	padding: 8px 10px;

	text-decoration: none;
	color: @color-7;
	font-size: 12px;

	&:hover {
		text-decoration: none;
		background: @color-primary;
		color: @color-f;
	}
}

.list-menu__item__link--1 {
	font-size: 14px;
}

.list-menu__item__link--2 {
	padding-left: 20px;
}

.list-menu__item__link--3 {
	padding-left: 30px;
}

.list-menu__item__link--4 {
	padding-left: 40px;
}

.list-menu__item__link--5 {
	padding-left: 50px;
}

.list-menu__item__link--6 {
	padding-left: 60px;
}

.list-menu__item__link--7 {
	padding-left: 70px;
}