.list-menu {
	.reset-ul();
	margin-bottom: @margin-gap;

	&__item {
		display: block;

		border-top: 1px solid @color-border;
		background: @color-light;

		&:first-child {
			border-top: 0;
		}

		&__link {
			display: block;
			padding: 8px 10px;

			text-decoration: none;
			font-size: 12px;

			&--level-2 {
				padding-left: 20px;
			}

			&--level-3 {
				padding-left: 30px;
			}

			&--level-4 {
				padding-left: 40px;
			}
		}
	}

	& & {
		margin-bottom: 0;

		border-top: 1px solid @color-border;
	}
}