/*
Button styles
===========

	<a href="#" class="button">
		Basic button
	</a>

	<a href="#" class="button button--alter">
		Alternative button
	</a>

	<a href="#" class="button button--large">
		Large button
	</a>

	<a href="#" class="button button--cart">
		Button with cart icon
	</a>

	<a href="#" class="button button--simple">
		Button simple
	</a>

*/


.button {
	display: inline-block;
	padding: @button-padding;
	height: @button-height;
	line-height: @button-height;

	color: @button-color;
	background: @button-bg;
	text-decoration: none;
	border: 1px solid @button-bg;
	cursor: pointer;
	font-size: @font-size;

	.border-radius(@button-radius);
	.set-transition();
	.transition(~"background, color, border");

	&:hover {
		color: @button-color-hover;
		background: @button-bg-hover;
		border-color: @button-bg-hover;
		text-decoration: none;
	}
}

.button--alter {
	background: @button-bg-alter;
	border-color: @button-bg-alter;
}

.button--simple {
	background: @color-f;
	border-color: @color-border;
	color: @color-base;
}

.button--large {
	height: @button-height-large;
	line-height: @button-height-large;
	padding: @button-padding-large;

	text-transform: uppercase;
	font-weight: bold;
}

.button--cart {
	position: relative;
	padding-left: 30px;

	.after(15px, 15px, 'icons/cart-mini.png', 9px, 2px);
}