.message {
	margin: 20px 0;
	padding: 20px;

	border: 1px solid @color-e;
	background: lighten(@color-e, 10%);

	.border-bottom-radius(@border-radius-base);
	.border-top-radius(@border-radius-base);
}
.message-success {
	border-color: darken(@bg-success, 10%);

	.bg-variant(@bg-success);
}
.message-info {
	border-color: darken(@bg-info, 10%);

	.bg-variant(@bg-info);
}
.message-warning {
	border-color: darken(@bg-warning, 10%);

	.bg-variant(@bg-warning);
}
.message-danger {
	border-color: darken(@bg-alert, 10%);

	.bg-variant(@bg-alert);
}

.message .message__list {
	.reset-ul();
}

.message .message__close {
	float: right;
	margin-left: 20px;
	height: 20px;
	line-height: 20px;
	width: 20px;

	text-align: center;
	font-weight: bold;
	color: @color-f;
	background: @color-5;

	.border-radius(@border-radius-base);
	.set-transition();
	.transition(background);

	&:hover {
		background: @color-3;
		text-decoration: none;
	}
}

.message-floating {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 2px 10px;
	z-index: 10;

	font-size: 12px;
	background: darken(@bg-alert, 10%);

	&:after {
		position: absolute;
		bottom: -7px;
		left: 20px;
		width: 0;
		height: 0;
		display: block;

		border-top: 7px solid darken(@bg-alert, 10%);
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		content: "";
	}
}