{{ form_start(form) }}
	<div class="wrap-box mb-1 mt-1">
		{{ form_row(form.defaultCurrency, { label: 'Výchozí měna eshopu', icon: { title: 'Při změně výchozí měny nedochází k žádnému přepočtu cen' } }) }}
		{{ form_widget(form.save, { label: 'Uložit změny'|trans}) }}
	</div>
{{ form_end(form) }}
