{% if messages %}
	<div class="message message-{{ type }} js-flash-message">
		<a href="#" class="message-button-close js-flash-message-close" title="Zavřít" id="aeaoofnhgocdbnbeljkmbjdmhbcokfdb-mousedown">X</a>
		{% for message in messages %}
			<div>{{ message }}</div>
		{% endfor %}
	</div>
{% endif %}