{% if messages %}
	<div class="message message-{{ type }} js-flash-message">
		<a href="#" class="message__close js-flash-message-close" title="Zavřít" id="aeaoofnhgocdbnbeljkmbjdmhbcokfdb-mousedown">X</a>
		{% for message in messages %}
			{{ message }}
		{% endfor %}
	</div>
{% endif %}