// Base Class Definition
// -------------------------

.@{fa-css-prefix} {
	display: inline-block;
	line-height: 1;
	margin: 0 3px;

	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}