{% extends '@ShopsysShop/Admin/Grid/Grid.html.twig' %}

{% block grid_value_cell_id_name %}
    <a href="{{ url('admin_article_edit', { id: row.a.id }) }}">{{ value }}</a>
{% endblock %}

{% block grid_multiple_drag_and_drop_row_holder %}
    {{ 'You can drag articles here.'|trans }}
{% endblock %}

{% block grid_pager_totalcount %}
    {% set entityName = 'articles'|trans %}
    {{ parent() }}
{% endblock %}