language: php

php:
    - 7.1
    - 7.2

cache:
    directories:
        - ~/.composer/cache

before_install:
    - echo "extension = redis.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

install:
    - composer install

script:
    - php vendor/bin/parallel-lint ./src ./tests
    - php vendor/bin/ecs check --verbose ./src ./tests
    - php vendor/bin/phpunit ./tests
