.box-breadcrumb {
	margin-bottom: @margin-gap;

	font-size: 0;

	&__item {
		display: inline-block;
		vertical-align: middle;
		padding: 3px 10px;

		font-size: @font-size;

		&--separator {
			padding-left: 0;
			padding-right: 0;

			font-size: 10px;
		}

		&--icon {
			text-decoration: none;
		}
	}
}