/*
Buttons control
================
Box for 2 navigating buttons, back and confirm

	<div class="box-buttons">
		<a href="#" class="button button--alter box-buttons__left">Back</a>
		<a href="#" class="button button--large box-buttons__right">Confirm</a>
	</div>
*/

.box-buttons {
	.cfx();
	margin-bottom: 20px;
}

.box-buttons__left {
	float: left;
	margin-top: 5px;
}

.box-buttons__right {
	float: right;
}
