@box-cart-empty-gap-mobile: 10px;
@box-cart-empty-gap-desktop: 40px;

.box-cart-empty {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: @margin-gap;

	&__image {
		flex: 1 50%;
		padding-right: @box-cart-empty-gap-mobile;

		text-align: center;
	}

	&__text {
		flex: 1 50%;
		padding: 0 @box-cart-empty-gap-mobile;

		font-size: 12px;
		text-align: center;
	}
}

@media @query-md {
	.box-cart-empty {
		&__text {
			font-size: 14px;
		}
	}
}


@media @query-lg {
	.box-cart-empty {
		&__image {
			padding-right: @box-cart-empty-gap-desktop;
		}

		&__text {
			padding-left: @box-cart-empty-gap-desktop;
			padding-right: @box-cart-empty-gap-desktop;

			font-size: 16px;
		}
	}
}

@media @query-vl {
	.box-cart-empty {
		&__text {
			font-size: 20px;
		}
	}
}
