/*
Checkbox box-chooser
===============
Checkboxes With image and text on right - typical for payments, shipping

	<div class="box-chooser">
		<label class="box-chooser__item">
			<span class="box-chooser__check">
				<input type="checkbox">
			</span>

			<span class="box-chooser__image">
				img
			</span>

			<span class="box-chooser__title">
				Label text
			</span>

			<span class="box-chooser__price">
				for Free
			</span>
		</label>
		<label class="box-chooser__item box-chooser__item--active">
			<span class="box-chooser__check">
				<input type="checkbox">
			</span>

			<span class="box-chooser__image">
				img
			</span>

			<span class="box-chooser__title">
				Label text
			</span>

			<span class="box-chooser__price">
				for Free
			</span>
		</label>
	</div>
*/

.box-chooser {
	position: relative;
}

.box-chooser__item {
	width: 100%;
	margin: 5px 0;
	display: table;

	font-size: 12px;
	cursor: pointer;
	font-weight: normal;
}

.box-chooser__item--active span {
	color: @color-primary;
}

.box-chooser__item--inactive span {
	color: @color-inactive;
}

.box-chooser__check {
	width: 3%;
	.center-it(left);
}

.box-chooser__image {
	width: 7%;
	.center-it(left);

	img {
		display: block;
	}
}

.box-chooser__title {
	width: 75%;
	.center-it(left);
}

.box-chooser__price {
	width: 15%;
	.center-it(right);

	font-weight: bold;
	font-size: 14px;
}
