.box-condition {
	padding: 10px;
	margin-bottom: @margin-gap;
	width: 490px;
	max-width: 100%;

	background: @color-f;
	border: 1px solid @color-border;

	&__in {
		margin-bottom: 10px;
	}

	&__control {
		text-align: right;
	}

	iframe {
		border: none;
	}
}