.box-detail {
	&__image {
		position: relative;
		margin-bottom: @margin-gap;

		&__main {
			padding: 10px;
			margin-bottom: @margin-gap;
			text-align: center;

			border: 1px solid @color-border;
			font-size: 0;

			img {
				width: auto;
				height: auto;
			}
		}
	}

	&__info {
		margin-bottom: @margin-gap;

		&__availability {
			margin-bottom: @margin-gap;

			font-weight: bold;
		}

		&__params {
			margin: 0 0 @margin-gap;
			padding: 10px 0;

			font-size: 0;
			border-top: 1px solid @color-border;
			border-bottom: 1px solid @color-border;

			dt, dd {
				margin: 0;
				padding: 5px 0;
				display: inline-block;
				vertical-align: top;
				width: 50%;

				font-size: 12px;
			}

			dt {
				padding-right: 5px;

				font-weight: bold;
			}
		}
	}
}

@media @query-md {
	.box-detail {
		&__info {
			&__params {
				column-count: 2;
			}
		}
	}
}

@media @query-lg {
	.box-detail {
		.clearfix();

		&__image {
			width: 50%;
			float: left;
			padding-right: 20px;
		}

		&__info {
			width: 50%;
			float: right;

			&__params {
				column-count: 1;
			}
		}
	}
}

@media @query-vl {
	.box-detail {
		&__info {
			&__params {
				column-count: 2;
			}
		}
	}
}
