.box-order {
	&__info {
		&__item {
			margin-bottom: @margin-gap;
		}
	}

	&__cart {
		margin-bottom: @margin-gap;
	}
}

@media @query-lg {
	.box-order {
		width: 100%;
		display: flex;

		&__info {
			width: 100% / 3 * 2;
		}

		&__cart {
			width: 100% / 3;
			padding-left: 20px;
		}
	}
}

@media @query-vl {
	.box-order {
		&__cart {
			padding-left: 40px;
		}
	}
}
