.box-promo-code {
	display: inline-block;

	&__input {
		display: inline-block;
		vertical-align: middle;
		white-space: nowrap;

		.input {
			width: 120px;
		}
	}

	&__btn {
		display: inline-block;
		vertical-align: middle;
	}
}