.footer {
	&__bottom {
		padding-top: 20px;
		padding-bottom: 20px;

		color: @color-f;
		text-align: center;

		&__copyright {
			margin-bottom: 10px;
		}

		a {
			&:hover {
				color: @color-f;
			}
		}
	}
}

@media @query-lg {
	.footer {
		&__bottom {
			display: flex;
			align-items: center;

			text-align: left;

			&__copyright {
				flex: 1 50%;
				margin-bottom: 0;
			}

			&__articles {
				flex: 1 50%;

				text-align: right;
			}
		}
	}
}