.header {
	padding: 0 0 20px;
	position: relative;
	.flex();
	.flex-wrap(wrap);
	.flex-align-items(center);

	&__logo {
		width: 100%;
		padding: 10px;
	}

	&__middle {
		.flex-grow(0);
		.flex-order(2);
		width: 300px;
	}

	&__cart {
		.flex-grow(1);
		.flex-order(3);
	}

	&__top {
		display: none;
	}
}

@media @query-md {
	.header {
		&__logo {
			.flex-grow(1);
			.flex-order(1);
		}
	}
}

@media @query-lg {
	.header {
		&__top {
			.flex-order(-1);
			.flex();
			.flex-align-items(center);
			width: 100%;

			background: @color-e;

			&__left {
				.flex-grow(1);
			}

			&__right {
				.flex-grow(1);
			}
		}
	}
}