.header {
	padding: 0 0 20px;
	position: relative;
	.flex();
	.flex-wrap(wrap);
	.flex-align-items(center);

	&__logo {
		width: 100%;
		padding: 10px;
	}

	&__middle {
		width: 100%;
		margin: 10px 0;
		.flex-order(2);
	}

	&__cart {
		width: 38px;
	}

	&__top {
		display: none;
	}

	&__mobile {
		.width-calc(~"100% - 38px", 80%);

		text-align: right;
	}
}

@media @query-md {
	.header {
		&__top {
			.flex-order(-1);
			.flex();
			.flex-align-items(center);
			width: 100%;
			margin-bottom: 10px;

			&__left {
				.flex-grow(1);
			}

			&__right {
				.flex-grow(1);
			}
		}

		&__logo {
			.flex-grow(1);
			.flex-order(1);
			width: auto;
			padding-right: 20px;
		}

		&__middle {
			.flex-grow(0);
			.flex-order(2);
			width: 220px;
			margin: 0;
		}

		&__cart {
			padding-left: 20px;
			.flex-grow(1);
			.flex-order(3);

			text-align: right;
		}

		&__mobile {
			display: none;
		}
	}
}

@media @query-lg {
	.header {
		&__middle {
			width: 320px;
		}
	}
}

@media @query-vl {
	.header {
		&__middle {
			width: 440px;
		}
	}
}