* {
	.box-sizing(border-box);
}

.body {
	line-height: @line-height;

	font-size: @font-size;
	font-family: @font;
	color: @color-base;
	background: @bg-web url('../images/bg.png') 0 90px repeat-x;
}

img {
	max-width: 100%;
}

.web-wrap {
	padding: 0 20px 20px;

	background: @bg-page;

	&--admin {
		padding-top: 40px;
	}
}

.web-panel {
	float: left;
	width: 220px;
}

.web-content {
	margin-left: 240px;
}

.web-content__clear {
	float: left;
	width: 100%;
}

@media @m-query-lg {
	.web-wrap {
		width: @width-page;
		margin: 0 auto;
	}
}

.header {
	.cfx();
	position: relative;
	padding: 20px 0 0;
	margin-bottom: 20px;
}

.header-panel {
	.cfx();
	clear: both;
	margin-top: 20px;

	background: @bg-box;
}

.footer {
	margin-top: 20px;
	padding: 20px;

	font-size: 12px;
	background: @bg-box;
}
