* {
	.box-sizing(border-box);
}

.body {
	line-height: @line-height;

	font-size: @font-size;
	font-family: @font;
	color: @color-base;
	background: @bg-web;
}

img {
	max-width: 100%;
}

.web {
	&--with-info {
		padding-top: 42px;
	}

	&__line {
		&--light {
			background: @color-f;
		}

		&--split {
			border-top: 1px solid @color-border;
			background: @color-f;
		}
	}

	&__container {
		padding: 0 20px;
	}

	&__main {
		padding-bottom: 20px;

		&__content {
			.web__main--with-panel & {
				margin-bottom: 20px;
			}
		}
	}
}

@media @m-query-md {
	.web {
		&__main {
			&--with-panel {
				.flex();
				width: 100%;
			}

			&__content {
				.flex-order(2);
				.flex-grow(1);
				.width-calc(~"100% - 260px", 70%);

			}

			&__panel {
				.flex-order(1);
				.flex-shrink(0);
				width: 260px;
				padding-right: 20px;
			}
		}
	}
}

@media @m-query-lg {
	.web {
		&__container {
			width: @width-page;
			margin: 0 auto;
		}
	}
}