// Core variables and mixins
@import "variables/variables.less";
@import "variables/variables-bootstrap.less";

@import "mixins.less";
@import "components/helpers.less";

// Reset
@import "bootstrap/normalize.less";
@import "bootstrap/print.less";

// Bootstrap
@import "bootstrap.less";

// Our component
@import "components/components.less";

// Layuout
@import "layout.less";

// Libs
@import "libs/sprites-set.less";
@import "libs/sprites.less";

// TODO
.message-button-close {
	float: right;
	width: 25px;
	height: 25px;
	line-height: 25px;
	background: #fafafa;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
}