/*

.js-domain-icon-errors {
	position: absolute;
	top: 110px;
	left: 500px;
}

.js-overlay-spinner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 500;
	display: block;
	background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
}

.position-top-150 {
	margin-top: -35px;
	position: absolute;
	top: 150px;
}

.js-edit-domain-icon {
	color: @color-link;
	text-decoration: none;
	cursor: pointer;
}
*/

.product-visibility {
	display: none;
	width: @window-width;
	min-height: @window-height;
	position: absolute;
	top: 0px;
	left: -@window-width;
	right: 20px;
	padding: 25px 30px 30px;
	z-index: 10000;

	border: 1px solid @color-border;
	background: @bg-window;

	box-shadow: 0 0 20px rgba(0,0,0, 0.3);
}

.in-icon--partially-visible {
	padding: 0 2px;

	font-size: 16px;
	color: @color-orange;
	text-decoration: none;
	cursor: pointer;

}

td.column--superadmin {
	background-color: lighten(@color-red, 53%);
}

#js-overlay {
	background: rgba(36,51,58,0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index:10001;
}
.product-visibility-window-title {
	padding: 0px 15px;
	margin-bottom: 10px;
	color: @color-action;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.js-product-visibility-icon {
	cursor: help;
}

.measuring-code-input {
	height: 52px;
}

.js-validation-error-toggle {
	cursor: pointer;
}

.heureka-widget-input {
	height: 52px;
}

.js-sortable-values-item {
	background-color: @color-f;

	&:hover {
		background-color: @color-e;
	}
}