.cursor-pointer {
	cursor: pointer;
}

.js-file-upload-progress {
	width: 200px; 
	display: none;
	border: 1px solid #555555;
}

.js-file-upload-progress-bar {
	width: 0%; 
	background-color: #90ED90; 
	text-align: center;
}