.form-line--compact {

	.form-line__field {
		margin-left: 0px;
		padding-left: 5px;

		&.form-line__field--icon {
			padding-left: 27px;
		}
	}

	.form-line__icon {
		left: 7px;
	}
}

//// Mangific popup
@import "../front/common/libs/magnific/magnific-popup.less";
@import "../front/common/libs/magnific/magnific-popup-custom.less";

.js-product-picker-label {
	display: inline-block;
	width: 400px;
}

.mfp-iframe-scaler iframe {
	background: #ffffff center no-repeat url('@{path-image}/preloader.gif');
}

.advanced-search-rule-disabled {
	cursor: not-allowed;
	pointer-events: none;
	.opacity(.45);
}

.category-tree {
	ul {
		list-style: none;
		margin: 0px 0px 0px 20px;
		padding: 0px;
		.js-category-tree-item-line {
			border: 1px #FFFFFF dotted;
			background-color: #FFFFFF;
		}
		.js-category-tree-item-handle {
			padding: 5px;
			display: inline-block;
			min-width: 400px;
		}
		.js-category-tree-item-icons {
			float: right;
			padding: 5px;
		}
	}
	.js-category-tree-placeholder {
		outline: 1px dashed red;
	}
}

.category-tree--form {
	ul {
		margin: 0px;
		width: 100%;
		li {
			padding-left: 0px;
			ul li {
				padding-left: 20px;
			}
		}
	}
	.fa {
		float: left;
		margin: 0px 33px 0 0;
		line-height: 22px;
		color: @color-primary;
	}
	.fa-square-o:before {
		visibility: hidden;
	}
}

.category-tree--sorting {
	ul {
		.js-category-tree-item-line {
			&:hover {
				border-color: #AAAAAA;
			}
		}
		.js-category-tree-item-handle {
			cursor: move;
		}
	}
}

.js-accessory {
	margin-bottom: 4px;
}

.window-fixed-bar {
	z-index: 2;
}

.cart-disabled {
	color: @color-red;
}

.ui-datepicker {
	z-index: 2 !important;
}
.text-red {
	color: @color-red;
}

.list-style-none {
	list-style: none;
	padding-left: 0;
}

.top-right-padding-5-px {
	padding: 5px 5px 0px 0px;
}

.list-image__item__wrap {
	background: @bg-box;
	margin: 3px;
}

.list-image__item__in {
	margin: 5px;
}

.list-image-wrap {
	clear: both;
	position: relative;
}

.list-image {
	padding-top: 26px;
	z-index: 2;
	position: relative;
}

.list-image-main {
	border: @color-blue 2px solid;
	border-radius: @border-radius-base;
	margin: 0;
	margin-left: -9px;
	padding: 0;
	width: 100% / 6;
	height: 210px;
	position: absolute;
	z-index: 1;
}

.list-image-main__label {
	padding: 3px;
	color: @color-f;
	background: @color-blue;
}
