language: php

php:
    - 7.2
    - 7.3

cache:
    directories:
        - ~/.composer/cache

before_install:
    - echo "extension = redis.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

install:
    - composer install

script:
    - php vendor/bin/parallel-lint ./src ./tests ./install
    - php vendor/bin/ecs check ./src ./tests ./install
    - php vendor/bin/phpunit tests
