.categories-menu {
	list-style: none;
}

.categories-menu__item a {
line-height: 20px;
color: #333;
font-size: 12px;
text-transform: uppercase;
text-decoration: none;
}

.categories-menu__item a:hover {
	background: @color-primary;
	color:white;
}

.product-gallery {

}

.product-gallery__image {
	float: left;
	margin: 3px;
}

.search-box {
	float: right;
	margin-right: 40px;
	margin-bottom: 20px;
}

.search-result-list {
	position: absolute;
	z-index: 1000;
	background: white;
	padding: 0px;
	margin: 0px;
	border: black solid 1px;
	border-bottom: none;
	width: 188px;
}

.search-result-list li {
	list-style: none;
	border-bottom: black solid 1px;
}

.search-result-list li a {
	display: block;
}