.categories-menu {
	list-style: none;
}

.categories-menu__item a {
line-height: 20px;
color: #333;
font-size: 12px;
text-transform: uppercase;
text-decoration: none;
}

.categories-menu__item a:hover {
	background: @color-primary;
	color:white;
}

.product-gallery {

}

.product-gallery__image {
	float: left;
	margin: 3px;
}