<!DOCTYPE html>
<!--[if IE 7 ]><html lang="cs" class="ie7 no-js"> <![endif]-->
<!--[if IE 8 ]><html lang="cs" class="ie8 no-js"> <![endif]-->
<!--[if IE 9 ]><html lang="cs" class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="cs" class="no-js"> <!--<![endif]-->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/shopsysgenerator/style.css') }}" media="screen, projection">
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/shopsysgenerator/generatorToggle.js') }}"></script>

    <title>Code generator | ShopSys Framework</title>

    <body>
        {% block html_body %}{% endblock %}
    </body>
</html>