@cart-icon-width: 30px;
@cart-icon-gap: 10px;

.cart {
	display: none;
}

@media @query-lg {
	.cart {
		display: inline-block;
		position: relative;
		.clearfix();

		text-align: left;

		&__block {
			display: block;

			text-decoration: none;

			&:hover {
				text-decoration: none;
			}
		}

		&__icon {
			width: @cart-icon-width;
			float: left;

			font-size: 20px;
			text-align: center;
		}

		&__info {
			margin-left: @cart-icon-width + @cart-icon-gap;
			max-width: 90px;
		}
	}
}
