.logo {
	display: inline-block;
	width: 100%;
	height: 35px;
	margin: 0 auto;

	.background('logo.png', 50% 50%);
	background-size: contain;
}

@media @query-md {
	.logo {
		max-width: 140px;

		background-position: 0 50%;
	}
}

@media @query-lg {
	.logo {
		max-width: 200px;
	}
}