.menu {
	float: right;
	.reset-ul();

	&--reverse {
		float: left;
	}

	&__item {
		float: left;

		border-left: 1px solid @color-border;

		a {
			padding: 10px 20px;
			height: 40px;
			line-height: 20px;
			display: block;

			color: @color-base;
			font-size: 12px;
			text-transform: uppercase;
			text-decoration: none;

			&:hover {
				text-decoration: none;
			}
		}

		.menu--reverse & {
			border-right: 1px solid @color-border;
			border-left: 0;
		}

		.menu--footer & {
			border-left: 0;

			a {
				color: @color-f;

				&:hover {
					color: @color-f;
					text-decoration: underline;
				}
			}
		}

	}
}