/*
Wrap box
===========
More visible wrapping box

	<div class="wrap-box">
		Some content
	</div>
*/

.wrap-box {
	display: block;
	margin-bottom: @margin-gap;
	padding: @margin-gap;

	background: @bg-box;
}