/*
Wrap lines
===========
Wrapping box with lines on top and bottom

	<div class="wrap-lines">
		Some content
	</div>
*/

.wrap-lines {
	display: block;
	margin-bottom: @margin-gap;
	padding: @margin-gap;

	border-top: 1px solid @color-border;
	border-bottom: 1px solid @color-border;
}
