/*******************************************************************
// TIMESTAMP
*******************************************************************/
@timestamp: "?v=`( new Date() ).getTime()`";

/*******************************************************************
// PATHS
*******************************************************************/
@path-design: '../images';
@path-font: '../fonts';


/*******************************************************************
// FONTS
*******************************************************************/
@font-base: Arial, Helvetica, sans-serif;
@font: @font-base;

@font-size: 13px;


/*******************************************************************
// SIZES
*******************************************************************/
@width-web: 100%;
@width-panel: 235px;

@width-content: 1100px;

@height-header: 52px;
@height-fixed-bar: 52px;

@item-gap: 25px;

/*******************************************************************
// COLORS
*******************************************************************/
@color-0: #000;
@color-1: #111;
@color-2: #222;
@color-3: #333;
@color-4: #444;
@color-5: #555;
@color-6: #666;
@color-7: #777;
@color-8: #888;
@color-9: #999;
@color-a: #aaa;
@color-b: #bbb;
@color-c: #ccc;
@color-d: #ddd;
@color-e: #eee;
@color-f: #fff;

@color-fa: #fafafa;

@color-grey-dark: #cacaca;
@color-grey: #dadada;
@color-grey-light: #eaeaea;

@color-blue: #0F00A0;
@color-light-blue: #009AFF;
@color-green: #00CDBE;
@color-orange: #FCBD46;
@color-red: #D60000;
@color-yellow: #FFDD0E;

// context colors
@color-base: #31454D;
@color-desc: @color-5;

@color-primary: @color-blue;
@color-additional: @color-green;

@color-info: @color-green;
@color-alert: @color-red;
@color-warning: @color-orange;

@color-link: @color-blue;
@color-link-hover: @color-base;

@color-alterlink: @color-f;
@color-alterlink-hover: @color-yellow;

@color-darklink: #818d92;
@color-darklink-hover: @color-blue;

@color-border: #DCDFE0;
@color-border-dark: #CCD0D4;
@color-border-darker: #C1CDD1;
@color-border-blue: @color-blue;

@color-inactive: #BCC2C5;
@color-hint: #66757B;
@color-action: #66757b;
@color-move: #818d92;

@bg-web: #CCD0D4;
@bg-page: #EDF2F4;
@bg-box: @color-f;
@bg-window: @color-f;
@bg-table: #dbe3e5;
@bg-stripe: #e5ecf3;
@bg-primary: @color-primary;
@bg-primary-dark: #0573a0;
@bg-primary-darker: #0487bc;
@bg-bread: #E1E8EB;
@bg-input-icon: #EBECED;
@bg-upload: #EBECED;
@bg-dark: #dee4e7;

@bg-success: #dff0d8;
@bg-info: fade(@color-light-blue, 10%);
@bg-warning: #fcf8e3;
@bg-alert: #FFEDED;
@bg-light: #f8f8f8;
@bg-edit: #faffd7;

// message colors
@color-message-alert: #F7D6D6;
@color-message-warning: #FFE7AD;
@color-message-info: #BAE3F2;
@color-message-success: @color-green;

@color-message-alert-text: @color-red;
@color-message-warning-text: #735204;
@color-message-info-text: #005B7E;
@color-message-success-text: @color-f;


/*******************************************************************
// OTHER
*******************************************************************/
@transition-type: cubic-bezier(.61, .20, .48, 1.0);
@transition-time: 0.3s;
@transition: @transition-time @transition-type;

@postfixes: -tablet, -mobile, -mobile-small;


/*******************************************************************
// POPUP WINDOWS
*******************************************************************/
@window-width: 400px;
@window-height: 116px;

@window-preview-width: 650px;
@window-preview-height: 150px;

@window-wide-width: 900px;
@window-wide-height: auto;

@window-wide-float-width: 600px;
@window-wide-float-height: 250px;
/*******************************************************************
// RESPONSIVE POINTS
*******************************************************************/
@respons-1: 320px;
@respons-1-a: (@respons-1 - 1);
@respons-2: 480px;
@respons-2-a: (@respons-2 - 1);
@respons-3: 600px;
@respons-3-a: (@respons-3 - 1);
@respons-4: 768px;
@respons-4-a: (@respons-4 - 1);
@respons-5: @width-web;
@respons-5-a: (@respons-5 - 1);

/*******************************************************************
// MEDIA QUERIES
*******************************************************************/
@query-xs: ~"only screen and (min-width: @{respons-1})";
@query-sm: ~"only screen and (min-width: @{respons-2})";
@query-md: ~"only screen and (min-width: @{respons-3})";
@query-lg: ~"only screen and (min-width: @{respons-4})";
@query-xl: ~"only screen and (min-width: @{respons-5})";

@query-mobile-xs: ~"only screen and (max-width: @{respons-2-a})";
@query-mobile: ~"only screen and (max-width: @{respons-3-a})";
@query-tablet: ~"only screen and (max-width: @{respons-4-a})";
@query-tablet-only: ~"only screen and (min-width: @{respons-3}) and (max-width: @{respons-4-a})";
@query-not-large-desktop: ~"only screen and (max-width: @{respons-5-a})";
