/*
Buttons control
================
Box for 2 navigating buttons, back and confirm

	<div class="buttons-control">
		<a href="#" class="button button--alter buttons-control__left">Back</a>
		<a href="#" class="button button--large buttons-control__right">Confirm</a>
	</div>
*/

.buttons-control {
	.cfx();
	margin-bottom: 20px;
}

.buttons-control__left {
	float: left;
	margin-top: 5px;
}

.buttons-control__right {
	float: right;
}