// colors

@color-base:					#333;
@color-primary:					#138ee4;

@color-info:					#1fa322;
@color-alert:					#d42244;

@gray-darker:            		lighten(#000, 13.5%); // #222
@gray-dark:              		lighten(#000, 20%);   // #333
@gray:                   		lighten(#000, 33.5%); // #555
@gray-light:             		lighten(#000, 60%);   // #999
@gray-lighter:           		lighten(#000, 93.5%); // #eee

@color-link:					@color-primary;
@color-link-hover:				@color-base;

@color-border:					@gray-lighter;



// backgrounds
@bg-web:						@gray-lighter;
@bg-page:						#fff;
@bg-box:						#fafafa;



// fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,latin-ext);

@font:							'Open Sans', Arial, Helvetica, sans-serif;
@font-title:					'Roboto Condensed', Arial, Helvetica, sans-serif;

@font-size:						14px;



// radius
@border-radius-base:        	4px;
@border-radius-large:       	6px;
@border-radius-small:       	3px;


// widths heights
@width-page:					1140px;


// transition
@transition: 					cubic-bezier(.61, .20, .48, 1.01);
@transition-time: 				0.3s;