/*
Form choice
===========
Form inline construction for checkboxes or radios

*/

.form-choice {
	display: inline-block;
	padding-right: 10px;
	padding-top: 6px;
	padding: 6px;

	&__input {
		position: relative;
		top: 1px;
		margin-right: 5px;
	}
}