/*
Form choice
===========
Form inline construction for checkboxes or radios

*/

.form-choice {
	display: inline-block;
	vertical-align: top;
	padding: 6px 12px 6px 18px;
	position: relative;

	&__input {
		position: absolute;
		top: 8px;
		left: 0;
	}

	&__label {
		line-height: 18px;
	}
}
