/*
Form line
===========
Form field constructions, with many variants and uses

*/

.form-line {
	.cfx();
	padding: 10px 15px 10px 15px;
	position: relative;

	border: 1px solid @color-border;
	background: @color-f;

	& + .form-line {
		border-top: 0;
	}

	&--error {
		background: lighten(@color-red, 55%);
	}

	&__title {
		padding: 15px;
		position: relative;

		background: @bg-primary;
		border-bottom: 1px solid darken(@bg-primary, 5%);
		color: @color-f;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;

		&__click {
			float: right;
			cursor: pointer;
			margin: -15px -15px -15px 0;
			padding: 15px;
			width: 45px;
			height: 50px;
			line-height: 16px;

			text-align: center;
			font-size: 28px;
			background: darken(@bg-primary, 5%);
		}
	}

	&__label {
		width: 230px;
		padding: 6px 10px 6px 0;
		float: left;

		font-weight: bold;
	}

	&__side {
		margin-left: 230px;
	}

	&__item {
		display: inline-block;
		padding-right: 10px;
		position: relative;

		&--text {
			padding-top: 6px;
			padding-bottom: 6px;
		}

		&--btn {
			padding-top: 3px;
			padding-bottom: 3px;
		}

		&--alone {
			margin-top: 6px;
			margin-bottom: 6px;
			display: block;
		}

		&--right {
			float: right;
			padding-right: 0;
			padding-left: 10px;
		}

		&--compulsory {
			position: absolute;
			top: 16px;
			left: -9px;
			width: 18px;
			height: 18px;
			line-height: 22px;
			padding: 0;
			z-index: 2;

			text-align: center;
			font-size: 18px;
			background: @color-f;
			border: 1px solid @color-border;
			color: @color-red;

			.border-radius(50%);
		}

		&--error {
			position: absolute;
			top: 14px;
			left: -12px;
			width: 24px;
			height: 24px;
			line-height: 18px;
			padding: 0;
			z-index: 3;

			text-align: center;
			font-size: 18px;
			background: @color-f;
			border: 1px solid @color-border;
			color: @color-red;

			.border-radius(50%);

			i {
				position: relative;
				left: 1px;
			}
		}
	}

	&__line {
		clear: left;
		margin-top: 10px;
	}
}.form-line__label--with-image {
	padding-left: 25px;
}
.form-line__image {
	position: absolute;
	top: 5px;
	left: 0;
	width: 25px;
	display: block;

	text-align: center;
}