.form-type-and-go {
	position: relative;

	&__input {
		padding-right: 30px;
	}

	&__btn {
		padding: 0;
		width: 30px;
		position: absolute;
		top: 3px;
		right: 3px;
		width: 27px;
		height: 27px;

		text-align: center;
	}
}