{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Nástěnka'|trans }}{% endblock %}
{% block h1 %}{{ 'Nástěnka'|trans }}{% endblock %}

{% block main_content %}

	<div class="form-line">
		<div class="form-line__label">
			Label:
		</div>

		<div class="form-line__side">
			<div class="form-line__item form-line__item--text">
				Field text
			</div>
		</div>
	</div>

	<div class="form-line form-line--error mb20">
		<div class="form-line__label">
			Label and error:
		</div>

		<div class="form-line__side">
			<div class="form-line__item">
				<input type="text" class="inp">
			</div>

			<div class="form-line__item form-line__item--right form-line__item--btn">
				<button class="btn">
					<span class="btn__icon">
						<span class="sprite sprite-plus"></span>
					</span>
					Add one more
				</button>
			</div>
			<div class="form-line__item form-line__item--error">
				<i class="svg svg-circle-remove"></i>
				<div class="in-message in-message--error in-message--pin">
					Text of floated alert
					<span class="in-message__close">x</span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-line__group">
		<div class="form-line__title">
			Title of group
			<span class="form-line__title__click">
				-
			</span>
		</div>

		<div class="form-line">
			<div class="form-line__label">
				Label and compulsory:
			</div>
			<div class="form-line__side">
				<div class="form-line__item form-line__item--text">
					Field text
				</div>
				<div class="form-line__item form-line__item--compulsory">
					<span class="sprite sprite-star"></span>
				</div>
			</div>
		</div>

		<div class="form-line">
			<div class="form-line__label">
				Label:
			</div>
			<div class="form-line__side">
				<div class="form-line__item">
					<select class="inp" name="" id="">
						<option value="">1</option>
						<option value="">2</option>
						<option value="">3</option>
					</select>
				</div>
			</div>
		</div>

		<div class="form-line">
			<div class="form-line__label">
				Label:
			</div>
			<div class="form-line__side">
				<div class="form-line__item">
					<input type="text" class="inp">
				</div>
				<div class="form-line__item form-line__item--text">
					text after
				</div>
			</div>
		</div>

		<div class="form-line">
			<div class="form-line__label">
				Label:
			</div>
			<div class="form-line__side">
				<div class="form-line__item">
					<label class="form-choice">
						<input type="radio" class="inp-choice form-choice__input">
						yes
					</label>
					<label class="form-choice">
						<input type="radio" class="inp-choice form-choice__input">
						no
					</label>
				</div>
				<div class="form-line__item form-line__item--alone">
					<div class="in-message in-message--info">
						<i class="svg svg-info"></i> info message
					</div>
				</div>
			</div>
		</div>

		<div class="form-line">
			<div class="form-line__label">
				Label:
			</div>
			<div class="form-line__side">
				<div class="form-line__item form-line__item--alone">
					<div class="form-choice-list">
						<label class="form-choice-list__item">
							<input type="checkbox" class="inp-choice form-choice-list__input">
							yes
						</label>
						<label class="form-choice-list__item">
							<input type="checkbox" class="inp-choice form-choice-list__input">
							<span class="form-choice-list__icon"><img src="http://placehold.it/120x36" alt=""></span>
							no
						</label>
					</div>
				</div>
				<div class="form-line__item form-line__item--alone">
					<div class="in-message in-message--warning">
						warning message
					</div>
				</div>
			</div>
		</div>

		<div class="form-line">
			<div class="form-line__label">
				Label for date:
			</div>
			<div class="form-line__side">
				<div class="form-line__item">
					<div class="inp__wrap">
						<input type="date" class="inp inp--iconic">
						<span class="inp__icon">
							<i class="svg svg-calendar-1"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="form-line">
			<div class="form-line__label">
				Label tree:
			</div>
			<div class="form-line__side">
				<div class="form-line__item form-line__item--btn form-line__item--right">
					<button class="btn">
						<i class="btn__icon svg svg-gear"></i>
						Set something
					</button>
				</div>
			</div>
			<div class="form-line__line">
				<div class="form-tree">
					<div class="form-tree__title">
						<span class="form-tree__title__image">
							<img src="http://placehold.it/120x36" alt="">
						</span>

						<span class="form-tree__title__name">domain.name</span>

						<span class="form-tree__title__arrow"></span>
					</div>
					<ul class="form-tree__content">
					</ul>
				</div>
			</div>
		</div>


		<div class="form-line">
			<div class="form-line__label">
				Label tree:
			</div>
			<div class="form-line__side">
				<div class="form-line__item form-line__item--btn form-line__item--right">
					<button class="btn">
						<i class="btn__icon svg svg-gear"></i>
						Set something
					</button>
				</div>
			</div>
			<div class="form-line__line">
				<div class="form-tree form-tree--open">
					<div class="form-tree__title">
						<span class="form-tree__title__image">
							<img src="http://placehold.it/120x36" alt="">
						</span>

						<span class="form-tree__title__name">domain.name</span>

						<span class="form-tree__title__arrow"></span>
					</div>
					<ul class="form-tree__content">
						<li class="form-tree__item">
							<div class="form-tree__item__click">
								<span class="form-tree__item__name">Item name here</span>
							</div>

							<ul class="form-tree__item__sub">
								<li class="form-tree__item">
									<div class="form-tree__item__click">
										<span class="form-tree__item__icon sprite sprite-level"></span>
										<span class="form-tree__item__name">Item name here</span>
									</div>
								</li>
								<li class="form-tree__item">
									<div class="form-tree__item__click form-tree__item__click--active">
										<span class="form-tree__item__icon sprite sprite-level"></span>
										<span class="form-tree__item__name">Item name here</span>
									</div>
									<ul class="form-tree__item__sub">
										<li class="form-tree__item">
											<div class="form-tree__item__click">
												<span class="form-tree__item__icon sprite sprite-level"></span>
												<span class="form-tree__item__name">Item name here</span>
											</div>
										</li>
										<li class="form-tree__item">
											<div class="form-tree__item__click">
												<span class="form-tree__item__icon sprite sprite-level"></span>
												<span class="form-tree__item__name">Item name here</span>
											</div>
										</li>
										<li class="form-tree__item">
											<div class="form-tree__item__click">
												<span class="form-tree__item__icon sprite sprite-level"></span>
												<span class="form-tree__item__name">Item name here</span>
											</div>
										</li>
									</ul>
								</li>
								<li class="form-tree__item">
									<div class="form-tree__item__click">
										<span class="form-tree__item__icon sprite sprite-level"></span>
										<span class="form-tree__item__name">Item name here</span>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

{% endblock %}