{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Nástěnka'|trans }}{% endblock %}
{% block h1 %}{{ 'Nástěnka'|trans }}{% endblock %}

{% block main_content %}
	<div class="wrap-border">
		<div class="form-full">
			<div class="form-full__title">
				<div class="form-full__title__in">Title name</div>
				<div class="form-full__title__buttons in-switch">
					<strong class="in-switch__title">
						Show domains:
					</strong>

					<ul class="in-switch__list">
						<li class="in-switch__list__item in-switch__list__item--active">
							<span class="in-switch__list__item__in">
								<img src="http://placehold.it/120x36" alt="">
							</span>
						</li>
						<li class="in-switch__list__item in-switch__list__item--active">
							<span class="in-switch__list__item__in">
								<img src="http://placehold.it/120x36" alt="">
							</span>
						</li>
						<li class="in-switch__list__item">
							<span class="in-switch__list__item__in">
								<img src="http://placehold.it/120x36" alt="">
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="form-full__field">
				<div class="form-full__field__item form-full__field__item--compulsory form-compulsory">
					<span class="sprite sprite-star"></span>
				</div>
				<div class="inp__wrap">
					<input type="text" class="inp inp--domain form-full__field__input">
					<span class="inp__domain">
						<img src="http://placehold.it/120x36" alt="">
					</span>
				</div>
			</div>

			<div class="form-full__field">
				<div class="form-full__field__item form-full__field__item--compulsory form-compulsory">
					<span class="sprite sprite-star"></span>
				</div>
				<div class="form-full__field__item form-full__field__item--error form-error">
					<span class="svg svg-circle-remove"></span>
					<div class="in-message in-message--error in-message--pin">
						Text of floated alert
						<span class="in-message__close">x</span>
					</div>
				</div>
				<div class="inp__wrap">
					<input type="text" class="inp inp--domain form-full__field__input">
					<span class="inp__domain">
						<img src="http://placehold.it/120x36" alt="">
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-line">
		<div class="form-line__label">
			Label:
		</div>

		<div class="form-line__side">
			<div class="form-line__item form-line__item--text">
				Field text
			</div>
		</div>
	</div>

	<div class="form-line form-line--error mb20">
		<div class="form-line__label">
			Label and error:
		</div>

		<div class="form-line__side">
			<div class="form-line__item">
				<input type="text" class="inp">
			</div>

			<div class="form-line__item form-line__item--right form-line__item--btn">
				<button class="btn">
					<span class="btn__icon">
						<span class="sprite sprite-plus"></span>
					</span>
					Add one more
				</button>
			</div>
			<div class="form-line__item form-line__item--error form-error">
				<span class="svg svg-circle-remove"></span>
				<div class="in-message in-message--error in-message--pin">
					Text of floated alert
					<span class="in-message__close">x</span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group mb20">
		<div class="form-group__title">
			Title of group
			<span class="form-group__title__click">
				-
			</span>
		</div>

		<div class="form-line">
			<div class="form-line__label">
				Label and compulsory:
			</div>
			<div class="form-line__side">
				<div class="form-line__item form-line__item--text">
					Field text
				</div>
				<div class="form-line__item form-line__item--compulsory form-compulsory">
					<span class="sprite sprite-star"></span>
				</div>
			</div>
		</div>

		<div class="form-line">
			<div class="form-line__label">
				Label:
			</div>
			<div class="form-line__side">
				<div class="form-line__item">
					<select class="inp" name="" id="">
						<option value="">1</option>
						<option value="">2</option>
						<option value="">3</option>
					</select>
				</div>
			</div>
		</div>

		<div class="form-line">
			<div class="form-line__label">
				Label:
			</div>
			<div class="form-line__side">
				<div class="form-line__item">
					<input type="text" class="inp">
				</div>
				<div class="form-line__item form-line__item--text">
					text after
				</div>
			</div>
		</div>

		<div class="form-line">
			<div class="form-line__label">
				Label:
			</div>
			<div class="form-line__side">
				<div class="form-line__item">
					<label class="form-choice">
						<input type="radio" class="inp-choice form-choice__input">
						yes
					</label>
					<label class="form-choice">
						<input type="radio" class="inp-choice form-choice__input">
						no
					</label>
				</div>
				<div class="form-line__item form-line__item--alone">
					<div class="in-message in-message--info">
						<i class="svg svg-info"></i> info message
					</div>
				</div>
			</div>
		</div>

		<div class="form-line">
			<div class="form-line__label">
				Label:
			</div>
			<div class="form-line__side">
				<div class="form-line__item form-line__item--alone">
					<div class="form-choice-list">
						<label class="form-choice-list__item">
							<input type="checkbox" class="inp-choice form-choice-list__input">
							yes
						</label>
						<label class="form-choice-list__item">
							<input type="checkbox" class="inp-choice form-choice-list__input">
							<span class="form-choice-list__icon"><img src="http://placehold.it/120x36" alt=""></span>
							no
						</label>
					</div>
				</div>
				<div class="form-line__item form-line__item--alone">
					<div class="in-message in-message--warning">
						<i class="svg svg-warning"></i> warning message
					</div>
				</div>
			</div>
		</div>

		<div class="form-line">
			<div class="form-line__label">
				Label for date:
			</div>
			<div class="form-line__side">
				<div class="form-line__item">
					<div class="inp__wrap">
						<input type="date" class="inp inp--iconic">
						<span class="inp__icon">
							<i class="svg svg-calendar-1"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="form-line">
			<div class="form-line__label">
				Label tree:
			</div>
			<div class="form-line__side">
				<div class="form-line__item form-line__item--btn form-line__item--right">
					<button class="btn">
						<i class="btn__icon svg svg-gear"></i>
						Set something
					</button>
				</div>
			</div>
			<div class="form-line__line">
				<div class="form-tree">
					<div class="form-tree__title">
						<span class="form-tree__title__image">
							<img src="http://placehold.it/120x36" alt="">
						</span>

						<span class="form-tree__title__name">domain.name</span>

						<span class="form-tree__title__arrow"></span>
					</div>
					<ul class="form-tree__content">
					</ul>
				</div>
			</div>
		</div>


		<div class="form-line">
			<div class="form-line__label">
				Label tree:
			</div>
			<div class="form-line__side">
				<div class="form-line__item form-line__item--btn form-line__item--right">
					<button class="btn">
						<i class="btn__icon svg svg-gear"></i>
						Set something
					</button>
				</div>
			</div>
			<div class="form-line__line">
				<div class="form-tree form-tree--open">
					<div class="form-tree__title">
						<span class="form-tree__title__image">
							<img src="http://placehold.it/120x36" alt="">
						</span>

						<span class="form-tree__title__name">domain.name</span>

						<span class="form-tree__title__arrow"></span>
					</div>
					<ul class="form-tree__content">
						<li class="form-tree__item">
							<div class="form-tree__item__click">
								<span class="form-tree__item__name">Item name here</span>
							</div>

							<ul class="form-tree__item__sub">
								<li class="form-tree__item">
									<div class="form-tree__item__click">
										<span class="form-tree__item__icon sprite sprite-level"></span>
										<span class="form-tree__item__name">Item name here</span>
									</div>
								</li>
								<li class="form-tree__item">
									<div class="form-tree__item__click form-tree__item__click--active">
										<span class="form-tree__item__icon sprite sprite-level"></span>
										<span class="form-tree__item__name">Item name here</span>
									</div>
									<ul class="form-tree__item__sub">
										<li class="form-tree__item">
											<div class="form-tree__item__click">
												<span class="form-tree__item__icon sprite sprite-level"></span>
												<span class="form-tree__item__name">Item name here</span>
											</div>
										</li>
										<li class="form-tree__item">
											<div class="form-tree__item__click">
												<span class="form-tree__item__icon sprite sprite-level"></span>
												<span class="form-tree__item__name">Item name here</span>
											</div>
										</li>
										<li class="form-tree__item">
											<div class="form-tree__item__click">
												<span class="form-tree__item__icon sprite sprite-level"></span>
												<span class="form-tree__item__name">Item name here</span>
											</div>
										</li>
									</ul>
								</li>
								<li class="form-tree__item">
									<div class="form-tree__item__click">
										<span class="form-tree__item__icon sprite sprite-level"></span>
										<span class="form-tree__item__name">Item name here</span>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<table class="table-grid mb20">
		<thead>
			<tr>
				<th class="table-grid__cell table-grid__cell--choice">
					<input type="checkbox" class="inp-choice">
				</th>
				<th class="table-grid__cell">
					HText
				</th>
				<th class="table-grid__cell">
					HText
				</th>
				<th class="table-grid__cell">
					HText
				</th>
				<th class="table-grid__cell table-grid__cell--actions">
					Actions
				</th>
			</tr>
		</thead>

		<tbody>
			<tr class="table-grid__row">
				<td class="table-grid__cell table-grid__cell--choice">
					<input type="checkbox" class="inp-choice">
				</td>
				<td class="table-grid__cell">
					Text
				</td>
				<td class="table-grid__cell">
					<input type="text" class="inp">
				</td>
				<td class="table-grid__cell">
					Text
				</td>
				<td class="table-grid__cell table-grid__cell--actions">
					<a href="">Edit</a>
				</td>
			</tr>
			<tr class="table-grid__row table-grid__row--edit">
				<td class="table-grid__cell table-grid__cell--choice">
					<input type="checkbox" class="inp-choice">
				</td>
				<td class="table-grid__cell">
					Text
				</td>
				<td class="table-grid__cell">
					<input type="text" class="inp">
				</td>
				<td class="table-grid__cell">
					Text
				</td>
				<td class="table-grid__cell table-grid__cell--actions">
					<a href="">Edit</a>
				</td>
			</tr>
			<tr class="table-grid__row">
				<td class="table-grid__cell table-grid__cell--choice">
					<input type="checkbox" class="inp-choice">
				</td>
				<td class="table-grid__cell">
					Text
				</td>
				<td class="table-grid__cell">
					<input type="text" class="inp">
				</td>
				<td class="table-grid__cell">
					Text
				</td>
				<td class="table-grid__cell table-grid__cell--actions">
					<a href="">Edit</a>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="table-main mb20">
		<thead>
			<tr>
				<th>Title</th>
				<th>Title</th>
				<th>Title</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Content</td>
				<td>Content content and content, content content and content, content content and content </td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Content</td>
				<td>Content content and content, content content and content, content content and content </td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Content</td>
				<td>Content content and content, content content and content, content content and content </td>
				<td>Yes</td>
			</tr>
		</tbody>
	</table>


	<div class="form-group wrap-border">
		<div class="form-group__title">
			Title of group
			<span class="form-group__title__click">
				-
			</span>
		</div>

		<div class="form-line">
			<div class="form-line__label">
				Label and compulsory:
			</div>
			<div class="form-line__side">
				<div class="form-line__item form-line__item--text">
					Field text
				</div>
				<div class="form-line__item form-line__item--compulsory form-compulsory">
					<span class="sprite sprite-star"></span>
				</div>
			</div>
		</div>
		<div class="table-form__wrap">
			<table class="table-form mb10">
				<thead>
					<tr>
						<th class="table-form__cell table-form__cell--label">

						</th>
						<th class="table-form__cell table-form__cell--field">
							Vstupní cena bez DPH
						</th>
						<th class="table-form__cell">
							Cena bez DPH
						</th>
						<th class="table-form__cell">
							Cena s DPH
						</th>
					</tr>
				</thead>

				<tbody>
					<tr class="table-form__row">
						<td class="table-form__cell table-form__cell--label">
							Label
						</td>
						<td class="table-form__cell table-form__cell--field">
							<input type="text" class="inp"> Kč
						</td>
						<td class="table-form__cell">
							3 333 Kč
						</td>
						<td class="table-form__cell">
							3 833 Kč
						</td>
					</tr>
					<tr class="table-form__row table-form__row--group">
						<td class="table-form__cell" colspan="4">
							<span class="table-form__cell__image">
								<img src="http://placehold.it/350x150" alt="">
							</span>
							<strong class="table-form__cell__group-name">domain.sk</strong>
						</td>
					</tr>
					<tr class="table-form__row">
						<td class="table-form__cell table-form__cell--label">
							Label
						</td>
						<td class="table-form__cell table-form__cell--field">
						</td>
						<td class="table-form__cell">
							3 333 Kč
						</td>
						<td class="table-form__cell">
							3 833 Kč
						</td>
					</tr>

					<tr class="table-form__row">
						<td class="table-form__cell table-form__cell--label">
							Label
						</td>
						<td class="table-form__cell table-form__cell--field">
						</td>
						<td class="table-form__cell">
							3 333 Kč
						</td>
						<td class="table-form__cell">
							3 833 Kč
						</td>
					</tr>

					<tr class="table-form__row table-form__row--group">
						<td class="table-form__cell" colspan="4">
							<span class="table-form__cell__image">
								<img src="http://placehold.it/350x150" alt="">
							</span>
							<strong class="table-form__cell__group-name">domain.cz</strong>
						</td>
					</tr>

					<tr class="table-form__row">
						<td class="table-form__cell table-form__cell--label">
							Label
						</td>
						<td class="table-form__cell table-form__cell--field">
						</td>
						<td class="table-form__cell">
							3 333 Kč
						</td>
						<td class="table-form__cell">
							3 833 Kč
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="form-group mb20">
		<div class="form-group__title">
			Title of group
			<span class="form-group__title__click">
				-
			</span>

			<div class="form-group__title__buttons in-switch in-switch--muted">
					<strong class="in-switch__title">
						Show domains:
					</strong>

					<ul class="in-switch__list">
						<li class="in-switch__list__item in-switch__list__item--active">
							<span class="in-switch__list__item__in">
								<img src="http://placehold.it/350x150" alt="">
							</span>
						</li>
						<li class="in-switch__list__item in-switch__list__item--active">
							<span class="in-switch__list__item__in">
								<img src="http://placehold.it/350x150" alt="">
							</span>
						</li>
						<li class="in-switch__list__item">
							<span class="in-switch__list__item__in">
								<img src="http://placehold.it/350x150" alt="">
							</span>
						</li>
					</ul>
				</div>
		</div>

		<div class="form-line form-line--no-padd">
			<div class="form-line__group">
				<span class="form-line__group__image">
					<img src="http://placehold.it/350x150" alt="">
				</span>
				<strong class="form-line__group__name">domain.cz</strong>
			</div>
		</div>

		<div class="form-line">
			<div class="form-line__line__line">
				WYSIWYG
			</div>
		</div>

		<div class="form-line">
			<div class="form-line__line__line">
				<label class="form-choice">
					<input type="checkbox" class="form-choice__input">
					<strong>Checkbox label</strong>
				</label>
			</div>
		</div>

		<div class="form-line">
			<div class="form-line__label">
				Label and long input:
			</div>

			<div class="form-line__side">
				<div class="form-line__item form-line__item--left">
					<div class="inp__wrap">
						<input type="text" class="inp inp--domain">
						<div class="inp__domain">
							<img src="http://placehold.it/120x36" alt="">
						</div>
					</div>
				</div>

				<div class="form-line__item__count">
					<span class="form-line__item__count__val">
						<span>42</span>
					</span>
					<span class="form-line__item__count__desc">
						characters from 60 recomended for descryption
					</span>
				</div>
			</div>
		</div>

		<div class="form-line">
			<div class="form-line__label">
				Label alone and boxes:
			</div>

			<div class="form-line__line">
				<div class="form-line__box">
					<div class="form-line__box__title">
						<span class="form-line__box__title__image">
							<img alt="" src="http://placehold.it/350x150">
						</span>
						<strong class="form-line__box__title__name">domain.cz</strong>
					</div>
					<div class="form-line__box__content">
						<div class="form-choice-list">
							<label class="form-choice-list__item">
								<input type="radio" class="form-choice-list__input" name="type">
								http://domain.sk/product/5/
								<span class="svg svg-circle-remove form-choice-list__item__remove"></span>
							</label>
							<label class="form-choice-list__item">
								<input type="radio" class="form-choice-list__input" name="type">
								http://domain.sk/product/77/
								<span class="svg svg-circle-remove form-choice-list__item__remove"></span>
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class="form-line__line">
				<div class="form-line__box">
					<div class="form-line__box__title">
						<span class="form-line__box__title__image">
							<img alt="" src="http://placehold.it/350x150">
						</span>
						<strong class="form-line__box__title__name">domain.sk</strong>
					</div>
					<div class="form-line__box__content">
						<div class="form-choice-list">
							<label class="form-choice-list__item">
								<input type="radio" class="form-choice-list__input" name="type">
								http://domain.sk/product/5/
								<span class="svg svg-circle-remove form-choice-list__item__remove"></span>
							</label>
							<label class="form-choice-list__item">
								<input type="radio" class="form-choice-list__input" name="type">
								http://domain.sk/product/77/
								<span class="svg svg-circle-remove form-choice-list__item__remove"></span>
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class="mt10">

				<a href="" class="btn">
					<span class="btn__icon">
						<span class="sprite sprite-plus"></span>
					</span>
					Add url
				</a>
			</div>

		</div>

	</div>

	<div class="form-group">
		<div class="form-group__title">
			Title of parameters
			<span class="form-group__title__click">
				-
			</span>
		</div>

		<div class="form-group__error form-error">
			<span class="svg svg-circle-remove"></span>
			<div class="in-message in-message--error in-message--pin">
				Text of floated alert
				<span class="in-message__close">x</span>
			</div>
		</div>

		<table class="table-form">
			<thead>
				<tr class="table-form__row">
					<th class="table-form__cell table-form__cell--label table-form__cell--del-before">Param</th>
					<th class="table-form__cell table-form__cell--del"></th>
					<th class="table-form__cell table-form__cell--del-after">Value</th>
					<th class="table-form__cell table-form__cell--actions"></th>
				</tr>
			</thead>

			<tbody>
				<tr class="table-form__row">
					<td class="table-form__cell table-form__cell--del-before">
						<select name="" id="" class="inp"><option value="">none</option></select>
					</td>
					<td class="table-form__cell table-form__cell--del">
						<span class="svg svg-arrow-thick-right"></span>
					</td>
					<td class="table-form__cell table-form__cell--del-after">
						<div class="inp__wrap">
							<input type="text" class="inp inp--flag">
							<div class="inp__flag">
								<img alt="" src="http://placehold.it/350x150">
							</div>
						</div>
					</td>
					<td class="table-form__cell table-form__cell--actions">
						<a href="" class="svg svg-circle-remove"></a>
					</td>
				</tr>
				<tr class="table-form__row">
					<td class="table-form__cell table-form__cell--del-before">
						<select name="" id="" class="inp"><option value="">none</option></select>
					</td>
					<td class="table-form__cell table-form__cell--del">
						<span class="svg svg-arrow-thick-right"></span>
					</td>
					<td class="table-form__cell table-form__cell--del-after">
						<div class="inp__wrap">
							<input type="text" class="inp inp--flag">
							<div class="inp__flag">
								<img alt="" src="http://placehold.it/350x150">
							</div>
						</div>
						<div class="inp__wrap">
							<input type="text" class="inp inp--flag">
							<div class="inp__flag">
								<img alt="" src="http://placehold.it/350x150">
							</div>
						</div>
					</td>
					<td class="table-form__cell table-form__cell--actions">
						<a href="" class="svg svg-circle-remove"></a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

{% endblock %}