{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}Superadmin - cenotvorba{% endblock %}
{% block h1 %}Superadmin - cenotvorba{% endblock %}

{% block main_content %}
	<div class="row">
		<div class="col-xs-12 col-lg-10">
			{{ form_start(form) }}
				<div class="wrap-group">
					{{ form_row(form.type, { 'label': 'Typ vstupní ceny' }) }}
				</div>

				{{ form_widget(form.save, { label: 'Uložit změny'}) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}