<div class="wrap-bar">
	<h2>Platby</h2>

	<a href="{{ url('admin_payment_new') }}" class="btn btn--plus">
		<i class="btn__icon btn__icon--plus">+</i>{{ 'Vytvořit platbu'|trans }}
	</a>
</div>

{{ gridView.render() }}
