{% extends 'SS6AdminBundle:Layout:layoutWithPanel.html.twig' %}

{% block title %}- Seznam zboží{% endblock %}
{% block h1 %}Seznam zboží{% endblock %}

{% block panel %}
	<ul class="nav nav-panel">
		<li>
			<span>Seznam zboží</span>
		</li>
	</ul>
{% endblock %}

{% block mainContent %}
	
	<a href="{{ url('admin_product_new') }}" class="btn btn-primary mb-1">Vytvořit nové zboží</a>
	
	{{ grid(grid, 'SS6AdminBundle:Content/Product:listGrid.html.twig') }}
{% endblock %}