{% extends 'SS6AdminBundle:Layout:layout.html.twig' %}

{% block title %}- Seznam zboží{% endblock %}
{% block h1 %}Seznam zboží{% endblock %}

{% block content %}
	
	<a href="{{ url('admin_product_new') }}">Vytvořit nové zboží</a>
	
	<link rel="stylesheet" href="{{ asset('http://localhost:8080/shopsys6/web/assets/admin/styles/grid.css') }}" />
	{{ grid(grid, 'SS6AdminBundle:Content/Product:listGrid.html.twig') }}
{% endblock %}