<div class="window-fixed-bar">
	<div class="window-fixed-bar__in">
		<div class="window-fixed-bar__item">
			<div class="window-fixed-bar__item__cell">
				{% block fixed_bar_content %}{% endblock %}
			</div>
		</div>
	</div>
</div>