/*
Form box
===========
Special box for wrapping form groups with H2 heading

	<div class="form-box">
		<h2>Form group title</h2>
		<p>Inner content</p>
	</div>

	<div class="form-box">
		<h2>Form group title</h2>
		<p>Inner content</p>
	</div>
*/

.form-box {
	margin-bottom: 40px;
	padding: 20px;

	background: @bg-box;
}

.form-box h2 {
	margin: 0 0 20px;

	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}