.form-line {
	position: relative;
	margin-bottom: 5px;
	.cfx();
}

.form-line .form-line__label {
	float: left;
	width: 180px;
	padding-right: 20px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 0;
	.box-sizing(border-box);

	font-weight: normal;
}

.form-line .form-line__field {
	display: block;
	margin-left: 180px;
	max-width: 340px;
}

.form-line .form-line__text {
	display: block;
	margin-left: 180px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.form-line .form-line__full {
	display: block;
	clear: both;
	margin-bottom: 5px;
}

.form-line--size-0 .form-line__field,
.form-line--size-0 .form-line__text {
	max-width: 60px;
}
.form-line--size-1 .form-line__field,
.form-line--size-1 .form-line__text {
	max-width: 100px;
}

.form-line--size-2 .form-line__field,
.form-line--size-2 .form-line__text {
	max-width: 160px;
}

.form-line--size-3 .form-line__field,
.form-line--size-3 .form-line__text {
	max-width: 220px;
}

.form-line--size-4 .form-line__field,
.form-line--size-4 .form-line__text {
	max-width: 280px;
}