.semaphore {
	width: 12px;
	height: 12px;
	.border-radius(@border-radius-large);
	border: 1px solid @gray-dark;
	display: inline-block;
	margin: 0 3px;
	text-indent: -9999px;
	position: relative;
	top: 1px;
}

.semaphore--true {
	background: @brand-success;
}
.semaphore--maybe {
	background: @brand-warning;
}
.semaphore--false {
	background: @brand-danger;
}