//
// Forms
// --------------------------------------------------

.form-signin {
	max-width: 420px;
	padding: 40px;
	margin: 40px auto 0;
	border: 1px solid @color-border;
	.box-shadow(~"0 0 30px @color-grey");
	.border-top-radius(@border-radius-large);
	.border-bottom-radius(@border-radius-large);
	background: @color-f;
	text-align: center;
	
	input[type="text"] {
		margin-bottom: -1px;
		.border-bottom-radius(0);
	}
	input[type="password"] {
		margin-bottom: 10px;
		.border-top-radius(0);
	}
}

.form-signin-heading {
	font-size: 28px;
	text-align: left;
	font-weight: bold;
	margin-bottom: 20px;
}