{% extends '@SS6Shop/Admin/Layout/base.html.twig' %}

{% block html_body %}
	<div class="web">
		{% block header %}
			<header class="web__header">
				<div class="web__header__in">
					{{ render(controller('SS6ShopBundle:Admin/Menu:menu', {
						route: app.request.get('_route'),
						parameters: app.request.attributes.get('_route_params')
					}	)) }}
				</div>
			</header>
		{% endblock %}

		{% block content %}{% endblock %}

		{% block footer %}{% endblock %}
	</div>
{% endblock %}