{% extends '@SS6Shop/Admin/Layout/base.html.twig' %}

{% block html_body %}
	<div class="navbar navbar navbar-static-top navbar-default">
		<div class="container-fluid">
			{{ render(controller('SS6ShopBundle:Admin/Menu:menu')) }}
		</div>
	</div>

	<div class="content container-fluid">
		<div class="row">
			{% block content %}{% endblock %}
		</div>
	</div>
{% endblock %}