{% extends 'SS6ShopBundle::Admin/Layout/base.html.twig' %}

{% block htmlBody %}
	<div class="content container">
		<div class="main-content">
			{% block content %}{% endblock %}
		</div>
	</div>
{% endblock %}