.position {
	float: left;
	padding: 7px 20px;
	width: @width-panel;

	&__title {
		display: block;

		font-size: 12px;
		font-weight: bold;
	}

	&__actual {
		font-size: 14px;
		font-weight: bold;
	}
}