// helpers


/*******************************************************************
// FLOAT + ALIGN 
*******************************************************************/
.right {
	float: right;
}

.left {
	float: left;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}


/*******************************************************************
// MARGINS + PADDINGS
*******************************************************************/
.mb-0 {
	margin-bottom: 0 !important;
}

.mb-1 {
	margin-bottom: @margin-gap !important;
}

.mb-2 {
	margin-bottom: @margin-gap * 2 !important;
}


.mt-0 {
	margin-top: 0 !important;
}

.mt-1 {
	margin-top: @margin-gap !important;
}

.mt-2 {
	margin-top: @margin-gap * 2 !important;
}