/*******************************************************************
// FONTS
*******************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,latin-ext);

@font: 'Open Sans', Arial, Helvetica, sans-serif;
@font-title: 'Roboto Condensed', Arial, Helvetica, sans-serif;

@font-size: 14px;
@line-height: 20px;


/*******************************************************************
// SIZES
*******************************************************************/
@width-page: 1200px;
@margin-gap: @line-height;


/*******************************************************************
// PATHS
*******************************************************************/
@path-image: '../images';
@path-fonts: '../fonts';


/*******************************************************************
// COLORS
*******************************************************************/
@color-0: #000;
@color-3: #333;
@color-5: #555;
@color-7: #777;
@color-8: #888;
@color-9: #999;
@color-a: #aaa;
@color-c: #ccc;
@color-e: #eee;
@color-f: #fff;

@color-light: #fafafa;

@color-blue: #138ee4;

// context colors
@color-base: @color-3;
@color-desc: @color-5;
@color-primary: @color-blue;

@color-info: #1fa322;
@color-alert: #d42244;

@color-link: @color-blue;
@color-link-hover: @color-base;

@color-alterlink: @color-base;
@color-alterlink-hover: @color-primary;

@color-border: @color-e;
@color-shadow: @color-e;
@color-inactive: lighten(@color-base, 55%);

@bg-web: @color-e;
@bg-page: @color-f;
@bg-box: @color-light;
@bg-window: @color-f;
@bg-table: @color-light;
@bg-primary: @color-blue;

@bg-success: #dff0d8;
@bg-info: #d9edf7;
@bg-warning: #fcf8e3;
@bg-alert: #f2dede;


/*******************************************************************
// RADIUS
*******************************************************************/
@border-radius-base: 4px;
@border-radius-large: 6px;
@border-radius-small: 3px;


/*******************************************************************
// BUTTONS
*******************************************************************/
@button-bg: @bg-primary;
@button-height: 34px;
@button-padding: 0 15px;
@button-color: @color-f;
@button-radius: @border-radius-base;

@button-bg-hover: @color-base;
@button-color-hover: @color-f;

// alter
@button-bg-alter: @color-a;

// large
@button-height-large: 45px;
@button-padding-large: 0 25px;


/*******************************************************************
// POPUP WINDOWS
*******************************************************************/
@window-width: 400px;
@window-height: 150px;


/*******************************************************************
// MEDIA QUERIES
*******************************************************************/
@responsivity-xs: 480px;
@responsivity-sm: 768px;
@responsivity-md: 980px;
@responsivity-lg: @width-page;

@m-query-xs: ~"screen and (min-width: @{responsivity-xs})";
@m-query-sm: ~"screen and (min-width: @{responsivity-sm})";
@m-query-md: ~"screen and (min-width: @{responsivity-md})";
@m-query-lg: ~"screen and (min-width: @{responsivity-lg})";


/*******************************************************************
// OTHER
*******************************************************************/

// transition
@transition: cubic-bezier(.61, .20, .48, 1.0);
@transition-time: 0.3s;

/*******************************************************************
// BOOTSTRAP REWRITE VARIABLES
*******************************************************************/
@input-bg: @color-f;
@input-bg-disabled: @color-e;
@input-color: @color-base;
@input-border: @color-border;

@state-success-bg: @bg-success;
@state-info-bg: @bg-info;
@state-warning-bg: @bg-warning;
@state-danger-bg: @bg-alert;