/*
Table aciton
========
Class for each action, which is in table like font-icon.
It fixes colors for normal state and hover too.
It fixes same width of icons.

	<table class="table">
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>
				<a href="#" class="table-action">
					<i class="fa fa-edit"></i>
				</a>
				<span class="table-action">
					<i class="fa fa-remove"></i>
				</span>
			</td>
		</tr>
	</table>

*/

.table-action {
	display: inline-block;
	width: 18px;
	margin: 0;

	text-align: center;

	.set-transition();
	.transition(all);
}
