<div class="breadcrumbs">
	{% for item in items %}
		<span class="breadcrumbs__item">{{ item.label }}</span>
		{% if not loop.last %}
			<span class="breadcrumbs__separator"> > </span>
		{% endif %}
	{% endfor %}
</div>
