<div class="box-breadcrumb">
	{% for item in items %}
		<span class="box-breadcrumb__item">{{ item.label }}</span>
		{% if not loop.last %}
			<span class="box-breadcrumb__separator"> > </span>
		{% endif %}
	{% endfor %}
</div>
