{% extends '@ShopsysShop/Front/Layout/layout.html.twig' %}

{% block content %}
    <div class="web__main">
        <div class="web__main__content js-main-content">
            {% block breadcrumb %}
                {{ render(controller('ShopsysShopBundle:Front/Breadcrumb:index', { routeName: getRoute(), routeParameters: getRouteParams() } )) }}
            {% endblock %}

            {{ render(controller('ShopsysShopBundle:Front/FlashMessage:index')) }}

            {% block main_content %}{% endblock %}
        </div>
    </div>

    <div class="display-none display-block-tablet">
        {{ render(controller('ShopsysShopBundle:Front/Category:panel', { request: app.request } )) }}
    </div>
{% endblock %}