/*
Checkbox chooser
===============
Checkboxes With image and text on right - typical for payments, shipping

    <div class="chooser">
    	<label class="chooser__item">
			<span class="chooser__ceck">
				<input type="checkbox">
			</span>

			<span class="chooser__image">
				img
			</span>

			<span class="chooser__title">
				Label text
			</span>

			<span class="chooser__price">
				for Free
			</span>
    	</label>
    	<label class="chooser__item chooser__item--active">
			<span class="chooser__ceck">
				<input type="checkbox">
			</span>

			<span class="chooser__image">
				img
			</span>

			<span class="chooser__title">
				Label text
			</span>

			<span class="chooser__price">
				for Free
			</span>
    	</label>
    </div>
*/

.chooser {
	position: relative;
}

.chooser .chooser__item {
	width: 100%;
	margin: 5px 0;
	display: table;

	font-size: 12px;
	cursor: pointer;
	font-weight: normal;
}

.chooser .chooser__item--active span {
	color: @color-primary;
}

.chooser .chooser__item--inactive span {
	color: @color-inactive;
}

.chooser .chooser__check {
	width: 3%;
	.center-it(left);
}

.chooser .chooser__image {
	width: 7%;
	.center-it(left);

	img {
		display: block;
	}
}

.chooser .chooser__title {
	width: 75%;
	.center-it(left);
}

.chooser .chooser__price {
	width: 15%;
	.center-it(right);

	font-weight: bold;
	font-size: 14px;
}