/*
Info box
===========
More visible wrapping box

	<div class="info-box">
		Some content
	</div>
*/

.info-box {
	display: block;
	margin-bottom: @margin-gap;
	padding: @margin-gap;

	background: @bg-box;
}