<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="bootstrap.php.cache"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
>

    <testsuites>
        <testsuite name="Unit">
            <directory>../src/*/*Bundle/Tests/Unit</directory>
        </testsuite>
        <testsuite name="Database">
            <directory>../src/*/*Bundle/Tests/Database</directory>
        </testsuite>
        <testsuite name="Crawler">
            <directory>../src/*/*Bundle/Tests/Crawler</directory>
        </testsuite>
        <testsuite name="Performance">
            <directory>../src/*/*Bundle/Tests/Performance</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../src</directory>
            <exclude>
                <directory>../src/*/*Bundle/Resources</directory>
                <directory>../src/*/*Bundle/Tests/Unit</directory>
                <directory>../src/*/*Bundle/Tests/Database</directory>
                <directory>../src/*/*Bundle/Tests/Crawler</directory>
                <directory>../src/*/*Bundle/Tests/Performance</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
