@in-message-alert: #F7D6D6;
@in-message-warning: @color-orange;
@in-message-info: #BAE3F2;
@in-message-success: @color-green;

@in-message-alert-text: @color-red;
@in-message-warning-text: @color-orange;
@in-message-info-text: #005B7E;
@in-message-success-text: @color-green;

.in-message {
	display: block;
	padding: 6px 9px;
	margin: 5px 0;

	font-size: 14px;
	text-transform: none;
	font-weight: normal;

	&__list {
		.reset-ul();
	}

	&--error {
		color: @in-message-alert-text;
		border: 1px solid @in-message-alert;
		background: lighten(@in-message-alert, 5%);
	}

	&--warning {
		color: @in-message-warning-text;
		border: 1px solid @in-message-warning;
		background: lighten(@in-message-warning, 10%);
	}

	&--info {
		color: @in-message-info-text;
		border: 1px solid @in-message-info;
		background: lighten(@in-message-info, 10%);
	}

	&--success {
		color: @in-message-success-text;
		border: 1px solid @in-message-success;
		background: lighten(@in-message-success, 50%);
	}

	&--alert {
		color: @in-message-alert-text;
		border: 1px solid @in-message-alert;
		background: lighten(@in-message-alert, 5%);
	}
}
