{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Identifikace e-shopu'|trans }}{% endblock %}
{% block h1 %}{{ 'Domény eshopu'|trans }}{% endblock %}

{% block main_content %}
	<div class="row">
		<div class="col-xs-12 col-lg-10">
			{{ gridView.render('@SS6Shop/Admin/Content/Overview/listGrid.html.twig') }}
		</div>
	</div>
{% endblock%}