// helpers


/*******************************************************************
// FLOAT + ALIGN
*******************************************************************/
.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	.cfx();
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-middle {
   vertical-align: middle !important;
}

.clear {
	clear: both;
}

.clear-r {
	clear: right;
}

.clear-l {
	clear: left;
}


/*******************************************************************
// MARGINS + PADDINGS
*******************************************************************/
.m-0 {
	margin: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-half {
	margin-bottom: @margin-gap / 2;
}

.mb-1 {
	margin-bottom: @margin-gap;
}

.mb-2 {
	margin-bottom: @margin-gap * 2;
}


.mt-0 {
	margin-top: 0;
}

.mt-half {
	margin-top: @margin-gap / 2;
}

.mt-1 {
	margin-top: @margin-gap;
}

.mt-2 {
	margin-top: @margin-gap * 2;
}


.mr-0 {
	margin-right: 0;
}

.mr-half {
	margin-right: @margin-gap / 2;
}

.mr-1 {
	margin-right: @margin-gap;
}

.mr-2 {
	margin-right: @margin-gap * 2;
}


.ml-0 {
	margin-left: 0;
}

.ml-half {
	margin-left: @margin-gap / 2;
}

.ml-1 {
	margin-left: @margin-gap;
}

.ml-2 {
	margin-left: @margin-gap * 2;
}


/*******************************************************************
// CURSORS
*******************************************************************/
.cursor-pointer {
	cursor: pointer;
}

.cursor-help {
	cursor: help;
}

.cursor-default {
	cursor: default;
}
