/*
Form edit block
===========
Block with icons and value type next to input

	<table class="table table-bordered">
		<tr>
			<td>
				<input type="text" class="form-control">
			</td>

			<td>
				<span class="form-edit-block">
					%
				</span>
				<span class="form-edit-block__input">
					<input type="text" class="form-control">
				</span>
			</td>
		</tr>
	</table>

*/

.form-edit-block {
	width: 50px;
	float: right;
	line-height: 34px;
}

.form-edit-block__input {
	margin-right: 60px;
	display: block;
}