/*
Form line
===========
Form field constructions, with many variants and uses

	<div class="form-line">
		<label class="form-line__label">
			Field's label
		</label>
		<span class="form-line__field">
			<input class="form-control" type="text">
		</span>
	</div>

	<div class="form-line">
		<label class="form-line__label">
			With image
		</label>
		<span class="form-line__field form-line__field--icon">
			<input class="form-control" type="text">
			<span class="form-line__icon form-line__icon--cs"></span>
		</span>
	</div>

	<div class="form-line">
		<label class="form-line__label">
			Field's label
		</label>
		<span class="form-line__text">
			Text instead of input field - horizontal fix
		</span>
	</div>

	<div class="form-line">
		<label class="form-line__label">
			Field's label
		</label>
		<span class="form-line__full">
			<textarea class="form-control">Texareas are better on full page</textarea>
		</span>
	</div>

	<div class="form-line form-line--size-0">
		<label class="form-line__label">
			Size 0 - field
		</label>
		<span class="form-line__field">
			<input class="form-control" type="text">
		</span>
	</div>

	<div class="form-line form-line--size-1">
		<label class="form-line__label">
			Size 1 - field
		</label>
		<span class="form-line__field">
			<input class="form-control" type="text">
		</span>
	</div>

	<div class="form-line form-line--size-2">
		<label class="form-line__label">
			Size 2 - field
		</label>
		<span class="form-line__field">
			<input class="form-control" type="text">
		</span>
	</div>

	<div class="form-line form-line--size-3">
		<label class="form-line__label">
			Size 3 - field
		</label>
		<span class="form-line__field">
			<input class="form-control" type="text">
		</span>
	</div>

	<div class="form-line form-line--size-4">
		<label class="form-line__label">
			Size 4 - field
		</label>
		<span class="form-line__field">
			<input class="form-control" type="text">
		</span>
	</div>

	<div class="form-line form-line--size-window">
		<label class="form-line__label">
			Size for window
		</label>
		<span class="form-line__field">
			<input class="form-control" type="text">
		</span>
	</div>

	<div class="form-line form-line--between">
		<span class="form-line__label">
			2 Radios
		</span>
		<div class="form-line__field">
			<div class="radio">
				<label>
					<input type="radio"> Ano
				</labek>
			</div>
			<div class="radio">
				<label>
					<input type="radio"> Ne
				</labek>
			</div>
		</div>
	</div>
*/
.form-line {
	position: relative;
	margin-bottom: 5px;
	.cfx();

	&--in-table {
		margin-bottom: 0;
	}

	label {
		cursor: pointer;
	}
}

.form-line__label {
	float: left;
	width: 200px;
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 0;
	.box-sizing(border-box);

	font-weight: normal;

	&--input {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.form-line__field {
	display: block;
	margin-left: 200px;
	max-width: 340px;
}

.form-line__text {
	display: block;
	margin-left: 200px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.form-line__full {
	display: block;
	clear: both;
	margin-bottom: 5px;
}

.form-line__info {
	position: absolute;
	top: 5px;
	left: 550px;
	margin: 0;
	padding: 5px 0px;

	font-size: 18px;
	color: @color-primary;
}

.form-line__appendix {
	position: absolute;
	top: 8px;
	left: 550px;

	font-size: 12px;

	.form-line--size-0 & { left: 270px }
	.form-line--size-1 & { left: 310px }
	.form-line--size-2 & { left: 370px }
	.form-line--size-3 & { left: 430px }
	.form-line--size-4 & { left: 490px }
}

.form-line--size-0 .form-line__field,
.form-line--size-0 .form-line__text,
.form-line--size-0 .form-line__full {
	max-width: 60px;
}
.form-line--size-1 .form-line__field,
.form-line--size-1 .form-line__text,
.form-line--size-1 .form-line__full {
	max-width: 100px;
}

.form-line--size-2 .form-line__field,
.form-line--size-2 .form-line__text,
.form-line--size-2 .form-line__full {
	max-width: 160px;
}

.form-line--size-3 .form-line__field,
.form-line--size-3 .form-line__text,
.form-line--size-3 .form-line__full {
	max-width: 220px;
}

.form-line--size-4 .form-line__field,
.form-line--size-4 .form-line__text,
.form-line--size-4 .form-line__full {
	max-width: 280px;
}

.form-line--size-5 .form-line__full {
	max-width: 380px;
}

.form-line--size-6 .form-line__full {
	max-width: 540px;
}

.form-line--size-window .form-line__field,
.form-line--size-window .form-line__text,
.form-line--size-window .form-line__full {
	width: 148px;
}

.form-line--between .radio {
	display: inline-block;
	margin-right: 20px;
}

.form-line__field--icon {
	padding-left: 33px;
}

.form-line__icon {
	position: absolute;
	top: 11px;
	left: 210px;
	display: block;
	height: 11px;
	width: 16px;
	z-index: 2;
}

.form-line__group-title {
	padding-left: 208px !important;
}

.form-line__icon--cs {
	.background('flags/cs.png');
}
.form-line__icon--de {
	.background('flags/de.png');
}
.form-line__icon--en {
	.background('flags/en.png');
}
.form-line__icon--hu {
	.background('flags/hu.png');
}
.form-line__icon--pl {
	.background('flags/pl.png');
}
.form-line__icon--sk {
	.background('flags/sk.png');
}