version: '2'
syncs:
    shopsys-framework-sync:
        sync_userid: 501
        src: './'
        sync_excludes:
            - docker/
            - .git
            - .idea
            - .docker-sync
            - .DS_Store
            - docker
            - kubernetes
            - nbproject
            - node_modules
            - var/cache
            - var/postgres-data
            - var/elasticsearch-data
            - web
            - vendor
        host_disk_mount_mode: 'delegated'

    shopsys-framework-web-sync:
        sync_userid: 501
        src: './web'
        host_disk_mount_mode: 'cached'

    shopsys-framework-vendor-sync:
        sync_userid: 501
        src: './vendor'
        host_disk_mount_mode: 'cached'