version: "3.4"
services:
    postgres:
        image: postgres:10.5-alpine
        container_name: shopsys-framework-postgres
        volumes:
            - pgdata:/var/lib/postgresql/data
            - ./docker/postgres/postgres.conf:/var/lib/postgresql/data/postgresql.conf
        environment:
            - PGDATA=/var/lib/postgresql/data/pgdata
            - POSTGRES_USER=root
            - POSTGRES_PASSWORD=root
            - POSTGRES_DB=shopsys
        command:
            - postgres
            - -c
            - config_file=/var/lib/postgresql/data/postgresql.conf

    webserver:
        image: nginx:1.13-alpine
        container_name: shopsys-framework-webserver
        depends_on:
            - php-fpm
        volumes:
            - shopsys-framework-web-sync:/var/www/html/web
            - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
        ports:
            - "8000:8080"

    php-fpm:
        build:
            context: .
            dockerfile: docker/php-fpm/Dockerfile
            target: development
            args:
                www_data_uid: 1000
                www_data_gid: 1000
        container_name: shopsys-framework-php-fpm
        volumes:
            - shopsys-framework-sync:/var/www/html
            - shopsys-framework-vendor-sync:/var/www/html/vendor
            - shopsys-framework-web-sync:/var/www/html/web
            - ./docker/php-fpm/php-ini-overrides.ini:/usr/local/etc/php/php.ini
        ports:
            - "35729:35729"

    redis:
        image: redis:4.0-alpine
        container_name: shopsys-framework-redis

    redis-admin:
        image: erikdubbelboer/phpredisadmin:v1.10.2
        container_name: shopsys-framework-redis-admin
        environment:
            - REDIS_1_HOST=redis
        ports:
            - "1600:80"

    selenium-server:
        image: selenium/standalone-chrome:3.11
        container_name: shopsys-framework-acceptance-tests
        ports:
            - "4400:4444"
        environment:
            - HUB_PORT_4444_TCP_ADDR=hub
            - HUB_PORT_4444_TCP_PORT=4444

    adminer:
        image: adminer:4.6
        container_name: shopsys-framework-adminer
        ports:
            - "1100:8080"

    smtp-server:
        image: namshi/smtp:latest
        container_name: shopsys-framework-smtp-server

    elasticsearch:
        build:
            context: .
            dockerfile: docker/elasticsearch/Dockerfile
        container_name: shopsys-framework-elasticsearch
        ulimits:
            nofile:
                soft: 65536
                hard: 65536
        ports:
            - "9200:9200"
        volumes:
            - elasticsearch-data:/usr/share/elasticsearch/data
        environment:
            - discovery.type=single-node

volumes:
    pgdata:
        driver: local
    elasticsearch-data:
        driver: local
    shopsys-framework-sync:
        external: true
    shopsys-framework-vendor-sync:
        external: true
    shopsys-framework-web-sync:
        external: true
