{% extends '@SS6Shop/Admin/Content/Slider/detail.html.twig' %}

{% block title %}- Editace stránky slideru - {{ sliderItem.name }}{% endblock %}
{% block h1 %}Editace stránky slideru - {{ sliderItem.name }}{% endblock %}

{% block image %}
	<div class="form-line">
		<label class="form-line__label">
			Obrázek:
		</label>
		<div class="form-line__field mb-1">
			{{ image(sliderItem, { height: 100 }) }}
		</div>
	</div>
{% endblock %}
