.window-container {
	display: none;
}

#window-main-container .window-container {
	display: block;
	position: fixed;
	_position: absolute;
	top: 50%;
	margin: -100px 0 0 -200px;
	left: 50%;
	width: 400px;
	background: #EEEEFF;
	border: 3px solid #000066;
	text-align: center;
	z-index: 6001;
	box-shadow:7px 7px 5px rgba(50, 50, 50, 0.75);
}