.window {
	position: fixed;
	display: none;
	width: calc( ~"100vw - 20px" );
	max-height: calc( ~"100vh - 20px" );
	left: 10px;
	top: 10px;
	padding: 20px;
	z-index: 10001;

	background: @color-f;
	box-shadow: 0 0 20px rgba(0,0,0, 0.3);

	&--active {
		display: flex;
		flex-direction: column;
	}

	&__in {
		width: 100%;
		max-height: 100vh;
		overflow: auto;
		flex: 1;
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		width: 20px;
		height: 20px;
		line-height: 20px;

		background: @bg-box;
		color: @color-7;
		text-decoration: none;
		font-weight: bold;
		text-align: center;
		font-size: 10px;

		&:hover {
			background: @color-0;
			color: @color-f;
			text-decoration: none;
		}
	}

	&__actions {
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100%;

		text-align: center;

		&--multiple-buttons {
			display: flex;
			flex-direction: column;
		}

		&__btn {
			.window__actions--multiple-buttons & {
				margin: 2px 0;
			}
		}
	}

	&__overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10000;

		background: rgba(0,0,0, 0.5);
	}
}

@media @query-sm {
	.window {
		&__actions {
			padding-bottom: 0;

			&--multiple-buttons {
				width: 100%;
				flex-direction: row;
				justify-content: space-between;
			}

			&__btn {
				&--cancel {
					order: -1;
				}
			}
		}
	}
}

@media @query-md {
	.window {
		&--standart {
			position: fixed;
			width: @window-width;
			left: 50%;
			margin-left: -@window-width/2;
		}

		&--wide {
			width: calc( ~"100vw - 40px" );
			max-height: calc( ~"100vh - 40px" );
			left: 20px;
			top: 20px;
		}
	}
}

@media @query-lg {
	.window {
		&--wide {
			position: fixed;
			width: @window-wide-width;
			left: 50%;
			margin-left: -@window-wide-width/2;
		}
	}
}