/*
Floating window
============
Floating fixed window for actions or messages, --active modifier shows window,
default is hidden, --wide is modifier for bigger and absolute positioned window

	<div class="window window--active">
		<a href="#" class="window__close">X</a>
		<p>
			Content of window
		</p>
		<div class="window__actions">
			<a href="#" class="button">Button or something</a>
		</div>
	</div>

	<div class="window window--wide window--active">
		<a href="#" class="window__close">X</a>
		<p>
			Content of window
		</p>
		<div class="window__actions">
			<a href="#" class="button">Button or something</a>
		</div>
	</div>
*/

.window {
	display: none;
	width: @window-width;
	min-height: @window-height;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -@window-height/2 0 0 -@window-width/2;
	padding: 25px 30px 30px;
	z-index: 10001;

	text-align: center;
	background: @color-f;
	box-shadow: 0 0 20px rgba(0,0,0, 0.3);

	&--active {
		display: block;
	}

	&--wide {
		position: absolute;
		top: 200px;
		width: @window-wide-width;
		height: @window-wide-height;
		margin: 0 0 0 -@window-wide-width/2;
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		width: 25px;
		height: 25px;
		line-height: 25px;

		background: @bg-box;
		color: @color-base;
		text-decoration: none;
		font-weight: bold;

		&:hover {
			background: @color-0;
			color: @color-f;
			text-decoration: none;
		}
	}

	&__actions {
		margin-top: @margin-gap;
	}

	&__overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10000;

		background: rgba(0,0,0, 0.5);
	}
}