<h2>Dopravy</h2>
		
{% if transports|length %}
	<a href="{{ url('admin_transport_new') }}">Vytvořit dopravu</a>
	
	<table class="table table-striped table-responsive">
		<thead>
			<tr>
				<th>Název</th>
				<th>Cena</th>
				<th>Viditelné</th>
				<th>Akce</th>
			</tr>
		</thead>
		<tbody>
			{% for transport in transports %}
				<tr>
					<td><a href="#">{{ transport.name }}</a></td>
					<td>{{ transport.price }} Kč</td>
					<td>
						{% if transport.hidden %}
							Skryté
						{% else %}
							Viditelné
						{% endif %}
					</td>
					<td>
						<a href="#">Upravit</a>
						<a href="#">Smazat</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>
		Doposud nebyly vytvořeny žádné dopravy. Nejdříve nějakou <a href="{{ url('admin_transport_new') }}">vytvořte</a>.
	</p>
{% endif %}