<ul class="nav-panel">
	{% for item in items %}
		{% if (item.visible) %}
			<li class="nav-panel__item {% if item in activePath %}nav-panel__item--active{% endif %}" >
				<a href="{{ url(item.route, item.routeParameters) }}">{{ item.label }}</a>
				{% if item.items is not empty %}
					<ul class="nav-panel__submenu">
						{% for subitem in item.items %}
							{% if (subitem.visible) %}
								<li class="nav-panel__submenu__item{% if subitem in activePath %}nav-panel__submenu__item--active{% endif %}" >
									<a href="{{ url(subitem.route, subitem.routeParameters) }}">{{ subitem.label }}</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}
</ul>