.categories-list-item {
	display: block;
	width: 50%;
	float: left;
}

.shortened-category-description {
	height: 30px;
	overflow: hidden;
}

.category-description-load-more {
	text-align: center;
	color: @color-blue;
	cursor: pointer;
}

.web__container--newsletter {
	background-color: @color-light;
}