.js-disable {
	opacity: 0.5;
}

.window-bar--top {
	width: 100%;
	padding: 10px;
	z-index: 2;

	background: @bg-info;
	.box-shadow(0 0 10px @color-a);
	border: 1px solid @color-f;
	text-align: center;

	.border-radius(@radius);
}

.js-loader-overlay {
	background: rgba(255,255,255,0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:4000;
	text-align: center;
}

.js-loader-overlay-spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: -30px;
	line-height: 60px;
	font-size: 30px;

	text-align: center;
}

.js-loader-overlay-spinner--absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: -30px;
	line-height: 60px;
	font-size: 30px;

	text-align: center;
}

.categories-list-item {
	display: block;
	width: 50%;
	float: left;
}

.shortened-category-description {
	height: 30px;
	overflow: hidden;
}

.category-description-load-more {
	text-align: center;
	color: @color-blue;
	cursor: pointer;
}