.categories-list-item {
	display: block;
	width: 50%;
	float: left;
}

.shortened-category-description {
	height: 30px;
	overflow: hidden;
}

.category-description-load-more {
	text-align: center;
	color: @color-blue;
	cursor: pointer;
}

.eu-cookies {
	background: @bg-info;
	position: fixed;
	bottom: 0;
	z-index: 5000;
	width: 100%;
	padding: 10px;
	text-align: center;
}