// helpers


/*******************************************************************
// FLOAT + ALIGN
*******************************************************************/
.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	.cfx();
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}


/*******************************************************************
// MARGINS + PADDINGS
*******************************************************************/
.mb-0 {
	margin-bottom: 0;
}

.mb-1 {
	margin-bottom: @margin-gap;
}

.mb-2 {
	margin-bottom: @margin-gap * 2;
}


.mt-0 {
	margin-top: 0;
}

.mt-1 {
	margin-top: @margin-gap;
}

.mt-2 {
	margin-top: @margin-gap * 2;
}


.mr-0 {
	margin-right: 0;
}

.mr-1 {
	margin-right: @margin-gap;
}

.mr-2 {
	margin-right: @margin-gap * 2;
}


.ml-0 {
	margin-left: 0;
}

.ml-1 {
	margin-left: @margin-gap;
}

.ml-2 {
	margin-left: @margin-gap * 2;
}
