/*
Simple list with items
========
Only simple list with few information about items in cart

	<div class="wrap-box">
		<table class="list-cart-preview">
			<tbody>
				<tr class="list-cart-preview__row">
					<td class="list-cart-preview__cell">
						<strong>10 x</strong> Item
					</td>
					<td class="list-cart-preview__cell list-cart-preview__cell--price">
						10 $
					</td>
				</tr>
				<tr class="list-cart-preview__row">
					<td class="list-cart-preview__cell">
						<strong>10 x</strong> Item
					</td>
					<td class="list-cart-preview__cell list-cart-preview__cell--price">
						10 $
					</td>
				</tr>
				<tr class="list-cart-preview__row list-cart-preview__row--total list-cart-preview__row--important">
					<td class="list-cart-preview__cell">
						Total price with tax:
					</td>
					<td class="list-cart-preview__cell list-cart-preview__cell--price">
						12 $
					</td>
				</tr>

				<tr class="list-cart-preview__row list-cart-preview__row--total">
					<td class="list-cart-preview__cell">
						Total price without tax:
					</td>
					<td class="list-cart-preview__cell list-cart-preview__cell--price">
						10 $
					</td>
				</tr>
			</tbody>
		</table>
	</div>
*/

.list-cart-preview {
	width: 100%;
	margin-bottom: 20px;
}

.list-cart-preview__row {
	border-top: 1px solid @color-border;

	&:first-child {
		border-top: 0;
	}
}

.list-cart-preview__cell {
	padding: 5px 0;

	font-size: 12px;
}

.list-cart-preview__cell--price {
	padding-left: 10px;
	width: 120px;

	text-align: right;
}

.list-cart-preview__row--total {
	font-weight: bold;
}

.list-cart-preview__row--total {
	border: 0;
}

.list-cart-preview__row--important .list-cart-preview__cell {
	border-top: 1px solid @color-border;
	color: @color-primary;
	font-size: 16px;
}
