<ul class="menu">
	{% for article in articles %}
		<li class="menu__item">
			<a class="menu__item__link" href="{{ url('front_article_detail', { id: article.id }) }}">{{ article.name }}</a>
		</li>
	{% endfor %}
</ul>