/*
Table edit
==============
Table for edititing


*/
.table-edit {
	width: 100%;

	border-collapse: collapse;
	border: none;
}

.table-edit__heading__cell {
	padding: 5px 10px;

	font-weight: bold;
}

.table-edit__body__cell {
	padding: 8px 40px 8px 10px;

	border-top: 1px solid @color-border-dark;
}

.table-edit__body__cell__error {
	position: relative;
	float: right;
}

.table-edit__body__cell__error__message {
	min-width: 150px;
	left: auto;
	right: 4px;
	top: 5px;
}
