/*
Table touch
==============
Wrapped table. On tablet, it grows to normal size and its able to swipe to sides.
	<div class="table-touch">
		<table class="table-touch__in">
			<tbody>
				<tr>
					<td>Item in table long and big </td>
					<td>Item in table long and big </td>
					<td>Item in table long and big </td>
					<td>Item in table long and big </td>
					<td>Item in table long and big </td>
					<td>Item in table long and big </td>
					<td>Item in table long and big </td>
					<td>Item in table long and big </td>
				</tr>
			</tbody>
		</table>
	</div>
*/

@media @query-not-large-desktop {
	.table-touch {
		width: 100%;
		overflow: auto;

		&__in {
			width: 900px;
		}
	}
}