<div class="wrap-bar">
    <h2 class="wrap-bar__heading">Platby</h2>

    <a href="{{ url('admin_payment_new') }}" class="btn btn--plus wrap-bar__btn">
        <i class="btn__icon">+</i>{{ 'Create payment'|trans }}
    </a>
</div>

{{ gridView.render() }}
