{% extends '@SS6Shop/Admin/Grid/PKGrid.html.twig' %}

{% block pkgrid_value_cell_id_name %}
	<a href="{{ url('admin_article_edit', { id: row.a.id }) }}">{{ value }}</a>
{% endblock %}

{% block pkgrid_no_data %}
	Nebyli nalezeni žádné články. Nejprve musíte nějaký vytvořit.
{% endblock %}

{% block pkgrid_pager_totalcount %}
	{% set entityName = 'článků' %}
	{{ parent() }}
{% endblock %}