{% extends '@SS6Shop/Admin/Grid/Grid.html.twig' %}

{% block grid_value_cell_id_name %}
	<a href="{{ url('admin_article_edit', { id: row.a.id }) }}">{{ value }}</a>
{% endblock %}

{% block grid_no_data %}
	{{ 'V tomto umístění nebyly nalezeny žádné články. Nejprve musíte nějaký vytvořit.'|trans }}
{% endblock %}

{% block grid_pager_totalcount %}
	{% set entityName = 'článků'|trans %}
	{{ parent() }}
{% endblock %}