{% extends '@SS6Shop/Admin/Grid/Grid.html.twig' %}

{% block grid_value_cell_id_name %}
	<a href="{{ url('admin_article_edit', { id: row.a.id }) }}">{{ value }}</a>
{% endblock %}

{% block grid_multiple_drag_and_drop_row_holder %}
	{{ 'Zde můžete přetáhnout články'|trans }}
{% endblock %}

{% block grid_pager_totalcount %}
	{% set entityName = 'článků'|trans %}
	{{ parent() }}
{% endblock %}