{% extends '@SS6Shop/Admin/Content/Article/detail.html.twig' %}

{% block title %}- Nový článek{% endblock %}
{% block h1 %}Nový článek{% endblock %}

{% block domain %}
	<div class="form-line">
		<label class="form-line__label">Doména:</label>
		<input type="text" value="{{ getDomainName(selectedDomainId) }}" class="form-control form-line__field" readonly="readonly" />
	</div>
{% endblock %}