@form-price-heading-gap: @form-line-padding-horizontal + @form-line-input-size;

.form-price-heading {
    margin-top: 3px;
    padding: 10px 15px 10px @form-price-heading-gap;
    .clearfix();

    background: @bg-table;
    font-size: 0;
    text-align: right;

    &__cell {
        display: inline-block;
        float: left;

        font-size: 13px;
        font-weight: bold;

        &--price {
            width: 140px;
            float: none;
            text-align: right;
        }
    }
}
