/*
Wrap box
============
Wrapping box with background

	<div class="wrap-box">
		<p>Inner content, or anything</p>
	</div>

*/

.wrap-box {
	display: block;
	margin-bottom: @margin-gap;
	padding: @margin-gap;

	background: @bg-box;
}