/*
Wrapping box around fieldset
===========
Special box for wrapping form groups with H2 heading

	<div class="wrap-group">
		<h2>Form group title</h2>
		<p>Inner content</p>
	</div>

	<div class="wrap-group">
		<h2>Form group title</h2>
		<p>Inner content</p>
	</div>
*/

.wrap-group {
	margin-bottom: 40px;
	padding: 20px;

	background: @bg-box;
}

.wrap-group h2 {
	margin: 0 0 20px;

	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}