h1, h2, h3, h4, h5, h6 {
	font-family: @font-title;
}

a {
	&:link, &:visited, &:active {
		color: @color-link;
		text-decoration: underline;
		
		.set-transition();
		.transition(~"background, color");
		
		&:hover {
			color: @color-link-hover;
			text-decoration: underline;
		}
	}
}

/*ul{
	margin: 0 0 20px;
	list-style: none;
	padding: 0;
	li {
		padding: 0 0 0 10px;
		margin: 0;
		position: relative;
		&:before {
			content: '';
			width: 5px;
			height: 5px;
			display: block;
			position: absolute;
			top: 7px;
			left: 0;
			background: @color-primary;
		}
	}
}*/