/*
Heading
==========
Heading types, on element doesn't matter

	<span class="heading">Heading, which is not important for SEO, on inline element</span>

	<h2 class="heading heading--huge">Very big heading</h2>

	<h1 class="heading heading--visible">Heading, with more space around</h1>

*/

.heading {
	display: block;
}

.heading--visible {
	margin: 60px 0;
	line-height: 34px;

	font-size: 20px;
}

.heading--huge {
	line-height: 120px;

	font-size: 90px;
}
