@top-info-gap: 15px;

.top-info {
    padding: 0 10px;

    flex-grow: 1;

    &__text {
        margin: 0 auto;
        padding-right: @top-info-gap;
        padding-left: @top-info-gap;

        @media @query-xl {
            width: @width-content;
        }

        &__title {
            margin: 0;
            line-height: 30px;

            color: @color-0;
            font-size: 28px;
            font-weight: 500;

            span {
                opacity: 0.7;

                color: @color-grey;
                font-style: normal;
            }
        }
    }
}
