.cart-box {
	float: right;
	margin-left: 40px;
	margin-bottom: 20px;
}

.cart-box .cart-box__block {
	display: block;
	padding: 5px 10px 5px 50px;

	text-decoration: none;
	color: @color-base;
	background-color: @bg-box;
	.background('icons/cart.png', 5px 50%);
	font-size: 12px;

	&:hover {
		text-decoration: none;
		background-color: darken(@bg-box, 5%);
	}
}

.cart-box .cart-box__state {
	color: @color-primary;
}