{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- Seznam zboží{% endblock %}
{% block h1 %}Seznam zboží{% endblock %}

{% block main_content %}
	<div class="row">
		<div class="col-xs-12 col-lg-8">
		
			<a href="{{ url('admin_product_new') }}" class="btn btn-primary mb-1">Vytvořit nové zboží</a>
			
			{{ gridView.render('@SS6Shop/Admin/Content/Product/listPKGrid.html.twig') }}
		</div>
	</div>
{% endblock %}