<div class="wrap-box form-inline mb-1 mt-1" id="js-quick-search">
	{{ form_widget(quickSearchForm.text) }}
	{{ form_widget(quickSearchForm.submit, { label: 'Vyhledat'|trans, full_name: ''}) }}
	<i class="fa fa-info cursor-help js-tooltip"
	 data-toggle="tooltip" data-placement="right"
	 title="{{ 'Vyhledávání hledá v názvu, katalogovém číslu nebo partno produktu. Je možné používat operátory * a ?.'|trans }}"
	></i>
	<a href="#" id="js-advanced-search-enable-button">{{ 'Rozšířené hledání'|trans }}</a>
</div>