<div class="form-inline" id="js-quick-search">
	{{ form_widget(quickSearchForm.text) }}
	{{ form_widget(quickSearchForm.submit, { label: 'Vyhledat'|trans, full_name: ''}) }}
	<i class="svg svg-info c-help js-tooltip"
	 data-toggle="tooltip" data-placement="right"
	 title="{{ 'Vyhledávání hledá v názvu, katalogovém číslu nebo partno produktu. Je možné používat operátory * a ?.'|trans }}"
	></i>
	<div class="mt25">
		<a href="#" id="js-advanced-search-enable-button">{{ 'Rozšířené hledání'|trans }}</a>
	</div>
</div>