<div class="wrap-box form-inline mb-1 mt-1">
	{{ form_widget(quickSearchForm.text) }}
	{{ form_widget(quickSearchForm.save, { label: 'Vyhledat'|trans, full_name: ''}) }}
	<i class="fa fa-info cursor-help js-tooltip"
	 data-toggle="tooltip" data-placement="right"
	 title="{{ 'Vyhledávání hledá v názvu, katalogovém číslu nebo partno produktu. Hledání rozlišuje velká/malá písmena a diakritiku. Je možné používat operátory * a ?.'|trans }}"
	></i>
</div>