<div class="product-visibility-window-title text-center">
	{{ 'Viditelnost pro neregistrované zákazníky'|trans }}
</div>
<ul class="list-domain text-left">
	{% include '@SS6Shop/Admin/Content/Product/visibilityItems.html.twig' with {productDetail: productDetail} only %}
</ul>
