.content {

}

.main-content {
	padding-bottom: 15px;
}
.main-content.main-content--alone {
	padding: 0 15px;
}

.main-panel {
	padding: 0;

	background: @bg-light;
	border-right: 1px solid @color-border;
	border-bottom: 1px solid @color-border;
}