/*******************************************************************
// FONTS
*******************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);

@font: 'Open Sans', Arial, Helvetica, sans-serif;
@font-title: 'Roboto Condensed', Arial, Helvetica, sans-serif;

@font-size: 14px;
@line-height: 20px;


/*******************************************************************
// SIZES
*******************************************************************/
@margin-gap: @line-height;


/*******************************************************************
// PATHS
*******************************************************************/
@path-image: '../images';
@path-fonts: '../fonts';


/*******************************************************************
// COLORS
*******************************************************************/
@color-0: #000;
@color-3: #333;
@color-5: #555;
@color-7: #777;
@color-8: #888;
@color-9: #999;
@color-a: #aaa;
@color-c: #ccc;
@color-d: #ddd;
@color-e: #eee;
@color-f: #fff;
@color-fa: #fafafa;

@color-grey-dark: #cacaca;
@color-grey: #dadada;
@color-grey-light: #eaeaea;

@color-blue: #138ee4;
@color-green: #5faf2f;
@color-orange: #d76f2a;
@color-red: #d22525;

// context colors
@color-base: @color-3;
@color-desc: @color-5;

@color-primary: @color-blue;

@color-info: @color-green;
@color-alert: @color-red;
@color-warning: @color-orange;

@color-link: @color-blue;
@color-link-hover: @color-base;

@color-alterlink: @color-base;
@color-alterlink-hover: @color-blue;

@color-border: @color-e;
@color-border-light: @color-fa;
@color-border-dark: @color-d;
@color-shadow: @color-e;
@color-inactive: lighten(@color-base, 55%);

@bg-web: @color-e;
@bg-page: @color-f;
@bg-box: @color-grey-light;
@bg-window: @color-f;
@bg-table: @color-grey-light;
@bg-primary: @color-blue;

@bg-success: #dff0d8;
@bg-info: #d9edf7;
@bg-warning: #fcf8e3;
@bg-alert: #f2dede;
@bg-light: #f8f8f8;


/*******************************************************************
// RADIUS
*******************************************************************/
@border-radius-base: 4px;
@border-radius-large: 6px;
@border-radius-small: 3px;


/*******************************************************************
// OTHER
*******************************************************************/

// transition
@transition: cubic-bezier(.61, .20, .48, 1.0);
@transition-time: 0.3s;

/*******************************************************************
// BOOTSTRAP REWRITE VARIABLES
*******************************************************************/
@brand-primary: @color-primary;
@brand-success: #5faf2f;
@brand-info: #868686;
@brand-warning: #d76f2a;
@brand-danger: #d22525;

@state-success-bg: @bg-success;
@state-info-bg: @bg-info;
@state-warning-bg: @bg-warning;
@state-danger-bg: @bg-alert;

@line-height-computed: @margin-gap;

@font-family-sans-serif: @font;
@font-family-base: @font;
@font-size-base: @font-size;

@text-color: @color-base;
@link-color: @color-link;
@link-hover-color: @color-link-hover;

@navbar-height: 60px;

@nav-link-padding-left: 15px;

@breadcrumb-padding-vertical: 6px;
@breadcrumb-bg: @color-f;
@breadcrumb-border: @color-e;
@breadcrumb-separator: "-";

@table-bg-accent: @color-grey-light;
@table-bg-hover: darken(@color-grey-light, 5%);
@table-bg-active: @table-bg-hover;
@table-border-color: @color-border;

@input-color: @color-base;
@input-border: @color-c;
@input-color-placeholder: @color-9;

@dropdown-bg: @color-f;
@dropdown-border: @color-border;


@input-height-xsmall: 22px;
@padding-xsmall-vertical: 0;
@padding-xsmall-horizontal: 5px;
@font-size-xsmall: @font-size-small;
@line-height-xsmall: 22px;
@border-radius-xsmall: @border-radius-small;

/*******************************************************************
// BOOTSTRAP EXTENDED VARIABLES
*******************************************************************/
@nav-link-padding: 10px @nav-link-padding-left;

/*******************************************************************
// POPUP WINDOWS
*******************************************************************/
@window-width: 400px;
@window-height: 150px;

@window-preview-width: 650px;
@window-preview-height: 150px;

@window-wide-width: 900px;
@window-wide-height: auto;

@window-wide-float-width: 600px;
@window-wide-float-height: 250px;