body {
	background: @bg-web;
}

.web {
	margin: 0 auto;
	width: 100%;
	min-width: 768px;

	&__header {
		height: @height-header;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 3000;

		&__in {
			width: 100%;
			margin: 0 auto;
			min-width: 768px;

			background: @bg-primary;
			color: @color-f;
		}
	}

	&__container {
		padding-top: @height-header;
		padding-bottom: @height-footer;
		position: relative;
		min-height: 100vh;
		padding-left: @width-panel;

		background: @bg-page;

		&:after {
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: @width-panel;
			width: 3px;
			.opacity(30);
			content: '';

			background: @color-a;
		}

		&--blank {
			padding-left: 0;

			&:after {
				display: none;
			}
		}
	}

	&__panel {
		position: fixed;
		left: 0;
		top: @height-header;
		bottom: 0;
		padding-bottom: @height-footer;
		width: @width-panel;
		overflow: auto;

		background-color: @color-f;
	}

	&__content {
		padding: 0 30px 30px;
		position: relative;
	}
}

@media @query-xl {
	.web {
		width: @width-web;

		&__header {
			&__in {
				width: @width-web;
			}
		}

		&__panel {
			left: 50%;
			margin-left: -@width-web / 2;
			z-index: 1000;
		}
	}
}