// Set  only variables, it generate helpers for you

@cols-minimum: 20;
@cols-stepper: 5;
@cols-maximum: 80;
@cols-special: 48, 49, 51, 52, 100;
@cols-special-lenght: length(@cols-special);

@postfixes: -tab, -mob, -mobx;


.column (@i, @step, @max, @postfix: ~'') when (@i <= @max) {
	&--@{i}@{postfix} {
		width: ~'@{i}%';
	}
	.column(@i + @step, @step, @max, @postfix);
}

.column-spec (@i, @postfix: ~'') when (@i > 0) {
	@size: extract(@cols-special, @i);

	&--@{size}@{postfix} {
	width: ~'@{size}%';
	}
	.column-spec(@i - 1, @postfix);
}

.col {
	float: left;

	.column(@cols-minimum, @cols-stepper, @cols-maximum);
	.column-spec(@cols-special-lenght);

	@media @query-tablet {
		.column(@cols-minimum, @cols-stepper, @cols-maximum, extract(@postfixes, 1));
		.column-spec(@cols-special-lenght, extract(@postfixes, 1));
	}

	@media @query-mobile {
		.column(@cols-minimum, @cols-stepper, @cols-maximum, extract(@postfixes, 2));
		.column-spec(@cols-special-lenght, extract(@postfixes, 2));
	}

	@media @query-mobile-xs {
		.column(@cols-minimum, @cols-stepper, @cols-maximum, extract(@postfixes, 3));
		.column-spec(@cols-special-lenght, extract(@postfixes, 3));
	}

	&__row {
		.cfx();
	}
}