/*
Form choice
===========
Structure for checkboxlist or radiolist. Often that types of inputs have aligment problem, so they should be on fixed position.
Label can be like item, or can be inside of (e.g. div, span ...) item.
	<div class="form-choice">
		<label class="form-choice__item">
			<input type="checkbox" class="form-choice__input">
			<span class="form-choice__text">
				Text for input
			</span>
		</label>
	</div>
*/
.form-choice {
}

.form-choice__item {
	margin-bottom: 5px;
	position: relative;
	padding-left: 20px;

	font-weight: normal;

	label {
		display: block;
		margin-bottom: 0;
		line-height: 20px;

		font-weight: normal;
	}
}

.form-choice__input {
	position: absolute;
	top: -1px;
	left: 0;
}

.form-choice__text{
	display: block;
}