/*
Spinbox
=======
Input spinbox (input with +/- buttons)

	<div class="form-input-spinbox">
		<a href="#" class="form-input-spinbox__button button">-</a>
		<input type="text" class="form-input-spinbox__input">
		<a href="#" class="form-input-spinbox__button button">+</a>
	</div>

*/

.form-input-spinbox {
}

.form-input-spinbox__button {
	padding: 0;
	width: @input-height;
	display: inline-block;
}

.form-input-spinbox__input {
	display: inline-block;
	width: 40px;
	height: @input-height;
	line-height: @input-height;
	padding: 0;

	border: 1px solid @color-border;
	text-align: center;

	.border-radius(@radius);
}
