.form-line {
	position: relative;
	margin: 0 0 15px;
	padding: 0;

	dt {
		margin: 0 0 5px;
		padding: 0;
		display: block;
	}

	dd {
		margin: 0 0 5px;
		padding: 0;
		display: block;
		position: relative;
	}

	.input {
		width: 100%;
	}
}

@media @query-md {
	.form-line {
		dt {
			float: left;
			width: 160px;
			padding: 8px 10px 8px 0;
			margin: 0;
			line-height: 20px;

		}

		dd {
			margin-left: 170px;
			margin-bottom: 0;
		}
	}
}

@media @query-lg {
	.form-line {
		.input {
			max-width: 320px;
		}
	}
}