/*
Semaphore icons
============
Simple points, which shows 3 states (green - true, orange - maybe, red - false).
Semaphore without modifier is blank. So it could be 4th state.

	<p>
		<span class="semaphore"></span> - blank
	</p>

	<p>
		<span class="semaphore semaphore--true"></span> - true
	</p>

	<p>
		<span class="semaphore semaphore--maybe"></span> - maybe
	</p>

	<p>
		<span class="semaphore semaphore--false"></span> - false
	</p>

*/

.semaphore {
	width: 12px;
	height: 12px;
	display: inline-block;
	margin: 0 3px;
	position: relative;
	top: 1px;

	border: 1px solid @color-3;
	text-indent: -9999px;

	.border-radius(@border-radius-large);
}

.semaphore--true {
	background: @color-info;
}
.semaphore--maybe {
	background: @color-warning;
}
.semaphore--false {
	background: @color-alert;
}