/*
Control panel for grid etc.
=========

*/

.in-grid-control {
	padding-bottom: 25px;

	font-size: 0;

	&__show {
		display: inline-block;
		vertical-align: top;
		width: 30%;

		font-size: 12px;
		color: @color-action;
	}

	&__paging {
		display: inline-block;
		vertical-align: top;
		width: 40%;

		text-align: center;
		font-size: 13px;
	}

	&__settings {
		display: inline-block;
		vertical-align: top;
		width: 30%;

		text-align: right;
		font-size: 12px;
		color: @color-action;
	}
}