/*
Visibility icons
=========
*/

.in-icon {
	padding: 0 2px;

	font-size: 16px;
	color: @color-action;
	text-decoration: none;

	&--visible {
		color: @color-green;
	}

	&--invisible {
		color: @color-c;
	}

	&--denied {
		font-size: 20px;
		cursor: help;
		color: @color-c;
	}

	&--ok {
		color: @color-green;
	}

	&--spinner {
		color: @color-a;
	}

	&--delete {
		font-size: 20px;
	}

	&--edit {
		font-size: 20px;
	}

	&--move {
		color: @color-move;
		cursor: move;
	}

	&--add {
		font-size: 20px;
		color: @color-green;
	}

	&--link {
		position: relative;
		top: -2px;

		color: @color-blue;
		font-size: 16px;
	}
}