/*
Visibility icons
=========
*/

.in-icon {
	padding: 0 2px;

	font-size: 16px;
	color: @color-action;

	&--visible {
		color: @color-green;
	}

	&--invisible {
		color: @color-c;
	}

	&--denied {
		color: @color-c;
	}

	&--ok {
		color: @color-green;
	}

	&--spinner {
		color: @color-a;
	}

	&--delete {
	}

	&--edit {
		font-size: 20px;
	}
}