.in-message {
	display: inline-block;
	padding: 6px 9px;

	font-style: italic;
	font-size: 14px;
	text-transform: none;
	font-weight: normal;

	&__icon {
		margin-right: 2px;
		position: relative;
		top: -2px;
	}

	&__close {
		position: absolute;
		top: 5px;
		right: 5px;
		padding: 5px;
		display: inline-block;
		vertical-align: middle;

		color: #66757B;
		cursor: pointer;
		font-style: normal;
		font-size: 14px;
		text-align: center;
		text-decoration: none;

		.in-message--block & {
			top: 2px;
		}
	}

	&__list {
		.reset-ul();
	}

	&--block {
		display: block;
		margin-bottom: 10px;
		position: relative;
	}

	&--small {
		padding: 3px 6px;

		font-size: 12px;
	}

	&--error {
		color: @color-message-alert-text;
		background: @color-message-alert;
	}

	&--warning {
		color: @color-message-warning-text;
		background: @color-message-warning;
	}

	&--info {
		color: @color-message-info-text;
		background: @color-message-info;
	}

	&--success {
		color: @color-message-success-text;
		background: @color-message-success;
	}

	&--danger {
		color: @color-message-alert-text;
	}

	&--pin {
		position: absolute;
		top: 100%;
		left: 0;
		margin-top: 10px;
		width: 230px;
		z-index: 99;
		padding: 10px 25px 10px 10px;

		text-align: left;
		border: 1px solid darken(@color-message-alert, 15%);

		&:after {
			display: block;
			position: absolute;
			top: -5px;
			left: 5px;
			width: 8px;
			height: 8px;
			content: '';

			border-top: 1px solid darken(@color-message-alert, 15%);
			border-left: 1px solid darken(@color-message-alert, 15%);
			background: @color-message-alert;

			transform: rotate(45deg);
		}

		.box-login & {
			left: 25px;
		}
	}
}
