/*
Message
=======
Alert, info, success atc messages box

	<div class="in-message">

	</div>

*/

.in-message {
	display: inline-block;
	padding: 3px 6px;

	font-style: italic;
	font-size: 14px;

	&__icon {
		margin-right: 5px;
		position: relative;
		top: -1px;
	}

	&__close {
		position: absolute;
		top: 3px;
		right: 6px;

		color: @color-base;
		cursor: pointer;
		font-style: normal;
	}

	&--alert, &--error {
		color: @color-message-alert;
		background: lighten(@color-message-alert, 35%);
	}

	&--warning {
		color: @color-message-warning;
		background: lighten(@color-message-warning, 35%);
	}

	&--info {
		color: @color-message-info;
		background: lighten(@color-message-info, 35%);
	}

	&--pin {
		position: absolute;
		top: 100%;
		left: 0;
		margin-top: 10px;
		width: 230px;
		z-index: 4px;

		text-align: left;
		border: 1px solid @color-message-alert;

		&:after {
			display: block;
			position: absolute;
			top: -5px;
			left: 5px;
			width: 8px;
			height: 8px;
			content: '';

			border-top: 1px solid @color-message-alert;
			border-left: 1px solid @color-message-alert;
			background: lighten(@color-message-alert, 35%);

			.rotate(45deg);
		}
	}
}