/*
Message
=======
Alert, info, success atc messages box

	<div class="in-message">

	</div>

*/

.in-message {
	display: inline-block;
	padding: 6px 9px;

	font-style: italic;
	font-size: 14px;

	&__icon {
		margin-right: 5px;
		position: relative;
		top: -1px;
	}

	&__close {
		position: absolute;
		top: 5px;
		right: 5px;
		padding: 5px;
		display: inline-block;
		vertical-align: middle;

		color: #66757B;
		cursor: pointer;
		font-style: normal;
		font-size: 14px;
		text-align: center;
	}

	&--alert, &--error {
		color: @color-message-alert-text;
		background: @color-message-alert;
	}

	&--warning {
		color: @color-message-warning-text;
		background: @color-message-warning;

		.svg {
			font-size: 10px;
		}
	}

	&--info {
		color: @color-message-info-text;
		background: @color-message-info;

		.svg {
			float: left;
			margin-right: 5px;

			font-size: 15px;
		}
	}

	&--pin {
		position: absolute;
		top: 100%;
		left: 0;
		margin-top: 10px;
		width: 230px;
		z-index: 4px;
		padding: 10px;

		text-align: left;
		border: 1px solid darken(@color-message-alert, 15%);

		&:after {
			display: block;
			position: absolute;
			top: -5px;
			left: 5px;
			width: 8px;
			height: 8px;
			content: '';

			border-top: 1px solid darken(@color-message-alert, 15%);
			border-left: 1px solid darken(@color-message-alert, 15%);
			background: @color-message-alert;

			.rotate(45deg);
		}
	}
}