/*
Pill cell
============
Inline-block cell with rounded corners. Simple type is with border and white background.
For color it with your color (user color) use inline style.

	<span class="in-pill">Classic pill</span>
	<span style="background: #efd6ff" class="in-pill">Colored pill</span>
*/

.in-pill {
	display: inline-block;
	margin: 0 3px;
	padding: 2px 5px;

	border: 1px solid @color-border;
	background: @color-f;

	.border-radius(@border-radius-base);
}