/*
Sorting arrows
=========
Arrows for sorting ascendent/descendent in grid. It has fix for links in chrome!

	<table class="table">
		<tr>
			<td><a href="./" class="in-sort-arrows__wrap"><span class="in-sort-arrows__link">ID with link</span> <span class="in-sort-arrows in-sort-arrows--down"></span></a></td>
			<td>Name without link <span class="in-sort-arrows in-sort-arrows--up"></span></td>
			<td>Type</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Name</td>
			<td>Person</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Name</td>
			<td>Person</td>
		</tr>
	</table>

*/

.in-sort-arrows {
	position: relative;
	display: inline-block;
	width: 10px;
}

.in-sort-arrows__wrap:hover {
	text-decoration: none;

	.in-sort-arrows__link {
		text-decoration: underline;
	}
}

.in-sort-arrows--up {
	.draw-arrow-top(5px, @color-f, 5px, -8px);
}

.in-sort-arrows--down {
	.draw-arrow-bottom(5px, @color-f, 5px, -6px);
}
