<span class="box-cart-adding">
	{{ form_start(form, {attr: {class: 'add-product', 'multipleForm': true}}) }}
		<span class="box-cart-adding__input">
			{{ form_widget(form.quantity, {attr: {class: 'text-center'}}) }} Ks
		</span>
		{{ form_widget(form.add, {label: 'Vložit do košíku', attr: {class: 'button--cart'}}) }}
	{{ form_end(form) }}
</span>