<div class="form-box-adding">
	{{ form_start(form, {attr: {class: 'add-product'}}) }}
		{{ form_widget(form.quantity, {attr: {style: 'width: 40px;'}}) }} Ks
		{{ form_row(form.add, {label: 'Vložit do košíku'}) }}
	{{ form_end(form) }}
</div>