{{ render(controller('SS6ShopBundle:Front/FlashMessage:index')) }}
{% import '@SS6Shop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% if accessoryDetails|length > 0 %}
	<hr>

	<h3>Naši zákaznící k tomuto produktu nejčastěji nakupují</h3>

	{{ productList.list(accessoryDetails) }}
{% endif %}

<a href="{{ url('front_cart') }}" class="button btn btn-primary">
	{{ 'Přejít do košíku'|trans }}
</a>