<div id="cart-box" class="cart-box">
	<a class="cart-box__block" href="{{ url('front_cart') }}">
		<strong>Košík</strong>
		<div class="cart-box__info">
			{% if cart.itemsCount == 0 %}
				Váš nákupní košík je prázdný
			{% else %}
				<strong class="cart-box__state">{{ cart.itemsCount }}</strong> položek za <strong class="cart-box__state">{{ cartSummary.priceWithVat|price }}</strong>
			{% endif %}
		</div>
		
	</a>
</div>