/*
Wrap bar for headline with button floated on right side
============

*/

.wrap-bar {
	margin-bottom: 10px;
	.cfx();

	&__heading {
		float: left;
		margin-bottom: 0;
	}

	&__btn {
		float: right;
		margin-left: 10px;
	}
}