.wrap-bar {
	padding: 15px 0 25px;
	margin-bottom: 25px;
	.clearfix();

	border-bottom: 1px solid @color-border-dark;

	&__heading {
		float: left;
		margin-bottom: 0;
	}

	&__btn {
		float: right;
		margin-left: 10px;
	}
}
