/*
Wrap box
============
Wrapping box with background

	<div class="wrap-box">
		<p>Inner content, or anything</p>
	</div>

	<div class="wrap-box wrap-box--blank">
		<p>Inner content, or anything. Modificator --blank</p>
	</div>

*/

.wrap-box {
	display: block;
	margin-bottom: @margin-gap;
	padding: @margin-gap;

	background: @bg-box;
}

.wrap-box--blank {
	padding: 0;
}

.wrap-box--light {
	background: @color-f;
}
