/*******************************************************************
// PATHS
*******************************************************************/
@path-design: '../images';
@path-font: '../fonts';


/*******************************************************************
// FONTS
*******************************************************************/
@font-base: Arial, Helvetica, sans-serif;
@font: @font-base;

@font-size: 14px;
@font-size-mobile: 12px;

/*******************************************************************
// SIZES
*******************************************************************/
@width-web: 1200px;
@width-panel: 260px;
@padding-web: 20px;

@margin-gap: 20px;

/*******************************************************************
// COLORS
*******************************************************************/
@color-0: #000;
@color-1: #111;
@color-2: #222;
@color-3: #333;
@color-4: #444;
@color-5: #555;
@color-6: #666;
@color-7: #777;
@color-8: #888;
@color-9: #999;
@color-a: #aaa;
@color-b: #bbb;
@color-c: #ccc;
@color-d: #ddd;
@color-e: #eee;
@color-f: #fff;

@color-blue: #009BD9;
@color-green: #a0c519;
@color-orange: #FFA200;
@color-red: #D60000;

// context colors
@color-base: @color-3;

@color-primary: @color-blue;
@color-add: @color-green;
@color-light: #f4f4f4;

@color-price: @color-a;
@color-price-main: @color-red;

@color-link: @color-blue;
@color-link-hover: @color-base;

@color-info: @color-green;
@color-alert: @color-red;
@color-warning: @color-orange;

@color-inactive: @color-a;
@color-border: @color-d;

@bg-web: @color-3;
@bg-page: @color-f;
@bg-box: @color-light;

@bg-success: #dff0d8;
@bg-info: #BCE0EE;
@bg-warning: #fcf8e3;
@bg-alert: #FFEDED;

// message colors
@color-message-alert: #F7D6D6;
@color-message-warning: @color-orange;
@color-message-info: #BAE3F2;
@color-message-success: @color-green;

@color-message-alert-text: @color-red;
@color-message-warning-text: @color-orange;
@color-message-info-text: #005B7E;
@color-message-success-text: @color-green;


/*******************************************************************
// BUTTONS
*******************************************************************/
// btn default
@btn-color: @color-base;
@btn-color-hover: @color-base;
@btn-bg: @color-d;
@btn-bg-hover: darken(@btn-bg, 5%);
@btn-height: 36px;
@btn-padding-vertical: 11px;

// btn primary
@btn-primary-color: @color-f;
@btn-primary-color-hover: @color-f;
@btn-primary-bg: @color-green;
@btn-primary-bg-hover: darken(@btn-primary-bg, 5%);

// btn success
@btn-success-color: @color-f;
@btn-success-color-hover: @color-f;
@btn-success-bg: @color-blue;
@btn-success-bg-hover: darken(@btn-success-bg, 5%);

// btn disabled
@btn-disabled-bg: #C1CDD1;
@btn-disabled-color: @color-f;


/*******************************************************************
// INPUTS
*******************************************************************/
@input-height: @btn-height;


/*******************************************************************
// OTHER
*******************************************************************/
@transition-type: cubic-bezier(.61, .20, .48, 1.0);
@transition-time: 0.3s;
@transition: @transition-time @transition-type;

@radius: 3px;

@postfixes: -tab, -mob, -mobx;

/*******************************************************************
// POPUP WINDOWS
*******************************************************************/
@window-width: 400px;
@window-height: 150px;

@window-wide-width: 900px;
@window-wide-height: auto;

/*******************************************************************
// RESPONSIVE POINTS
*******************************************************************/
@respons-1: 320px;
@respons-1-a: (@respons-1 - 1);
@respons-2: 480px;
@respons-2-a: (@respons-2 - 1);
@respons-3: 600px;
@respons-3-a: (@respons-3 - 1);
@respons-4: 769px;
@respons-4-a: (@respons-4 - 1);
@respons-5: 1024px;
@respons-5-a: (@respons-5 - 1);
@respons-6: @width-web;
@respons-6-a: (@respons-6 - 1);

/*******************************************************************
// MEDIA QUERIES
*******************************************************************/
@query-xs: ~"screen and (min-width: @{respons-1})";
@query-sm: ~"screen and (min-width: @{respons-2})";
@query-md: ~"screen and (min-width: @{respons-3})";
@query-lg: ~"screen and (min-width: @{respons-4})";
@query-vl: ~"screen and (min-width: @{respons-5})";
@query-xl: ~"screen and (min-width: @{respons-6})";

@query-mobile-xs: ~"screen and (max-width: @{respons-2-a})";
@query-mobile: ~"screen and (max-width: @{respons-3-a})";
@query-tablet: ~"screen and (max-width: @{respons-4-a})";
@query-tablet-only: ~"screen and (min-width: @{respons-3}) and (max-width: @{respons-4-a})";
@query-not-large-desktop: ~"screen and (max-width: @{respons-5-a})";