// Paths
@path-design: '../images';
@path-font: '../fonts';

// Fonts
@font-base: Arial, Helvetica, sans-serif;
@font: @font-base;

@font-size: 14px;
@font-size-mobile: 12px;

// Layout
@web-width: 1200px;
@web-padding: 20px;
@web-panel-width: 260px;

@margin-gap: 20px;

// Colors
//// Gray scale
@color-0: #000;
@color-1: #111;
@color-2: #222;
@color-3: #333;
@color-4: #444;
@color-5: #555;
@color-6: #666;
@color-7: #777;
@color-8: #888;
@color-9: #999;
@color-a: #aaa;
@color-b: #bbb;
@color-c: #ccc;
@color-d: #ddd;
@color-e: #eee;
@color-f: #fff;

//// Classic colors of design
@color-blue: #009BD9;
@color-green: #a0c519;
@color-orange: #FFA200;
@color-red: #D60000;

//// Context colors
////// Base color of text
@color-base: @color-3;

////// Color, which is main in design (used in titles or links, other significant places)
@color-primary: @color-blue;

////// Color, which is additional in desing (second main color)
@color-add: @color-green;

////// Color, which is the most used grey in design
@color-light: #f4f4f4;

////// Color for common prices
@color-price: @color-a;
////// Color for more visible prices (main price)
@color-price-main: @color-red;

////// Color for main links and its hover color
@color-link: @color-blue;
@color-link-hover: @color-base;

////// Special colors
@color-info: @color-green;
@color-alert: @color-red;
@color-warning: @color-orange;

////// Color for inactive text (muted)
@color-inactive: @color-a;
////// Base color of border
@color-border: @color-d;

//// Backgrounds
@bg-web: @color-3;
@bg-page: @color-f;
@bg-box: @color-light;

//// Background colors
@bg-info: #BCE0EE;

// Buttons
// btn default
@btn-color: @color-base;
@btn-color-hover: @color-base;
@btn-bg: @color-d;
@btn-bg-hover: darken(@btn-bg, 5%);
@btn-height: 36px;
@btn-padding-vertical: 11px;

// btn primary
@btn-primary-color: @color-f;
@btn-primary-color-hover: @color-f;
@btn-primary-bg: @color-green;
@btn-primary-bg-hover: darken(@btn-primary-bg, 5%);

// btn success
@btn-success-color: @color-f;
@btn-success-color-hover: @color-f;
@btn-success-bg: @color-blue;
@btn-success-bg-hover: darken(@btn-success-bg, 5%);

// btn disabled
@btn-disabled-bg: #C1CDD1;
@btn-disabled-color: @color-f;


// Inputs
@input-height: @btn-height;


// Other
@transition-type: cubic-bezier(.8, .20, .48, 1.0);
@transition-time: 0.2s;
@transition: @transition-time @transition-type;

@radius: 3px;

@postfixes: -tablet, -mobile, -mobile-small;

// Responsive points
@respons-1: 320px;
@respons-1-a: (@respons-1 - 1);
@respons-2: 480px;
@respons-2-a: (@respons-2 - 1);
@respons-3: 600px;
@respons-3-a: (@respons-3 - 1);
@respons-4: 769px;
@respons-4-a: (@respons-4 - 1);
@respons-5: 1024px;
@respons-5-a: (@respons-5 - 1);
@respons-6: @web-width;
@respons-6-a: (@respons-6 - 1);

// Media queries
//// Mobile first
@query-xs: ~"screen and (min-width: @{respons-1})";
@query-sm: ~"screen and (min-width: @{respons-2})";
@query-md: ~"screen and (min-width: @{respons-3})";
@query-lg: ~"screen and (min-width: @{respons-4})";
@query-vl: ~"screen and (min-width: @{respons-5})";
@query-xl: ~"screen and (min-width: @{respons-6})";

//// Desktop first
@query-mobile-xs: ~"screen and (max-width: @{respons-2-a})";
@query-mobile: ~"screen and (max-width: @{respons-3-a})";
@query-tablet: ~"screen and (max-width: @{respons-4-a})";
@query-tablet-only: ~"screen and (min-width: @{respons-3}) and (max-width: @{respons-4-a})";
@query-not-large-desktop: ~"screen and (max-width: @{respons-5-a})";
