{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'XML Feedy '|trans }}{% endblock %}
{% block h1 %}{{ 'XML Feedy'|trans }}{% endblock %}

{% block main_content %}
	<a href="{{ url('admin_feed_generate') }}" class="btn">Vygenerovat feedy</a>

	{{ gridView.render() }}
{% endblock%}