{{ render(controller('ShopsysShopBundle:Front/FlashMessage:index')) }}
{% import '@ShopsysShop/Front/Content/Product/productListMacro.html.twig' as productList %}

{% if isModuleEnabled(ACCESSORIES_ON_BUY) %}
    {% if accessories|length > 0 %}
        <div class="wrap-box margin-top-20 margin-bottom-0">
            <h3 class="wrap-box__title">
                {{ 'Our customers who bought this bought also'|trans }}
            </h3>
            <div class="wrap-box__in">
                {{ productList.list(accessories, 'list-products--in-window') }}
            </div>
        </div>
        <span class="js-add-product-wide-window" data-wide="true"></span>
    {% endif %}
{% endif %}
<span class="js-add-product-url-cart" data-url="{{ url('front_cart') }}"></span>
