/*******************************************************************
// SIZES
*******************************************************************/
@width-page: 1140px;
@margin-gap: 20px;


/*******************************************************************
// PATHS
*******************************************************************/
@path-images: 'images/';
@path-fonts: 'fonts/';


/*******************************************************************
// COLORS
*******************************************************************/
@color-base: #333;
@color-desc: #555;
@color-primary: #138ee4;

@color-info: #1fa322;
@color-alert: #d42244;

@color-white: #fff;
@color-black: #000;

@gray-darker: lighten(#000, 13.5%);
@gray-dark: lighten(#000, 20%);
@gray: lighten(#000, 33.5%);
@gray-light: lighten(#000, 60%);
@gray-lighter: lighten(#000, 93.5%);

@color-link: @color-primary;
@color-link-hover: @color-base;

@color-border: @gray-lighter;
@color-shadow: @gray-lighter;
@color-inactive: lighten(@color-base, 55%);

// backgrounds
@bg-web: @gray-lighter;
@bg-page: #fff;
@bg-box: #fafafa;
@bg-window: #fff;
@bg-table: #fafafa;
@bg-primary: @color-primary;


/*******************************************************************
// RADIUS
*******************************************************************/
@border-radius-base: 4px;
@border-radius-large: 6px;
@border-radius-small: 3px;


/*******************************************************************
// BUTTONS
*******************************************************************/
@button-bg: @bg-primary;
@button-height: 20px;
@button-padding: 5px 15px;
@button-color: @color-white;
@button-radius: @border-radius-base;

@button-bg-hover: @color-base;
@button-color-hover: @color-white;

// alter
@button-bg-alter: #aaa;

// large
@button-height-large: 30px;
@button-padding-large: 5px 25px;


/*******************************************************************
// FONTS
*******************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,latin-ext);

@font: 'Open Sans', Arial, Helvetica, sans-serif;
@font-title: 'Roboto Condensed', Arial, Helvetica, sans-serif;

@font-size: 14px;


/*******************************************************************
// POPUP WINDOWS
*******************************************************************/
@window-width: 400px;
@window-height: 200px;


/*******************************************************************
// MEDIA QUERIES
*******************************************************************/
@respons-1: 480px;
@respons-2: 768px;
@respons-3: 980px;
@respons-4: @width-page;

@query-1: ~"screen and (min-width: @{respons-1})";
@query-2: ~"screen and (min-width: @{respons-2})";
@query-3: ~"screen and (min-width: @{respons-3})";
@query-4: ~"screen and (min-width: @{respons-4})";


/*******************************************************************
// OTHER
*******************************************************************/

// transition
@transition: cubic-bezier(.61, .20, .48, 1.01);
@transition-time: 0.3s;