<div class="search-box" id="js-search-autocomplete">
	<form action="#" method="get">
		<input
			type="text"
			placeholder="{{ 'Vyhledávání'|trans }}"
			class="form-control"
			id="js-search-autocomplete-input"
			data-autocomplete-url="{{ url('front_search_autocomplete') }}"
		/>

		{% macro autocompleteListItem() %}
			<li class="js-search-autocomplete-item">
				<a class="js-search-autocomplete-item-link">
					<img alt="" title="" width="30" class="js-search-autocomplete-item-image" />
					<span class="js-search-autocomplete-item-label"></span>
				</a>
			</li>
		{% endmacro %}

		<ul class="search-result-list display-none" id="js-search-autocomplete-list" data-item-template="{{ _self.autocompleteListItem()|e }}">
			<li id="js-search-autocomplete-label"></li>
		</ul>
	</form>
</div>