<div class="search-box">
	<form action="#" method="get">
		<input type="text" class="form-control" placeholder="{{ 'Vyhledávání'|trans }}" />
		<ul class="search-result-list">
			<li>{{ 'Celkem nalezeno 31 produktů'|trans }}</li>
			<li>
				<a href="#">
					<img alt="" title="" src="/assets/content/images/noimage.gif" width="30" />
					<span>Název produktu</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img alt="" title="" src="/assets/content/images/noimage.gif" width="30" />
					<span>Název produktu</span>
				</a>
			</li>
		</ul>
	</form>
</div>