{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block title %}
	Košík
{% endblock %}

{% block content %}
	<h1>Váš košík</h1>

	<table class="basket-list">
		<thead class="basket-list__heading">
			<tr>
				<th class="table-col-10">Obrázek</th>
				<th class="table-col-40">Název</th>
				<th class="table-col-10 text-center">Cena za kus</th>
				<th class="table-col-20 text-center">Počet kusů</th>
				<th class="table-col-10 text-center">Cena</th>
				<th class="table-col-10 text-right">&nbsp;</th>
			</tr>
		</thead>

		<tbody>
			<tr class="basket-list__item">
				<td class="basket-list__image basket-list__cell-left">
					<a href="./" title="">
						<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="60px" height="40px">
					</a>
				</td>

				<td class="basket-list__title basket-list__cell-left">
					<a href="./" title="">
						Brutální název produktu
					</a>
				</td>

				<td class="basket-list__price-piece">
					1 800 Kč
				</td>

				<td class="basket-list__ammount">
					<span class="input-spinbox">
						<span class="button input-spinbox__button">-</span>
						<input type="number" class="input-spinbox__input">
						<span class="button input-spinbox__button">+</span>
					</span>
				</td>

				<td class="basket-list__price-final">
					1 800 Kč
				</td>

				<td class="basket-list__remove">
					<a href="./">
						odstranit
					</a>
				</td>
			</tr>
			<tr class="basket-list__item">
				<td class="basket-list__image basket-list__cell-left">
					<a href="./" title="">
						<img src="{{ asset('assets/frontend/images/bez.jpg') }}" alt="" width="60px" height="40px">
					</a>
				</td>

				<td class="basket-list__title basket-list__cell-left">
					<a href="./" title="">
						Brutální název produktu
					</a>
				</td>

				<td class="basket-list__price-piece">
					1 800 Kč
				</td>

				<td class="basket-list__ammount">
					<div class="input-spinbox">
						<span class="button input-spinbox__button">-</span>
						<input type="number" class="input-spinbox__input">
						<span class="button input-spinbox__button">+</span>
					</div>
				</td>

				<td class="basket-list__price-final">
					1 800 Kč
				</td>

				<td class="basket-list__remove">
					<a href="./">
						odstranit
					</a>
				</td>
			</tr>
		</tbody>


		<tfoot class="basket-list__foot">
			<tr>
				<td colspan="6">
					Celková cena:
					<span class="basket-list__price-total">
						<span class="price-main">12 054 Kč</span>
					</span>
				</td>
			</tr>
		</tfoot>

	</table>

	<div class="buttons-control">
		<a href="./" class="button button--alter buttons-control__left">
			Zpět k nákupu
		</a>

		<a href="./" class="button button--large button-primary buttons-control__right">
			Objednat
		</a>
	</div>

{% endblock %}