.order-progress {
	.reset-ul();
	.cfx();
	margin: 20px 0;

	border: 1px solid @color-border;
}

.order-progress .order-progress__item {
	float: left;
	width: 100% / 3;
	height: 40px;

	border-left: 1px solid @color-border;

	&:first-child {
		border-left: 0;
	}
}

.order-progress .order-progress__item--active .order-progress__item__inner {
	background: @bg-box;
	color: @color-base;
}

.order-progress .order-progress__item__inner {
	display: block;
	padding: 0 10px 0 20px;
	line-height: 40px;

	text-decoration: none;
	color: @color-primary;

	&:hover {
		text-decoration: none;
	}
}

.order-progress .order-progress__item__number {
	float: left;
	margin-right: 10px;

	font-size: 18px;
}