.table-col {
	.box-sizing('border-box');
}

.table-col-10 {
	width: 10%;
}
.table-col-15 {
	width: 15%;
}
.table-col-20 {
	width: 20%;
}
.table-col-25 {
	width: 25%;
}
.table-col-30 {
	width: 30%;
}
.table-col-35 {
	width: 35%;
}
.table-col-40 {
	width: 40%;
}
.table-col-45 {
	width: 45%;
}
.table-col-50 {
	width: 50%;
}
.table-col-60 {
	width: 60%;
}
.table-col-80 {
	width: 80%;
}