.side-menu {
    .reset-ul();

    &__item {
        display: block;

        border-bottom: 1px solid @color-border;

        &:last-child {
            margin-bottom: 30px;
        }

        &--superadmin {
            background: lighten(@color-red, 53%);
        }

        &__link {
            display: block;
            position: relative;
            padding: 15px;

            cursor: pointer;
            color: @color-base;
            font-size: 16px;
            text-decoration: none;

            &:hover {
                color: @color-primary;
            }

            .side-menu__submenu & {
                font-size: 14px;
            }

            .side-menu__item--active & {
                padding-left: 11px;

                background-color: @bg-info;
                border-left: 4px solid @color-blue;
                color: @color-link;

                &:hover {
                    color: @color-link-hover;
                }
            }

            .side-menu__item--superadmin & {
                border-left-color: @color-red;
                color: @color-red;
            }

            .svg {
                margin-right: 4px;

                color: @color-darklink;
            }

            &__icon {
                position: relative;
                top: -1px;
                float: left;
                margin-right: 5px;

                color: @color-move;
                font-weight: normal;
            }
        }
    }

    &__submenu {
        .reset-ul();

        .side-menu__item--active > & {
            display: block !important;
        }

        .open & {
            .animated(0.1s, 0s);
            .fadeIn-scale-topLeft;
        }

        &__item {
            display: block;

            &--superadmin {
                background: lighten(@color-red, 53%);
            }


            &__link {
                display: block;
                position: relative;
                padding: 8px 15px 8px 37px;

                cursor: pointer;
                color: @color-darklink;
                font-size: 14px;
                text-decoration: none;

                &:hover {
                    color: @color-darklink-hover;
                }

                .side-menu__item--active & {
                    padding-left: 33px;

                    border-left: 4px solid @color-blue;
                }

                .side-menu__item--superadmin & {
                    border-left-color: @color-red;
                }

                .side-menu__submenu__item--active > & {
                    color: @color-link;
                    font-weight: bold;

                    &:hover {
                        color: @color-link-hover;
                    }
                }

                .side-menu__submenu__item--superadmin & {
                    color: @color-red;
                }

                .side-menu__submenu__item:last-child & {
                    padding-bottom: 15px;
                }

                .side-menu__submenu--level2 & {
                    display: flex;
                    padding-top: 4px;
                    padding-bottom: 4px;

                    font-size: 12px;

                    .svg {
                        margin-right: 5px;
                    }
                }

                .side-menu__submenu--level2 .side-menu__submenu__item:last-child & {
                    padding-bottom: 10px;
                }
            }
        }
    }
}
