/*
Action icons
======
This classs should be used in table for adjacent icons eg. for actions delete, edit etc.
It makes gaps between icons. Modifier --active makes icons more visible.

	<table class="table">
		<tr>
			<td>Id</td>
			<td>Content content content content content</td>
			<td class="action-icons">
				<span class="action-icons__item semaphore semaphore--true"></span>
				<span class="action-icons__item semaphore semaphore--false"></span>
			</td>
		</tr>
		<tr>
			<td>Id</td>
			<td>Content content content content content</td>
			<td class="action-icons--active">
				<span class="action-icons__item semaphore semaphore--true"></span>
				<span class="action-icons__item semaphore semaphore--false"></span>
			</td>
		</tr>
	</table>

*/

.action-icons {
	padding: 3px;
}

.action-icons--active {
	background: @color-3;

	.border-radius(@border-radius-large);
}

.action-icons__item {
	display: inline-block;
	margin: 0 8px 0 0;

	color: @color-primary;

	&:hover {
		color: @color-base;
	}
}

.action-icons__item--confirm {
	color: @color-green;
}

.action-icons__item--discard {
	color: @color-red;
}