/*
Flash messages
========
Many types of messagess

	<div class="in-message">
		Simple message
	</div>

	<div class="in-message in-message--success">
		Success message
	</div>

	<div class="in-message in-message--info">
		Info message
	</div>

	<div class="in-message in-message--warning">
		Warning message
	</div>

	<div class="in-message in-message--danger">
		Danger message with close button

		<span class="in-message__close">X</span>
	</div>

	<div class="in-message in-message--danger">
		<ul class="in-message__list">
			<li>Error list in message</li>
			<li>Error list in message</li>
			<li>Error list in message</li>
		</ul>
	</div>
*/
.in-message {
	padding: 2px 10px;
	position: absolute;
	top: 6px;
	left: 550px;
	z-index: 10;

	border: 1px solid @color-e;
	background: lighten(@color-e, 10%);
	font-size: 12px;

	.border-radius(@border-radius-base);
}

.in-message--static {
	padding: 20px;
	margin: 20px 0;
	position: static;
}

.in-message--success {
	border-color: darken(@bg-success, 10%);

	.bg-variant(@bg-success);
}
.in-message--info {
	border-color: darken(@bg-info, 10%);

	.bg-variant(@bg-info);
}
.in-message--warning {
	border-color: darken(@bg-warning, 10%);

	.bg-variant(@bg-warning);
}
.in-message--danger {
	border-color: darken(@bg-alert, 10%);

	.bg-variant(@bg-alert);
}

.in-message .in-message__list {
	.reset-ul();

	white-space: nowrap;
}

.in-message__close {
	float: right;
	margin-left: 20px;
	height: 20px;
	line-height: 20px;
	width: 20px;

	text-align: center;
	font-weight: bold;
	color: @color-f;
	background: @color-5;
	cursor: pointer;

	.border-radius(@border-radius-base);
	.set-transition();
	.transition(background);

	&:hover {
		background: @color-3;
		color: @color-f;
		text-decoration: none;
	}
}
