/*
Sorting arrows
=========
Arrows for sorting ascendent/descendent in grid

	<table class="table">
		<tr>
			<td>ID <span class="in-sort-arrows in-sort-arrows--down"></span></td>
			<td>Name <span class="in-sort-arrows in-sort-arrows--up"></span></td>
			<td>Type</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Name</td>
			<td>Person</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Name</td>
			<td>Person</td>
		</tr>
	</table>

*/

.in-sort-arrows {
	position: relative;
	display: inline-block;
	width: 10px;
}

.in-sort-arrows--up {
	.draw-arrow-top(5px, @link-color, 5px, -8px);
}

.in-sort-arrows--down {
	.draw-arrow-bottom(5px, @link-color, 5px, -6px);
}