{% import '@SS6Shop/Front/Content/Product/filterFormMacro.html.twig' as productFilterForm %}

<div class="box-filter js-product-filter">
	{{ productFilterForm.filterForm(
		filterForm,
		url('front_product_search'),
		url('front_product_search', { (constant('SS6\\ShopBundle\\Controller\\Front\\ProductController::SEARCH_TEXT_PARAMETER')): searchText }),
		searchText,
		'search',
		productFilterCountData
	) }}
</div>

<div class="js-product-list-ajax-filter-products-with-controls">
	{% include '@SS6Shop/Front/Content/Product/productsWithControls.html.twig' with {paginationResult: paginationResult, filterFormSubmited: filterFormSubmited, searchText: searchText} %}
</div>