{{ form_start(form) }}
	<div class="form-line form-line--size-2 wrap-lines">
		<strong class="form-line__label">{{ 'Řazení'|trans }}:</strong>
		<div class="form-line__field">
			{{ form_widget(form.orderingMode, { attr: { class: 'js-product-list-ordering-mode', 'data-cookie-name': cookieName  } }) }}
		</div>
	</div>
{{ form_end(form) }}
