<div class="box-order-type">
	<a href="#" class="box-order-type__item active">
		{{ 'Abecedně'|trans }}
	</a>
	<a href="#" class="box-order-type__item">
		{{ 'Abecedně'|trans }}
	</a>
	<a href="#" class="box-order-type__item">
		{{ 'Abecedně'|trans }}
	</a>
</div>