/*******************************************************************
// PATHS
*******************************************************************/
@path-image: 'images/';
@path-font: 'fonts/';


/*******************************************************************
// OTHER
*******************************************************************/

// transition
@transition: cubic-bezier(.61, .20, .48, 1.01);
@transition-time: 0.3s;