@margin-minimum: 0;
@margin-stepper: 5;
@margin-maximum: 50;
@margin-unit: 'px';

.margin (@i, @step, @max, @postfix: ~'') when (@i <= @max) {
	&-@{i}@{postfix} {
		margin: ~'@{i}@{margin-unit}';
	}

	&-left-@{i}@{postfix} {
		margin-left: ~'@{i}@{margin-unit}';
	}

	&-right-@{i}@{postfix} {
		margin-right: ~'@{i}@{margin-unit}';
	}

	&-bottom-@{i}@{postfix} {
		margin-bottom: ~'@{i}@{margin-unit}';
	}

	&-top-@{i}@{postfix} {
		margin-top: ~'@{i}@{margin-unit}';
	}

	.margin(@i + @step, @step, @max, @postfix);
}

.h-margin {
	.margin(@margin-minimum, @margin-stepper, @margin-maximum);

	@media @query-tablet {
		.margin(@margin-minimum, @margin-stepper, @margin-maximum, extract(@postfixes, 1));
	}

	@media @query-mobile {
		.margin(@margin-minimum, @margin-stepper, @margin-maximum, extract(@postfixes, 2));
	}
}