@padding-minimum: 0;
@padding-stepper: 5;
@padding-maximum: 20;
@padding-unit: 'px';

.h-padding {
	.padding-generator(@padding-minimum, @padding-stepper, @padding-maximum);

	@media @query-tablet {
		.padding-generator(@padding-minimum, @padding-stepper, @padding-maximum, extract(@postfixes, 1));
	}

	@media @query-mobile {
		.padding-generator(@padding-minimum, @padding-stepper, @padding-maximum, extract(@postfixes, 2));
	}
}
