{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Přehled dostupností'|trans }}{% endblock %}
{% block h1 %}{{ 'Přehled dostupností'|trans }}{% endblock %}

{% block main_content %}
	<div class="row">
		<div class="col-xs-12 col-lg-10">
			{{ gridView.render('@SS6Shop/Admin/Content/Availability/listGrid.html.twig') }}
		</div>
	</div>
{% endblock %}