services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Shopsys\ProductFeed\ZboziBundle\:
    resource: '../../*'

  Shopsys\ProductFeed\ZboziBundle\ZboziFeedConfig:
    tags:
      - { name: shopsys.product_feed }

  Shopsys\ProductFeed\ZboziBundle\ZboziProductCrudExtension:
    tags:
      - { name: shopsys.crud_extension, type: product }

  Shopsys\ProductFeed\ZboziBundle\ZboziPluginDataFixture:
    tags:
      - { name: shopsys.data_fixture}
