config_version: 1425041547
domains:
  - id: 1
    url: http://localhost:8080
    name: localhost
    locale: cs
    templates_directory: cz

  - id: 2
    url: http://2.localhost:8080
    name: localhosten
    locale: en
    templates_directory: en