parameters:
  test_database_host: 127.0.0.1
  test_database_port: ~
  test_database_name: shopsys6-test
  test_database_user: root
  test_database_password: ~

  test_mailer_transport: smtp
  test_mailer_host: 127.0.0.1
  test_mailer_user: ~
  test_mailer_password: ~

  error_reporting_to_email: ~