parameters:
  database_host: postgres
  database_port: ~
  database_name: shopsys
  database_user: root
  database_password: root
  database_server_version: 9.5

  mailer_transport: smtp
  mailer_host: smtp-server
  mailer_user: ~
  mailer_password: ~
  mailer_disable_delivery: false
  mailer_master_email_address: no-reply@shopsys.com
  mailer_delivery_whitelist: [/@shopsys\.com$/]

  error_reporting_email_to: ~
  error_reporting_email_from: ~

  secret: ThisTokenIsNotSoSecretChangeIt
