@table-grid-font-size: 13px;
@table-grid-font-weight: 500;
@table-grid-cell-padding: 15px;
@table-grid-line-color: @bg-page;

.table-grid {
    width: 100%;
    border-collapse: collapse;
    border-radius: @radius;
    overflow: hidden;

    thead {
        background: @color-f;
        color: @color-base;
        font-weight: bold;
    }

    tbody {
        background: @color-f;
    }

    &__row {
        border-bottom: 2px solid @table-grid-line-color;

        &:last-child {
            tbody & {
                border-bottom: none;
            }
        }

        &--edit {
            background: @bg-edit;
        }

        &:nth-child(2n) {
            tbody & {
                background: @bg-stripe;
            }
        }
    }

    &__cell {
        padding: @table-grid-cell-padding 6px;
        height: 40px;

        text-align: left;
        font-size: @table-grid-font-size;
        font-weight: @table-grid-font-weight;

        &:first-child {
            padding-left: 17px;

            .svg {
                color: @color-blue;
            }
        }

        &:last-child {
            padding-left: 17px;
        }

        &--choice {
            width: 40px;
        }

        &--move {
            width: 40px;
            padding-left: 17px;
            padding-right: 17px;
        }

        &--actions {
            width: 90px;
            padding-left: 17px;
            padding-right: 17px;

            color: @color-action;
            text-align: right;

            a, span {
                width: 18px;
                margin: 5px;

                text-align: center;
            }
        }

        &--bold {
            font-weight: 800;
        }

        thead & {
            padding-top: @table-grid-cell-padding;
            padding-bottom: @table-grid-cell-padding;

            font-size: @table-grid-font-size;

            a {
                color: @color-base;
                text-decoration: none;
            }
        }
    }
}
