/*
Form adding to cart
================
Small form box for adding items to cart with input field

	<div class="box-cart-adding">
		<span class="box-cart-adding__input">
			<input class="text-center form-control" type="text"> times
		</span>
		<a href="#" class="button">Add to cart</a>
	</div>
*/

.box-cart-adding {
	font-size: 12px;
}

.box-cart-adding__input {
	margin-right: 5px;

	input {
		display: inline-block;
		width: 45px;
	}
}