/*
Filter box
================
Box for filtering with many inputs.

*/

.box-filter {
	margin-bottom: 20px;
	padding: 20px;

	background: @bg-box;
}

.box-filter__group {
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.box-filter__group__item {
	padding-right: 10px;
	padding-bottom: 10px;
	width: 100% / 4;
}

.box-filter__buttons {
	padding: 10px;

	background: lighten(@bg-box, 5%);
	text-align: right;
	border: 1px solid @color-border;
}