{% extends '@ShopsysShop/Admin/Layout/base.html.twig' %}

{% block html_body %}
    <div class="web__container web__container--blank">
        <div class="web__content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}