.table-responsive,
.grid {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
  -webkit-overflow-scrolling: touch;
}

.table-responsive>.table,
.grid>.table,
.table-responsive .grid_body>table,
.grid .grid_body>table {
  margin-bottom: 0;
}

.table-responsive>.table>thead>tr>th,
.grid>.table>thead>tr>th,
.table-responsive .grid_body>table>thead>tr>th,
.grid .grid_body>table>thead>tr>th,
.table-responsive>.table>tbody>tr>th,
.grid>.table>tbody>tr>th,
.table-responsive .grid_body>table>tbody>tr>th,
.grid .grid_body>table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>th,
.grid>.table>tfoot>tr>th,
.table-responsive .grid_body>table>tfoot>tr>th,
.grid .grid_body>table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.grid>.table>thead>tr>td,
.table-responsive .grid_body>table>thead>tr>td,
.grid .grid_body>table>thead>tr>td,
.table-responsive>.table>tbody>tr>td,
.grid>.table>tbody>tr>td,
.table-responsive .grid_body>table>tbody>tr>td,
.grid .grid_body>table>tbody>tr>td,
.table-responsive>.table>tfoot>tr>td,
.grid>.table>tfoot>tr>td,
.table-responsive .grid_body>table>tfoot>tr>td,
.grid .grid_body>table>tfoot>tr>td {
  white-space: nowrap;
}

.table-responsive>.table-bordered,
.grid>.table-bordered {
  border: 0;
}

.table-responsive>.table-bordered>thead>tr>th:first-child,
.grid>.table-bordered>thead>tr>th:first-child,
.table-responsive>.table-bordered>tbody>tr>th:first-child,
.grid>.table-bordered>tbody>tr>th:first-child,
.table-responsive>.table-bordered>tfoot>tr>th:first-child,
.grid>.table-bordered>tfoot>tr>th:first-child,
.table-responsive>.table-bordered>thead>tr>td:first-child,
.grid>.table-bordered>thead>tr>td:first-child,
.table-responsive>.table-bordered>tbody>tr>td:first-child,
.grid>.table-bordered>tbody>tr>td:first-child,
.table-responsive>.table-bordered>tfoot>tr>td:first-child,
.grid>.table-bordered>tfoot>tr>td:first-child {
  border-left: 0;
}

.table-responsive>.table-bordered>thead>tr>th:last-child,
.grid>.table-bordered>thead>tr>th:last-child,
.table-responsive>.table-bordered>tbody>tr>th:last-child,
.grid>.table-bordered>tbody>tr>th:last-child,
.table-responsive>.table-bordered>tfoot>tr>th:last-child,
.grid>.table-bordered>tfoot>tr>th:last-child,
.table-responsive>.table-bordered>thead>tr>td:last-child,
.grid>.table-bordered>thead>tr>td:last-child,
.table-responsive>.table-bordered>tbody>tr>td:last-child,
.grid>.table-bordered>tbody>tr>td:last-child,
.table-responsive>.table-bordered>tfoot>tr>td:last-child,
.grid>.table-bordered>tfoot>tr>td:last-child {
  border-right: 0;
}

.table-responsive>.table-bordered>tbody>tr:last-child>th,
.grid>.table-bordered>tbody>tr:last-child>th,
.table-responsive>.table-bordered>tfoot>tr:last-child>th,
.grid>.table-bordered>tfoot>tr:last-child>th,
.table-responsive>.table-bordered>tbody>tr:last-child>td,
.grid>.table-bordered>tbody>tr:last-child>td,
.table-responsive>.table-bordered>tfoot>tr:last-child>td,
.grid>.table-bordered>tfoot>tr:last-child>td {
  border-bottom: 0;
}

.navbar-nav .open .dropdown-menu {
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.navbar-nav .open .dropdown-menu>li>a,
.navbar-nav .open .dropdown-menu .dropdown-header {
  padding: 5px 15px 5px 25px;
}

.navbar-nav .open .dropdown-menu>li>a {
  line-height: 20px;
}

.navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-nav .open .dropdown-menu>li>a:focus {
  background-image: none;
}

.navbar-form .form-group {
  margin-bottom: 5px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #777;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #333;
  background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
  color: #555;
  background-color: #e7e7e7;
}

.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
  color: #ccc;
  background-color: transparent;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
  border-color: #080808;
}

.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
  background-color: #080808;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color: #999;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
  color: #fff;
  background-color: #080808;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,
.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus {
  color: #444;
  background-color: transparent;
}

.visible-xs {
  display: block !important;
}

table.visible-xs {
  display: table;
}

tr.visible-xs {
  display: table-row !important;
}

th.visible-xs,
td.visible-xs {
  display: table-cell !important;
}

.hidden-xs {
  display: none !important;
}