{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block title %}
	Objednávka dokončena
{% endblock %}

{% block content %}

	<h1>Objednávka byla odeslána</h1>

	<p>
		Objednávka byla odeslána, děkujeme za Váš nákup. Budeme Vás kontaktovat o dalším průběhu vyřizování.
	</p>

{% endblock %}