.grid-row-actions {
	.reset-ul();
	.cfx();
	li {
		float: left;
		margin-right: 10px;
	}
}

.grid {
	.last-column {
		width: 20%;
	}	
}

.grid .sort_up {
	position: relative;
	.draw-arrow-top(5px, @link-color, auto, -12px);
	&:after {
		right: 0;
	}
}

.grid .sort_down {
	position: relative;
	.draw-arrow-bottom(5px, @link-color, auto, -12px);
	&:after {
		right: 0;
	}
}

.grid .pager {
	input.prev, input.next {
		height: 30px;
		line-height: 30px;
		.box-sizing(border-box);
		border: 1px solid @gray-lighter;
		background: @gray-lighter;
		margin: 0 2px;
		cursor: pointer;
	}
	input.current {
		height: 30px;
		line-height: 30px;
		.box-sizing(border-box);
		border: 1px solid @gray-lighter;
		text-align: center;
		cursor: pointer;
	}
	select {
		height: 30px;
		line-height: 30px;
		padding: 2px 10px;
		border: 1px solid @gray-lighter;
		.box-sizing(border-box);
	}
}

