{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Překlady konstant'|trans }}{% endblock %}
{% block h1 %}{{ 'Překlady konstant'|trans }}{% endblock %}

{% block main_content %}
	<div class="row">
		<div class="col-xs-12 col-lg-10">
			{{ gridView.render() }}
		</div>
	</div>
{% endblock %}
