body {
	font-size: @font-size;
	line-height: @line-height-base;
	color: @color-base;
	background: @bg-web url('images/bg.png') 0 90px repeat-x;
	.backface-visibility(hidden);
}

.web-wrap {	
	background: @bg-page;
	padding: 20px;
	.box-sizing(border-box);
}

@media @query-4 {
	.web-wrap {
		width: @width-page;
		margin: 0 auto;
	}
}

.header {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid @color-border;
	position: relative;
	.cfx();
}

.footer {
	margin-top: 20px;
	background: @bg-box;
	padding: 20px;
	font-size: 12px;
}