{{ message }}

<div class="window__actions">
	<a href="{{ url(route, routeParams) }}" class="window-button-continue button btn btn-primary">{{ 'Ano'|trans }}</a>
	<a
		class="window-button-close button btn btn-primary ml-1"
		href="#"
		onclick="$(this).closest('.window').trigger('windowClose'); return false;"
	>
		{{ 'Ne'|trans }}
	</a>
</div>
