{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'DPH a zaokrouhlování'|trans }}{% endblock %}
{% block h1 %}{{ 'DPH a zaokrouhlování'|trans }}{% endblock %}

{% block main_content %}

	{{ render(controller('SS6ShopBundle:Admin/Vat:settings')) }}

	<div class="row">
		<div class="col-xs-12 col-lg-10">
			{{ gridView.render() }}
		</div>
	</div>
{% endblock %}