{{ form_start(form) }}
	<div class="wrap-border">
		{{ form_row(form.roundingType, { 'label': 'Price including VAT rounding'|trans }) }}
		{{ form_widget(form.save, { label: 'Save changes'|trans}) }}
	</div>
{{ form_end(form) }}