<div class="row">
	<div class="col-xs-12 col-lg-10">
		{{ form_start(form) }}
			<div class="wrap-box form-inline mb-1 mt-1">
				{{ form_row(form.roundingType, { 'label': 'Zaokrouhlení ceny s DPH' }) }}
				{{ form_widget(form.save, { label: 'Uložit změny'}) }}
			</div>
		{{ form_end(form) }}
	</div>
</div>