{{ form_start(form) }}
	<div class="wrap-border">
		{{ form_row(form.roundingType, { 'label': 'Zaokrouhlení ceny s DPH'|trans }) }}
		{{ form_widget(form.save, { label: 'Uložit změny'|trans}) }}
	</div>
{{ form_end(form) }}