/*
Fixed bar for floating buttons
============
Floating buttons are for big forms, where you should see them everytime.

	<div class="window-fixed-bar">
		<a href="#" class="btn">Button</a>
		<a href="#" class="btn">Button 2</a>
	</div>

*/

.window-fixed-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	.cfx();

	background: @color-d;
	.box-shadow(0 0 10px @color-a);
	border: 1px solid @color-f;
	text-align: center;

	.border-radius(@border-radius-base);

	&--developer-mode {
		padding-bottom: 50px;
	}

	&__buttons {
		float: right;
		margin: 0 10px;
	}
}