.chooser {
	position: relative;
}

.chooser .chooser__item {
	width: 100%;
	cursor: pointer;
	margin: 5px 0;
	font-weight: normal;
	display: table;
	font-size: 12px;
}

.chooser .chooser__item--active span {
	color: @color-primary;
}

.chooser .chooser__item--inactive span {
	color: @color-inactive;
}

.chooser .chooser__check {
	width: 2%;
	.center-it(left);
}

.chooser .chooser__image {
	width: 5%;
	.center-it(left);
	
	img {
		display: block;
	}
}

.chooser .chooser__title {
	width: 78%;
	.center-it(left);
}

.chooser .chooser__price {
	width: 15%;
	.center-it(right);
	font-weight: bold;
	font-size: 14px;
}