.navig {
	.reset-ul();
	display: block;
	margin-left: @width-panel;
	margin-right: 230px;

	font-size: 0;

	&--side {
		float: right;
		margin: 0 20px 0 0;

		text-align: right;
	}

	&__item {
		display: inline-block;
		vertical-align: middle;

		font-size: 14px;

		&__link {
			display: block;
			height: @height-header;
			line-height: @height-header;
			padding: 0 20px;

			color: @color-alterlink;
			text-decoration: none;
			font-size: 26px;

			i {
				position: relative;
				top: -3px;
			}

			&:hover {
				color: @color-alterlink-hover;
			}

			&--active {
				color: @color-alterlink-hover;
				background: darken(@bg-primary, 5%);
			}
		}
	}
}