/*
Box line
===========
Box which can be delimited by top and bottom border

	<div class="box-line box-line--border">
		<p>Inner content</p>
	</div>
*/

.box-line {
	padding: 10px 0 5px;
}

.box-line--border {
	border-top: 3px solid @color-border-light;
	border-bottom: 3px solid @color-border-light;
}