/*
Info box
============
Wrapping box with background

	<div class="info-box">
		<p>Inner content, or anything</p>
	</div>

*/

.info-box {
	display: block;
	margin-bottom: @margin-gap;
	padding: @margin-gap;

	background: @bg-box;
}