// helpers


/*******************************************************************
// FLOAT + ALIGN 
*******************************************************************/
.right {
	float: right;
}

.left {
	float: left;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}


/*******************************************************************
// MARGINS + PADDINGS
*******************************************************************/
.mb-1 {
	margin-bottom: @margin-gap !important;
}