/*
Form block
===========
Form structure, where you have label over input, good for filter items, or special forms.
If you have wrap around base items, it makes flex structure.

	<div class="form-block">
		<label class="form-block__label">
			Label over
		</label>
		<div class="form-block__field">
			<input type="text" class="form-block__item form-control"> €
		</div>
	</div>

	<div class="form-block__wrap">
		<div class="form-block">
			<label class="form-block__label">
				Label over
			</label>
			<div class="form-block__field">
				<input type="text" class="form-block__item form-control"> €
			</div>
		</div>
		<div class="form-block">
			<label class="form-block__label">
				Label over
			</label>
			<div class="form-block__field">
				<input type="text" class="form-block__item form-control"> €
			</div>
		</div>
		<div class="form-block">
			<label class="form-block__label">
				Label over
			</label>
			<div class="form-block__field">
				<input type="text" class="form-block__item form-control"> €
			</div>
		</div>
		<div class="form-block">
			<label class="form-block__label">
				Label over
			</label>
			<div class="form-block__field">
				<input type="text" class="form-block__item form-control"> €
			</div>
		</div>
		<div class="form-block">
			<label class="form-block__label">
				Label over
			</label>
			<div class="form-block__field">
				<input type="text" class="form-block__item form-control"> €
			</div>
		</div>
	</div>

*/
.form-block {
	position: relative;
	margin-bottom: 5px;
	padding-right: 10px;

	font-size: @font-size;
}

.form-block__wrap {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}


.form-block__wrap .form-block {
	width: 100% / 4;
}

.form-block__item {
	width: 140px;
	max-width: 85%;
	margin-right: 5px;
	display: inline-block;
}

.form-block__label {
	font-weight: normal;
}