<table>
	<tr>
		<th>Název</th>
		<th>Počet kusů</th>
		<th>Cena za kus s DPH</th>
		<th>Celková cena za položku s DPH</th>
	</tr>
	{% for product in products %}
		<tr>
			<td>{{ product.name }}</td>
			<td>{{ product.quantity }}</td>
			<td>{{ product.unit_price }}</td>
			<td>{{ product.total_price }}</td>
		</tr>
	{% endfor %}
</table>