{% extends '@SS6Shop/Admin/Form/theme.html.twig' %}

{% block product_widget %}
	<span class="js-product-picker-container">
		<input
			class="form-control js-product-picker-label"
			value="{{ productName|default('Automaticky - pro změnu vyberte'|trans) }}"
			disabled="disabled"
			readonly="readonly"
		/>
		<button
			type="button"
			data-product-picker-url="{{ url('admin_productpicker_productpicker', {parentInputId: '__input_id__'}) }}"
			class="js-product-picker-create-picker-button"
			title="Kliknutím přejdete k výběru produktu"
			onclick="SS6.productPicker.makePicker(this); return false;"
			type="button"
		>
			...
		</button>
		{{- form_widget(form, {attr: {class: 'js-product-picker-input', 'data-value-unassigned': 'Automaticky - pro změnu vyberte'|trans}}) -}}
	</span>
{% endblock product_widget %}