<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="cs" class="ie7 no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="cs" class="ie8 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="cs" class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="cs" class="no-js"> <!--<![endif]-->

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{{ asset('assets/frontend/styles/index' ~ getDomain().id ~ '.css') }}" media="screen, projection">
	<!--[if lte IE 8 ]>
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/frontend/styles/index' ~ getDomain().id ~ '-ie8.css') }}" media="screen, projection">
	<![endif]-->

	{{ importJavascripts([
		'bundles/bmatznerjquery/js/jquery.min.js',
		'assets/frontend/scripts/plugins/*',
		'assets/frontend/scripts/*',
	]) }}

	{% block javascripts %}{% endblock %}

	<title>{% block title %}ShopSys 6{% endblock %}</title>

	<body>
		{% block html_body %}{% endblock %}

		{% if app.environment == 'dev' %}
			<script async src="//localhost:35729/livereload.js"></script>
		{% endif %}
	</body>
</html>