<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="{{ app.request.locale }}" class="ie7 no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="{{ app.request.locale }}" class="ie8 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="{{ app.request.locale }}" class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="{{ app.request.locale }}" class="no-js"> <!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<style>
			body {
				line-height: 20px;
				font-size: 14px;
				font-family: 'Open Sans',Arial,Helvetica,sans-serif;
			}
		</style>

		<title>{% block title %}{% endblock %}</title>
	</head>

	<body>
		{% block html_body %}{% endblock %}
	</body>
</html>