{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block content %}
	<div class="web-panel">
		<div class="wrap-panel mb20">
			{% block panel_content %}{% endblock %}
			{{ render(controller('SS6ShopBundle:Front/Advert:box',{'positionName' : constant('SS6\\ShopBundle\\Model\\Advert\\AdvertPosition::POSITION_LEFT_SIDEBAR')})) }}
		</div>
	</div>

	<div class="main-content">
		<div class="web-content">
			<div class="web-content__clear">
				{{ render(controller('SS6ShopBundle:Front/Breadcrumb:index', { routeName: getRoute(), routeParameters: getRouteParams() } )) }}
				{{ render(controller('SS6ShopBundle:Front/FlashMessage:index')) }}
				{% block main_content %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
