{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block departments %}
	<div class="main-panel col-xs-12 col-sm-3 col-md-3 col-lg-2">
		<ul class="departments-menu">
			{{ render(controller('SS6ShopBundle:Front/Department:menu')) }}
		</ul>
	</div>
{% endblock %}
{% block content %}
	<div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
		{% block main_content %}{% endblock %}
	</div>
{% endblock %}
