{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block departments %}
	<div class="web-panel">
		<div class="wrap-panel mb20">
			<ul class="list-menu">
				{{ render(controller('SS6ShopBundle:Front/Department:panel')) }}
			</ul>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class="web-content">
		<div class="web-content__clear">
			{% block main_content %}{% endblock %}
		</div>
	</div>
{% endblock %}
