version: "3.1"
services:
    microservice-product-search:
        image: shopsys/microservice-product-search:v1.0.0
        container_name: shopsys-framework-microservice-product-search
        links:
            - elasticsearch
        depends_on:
            - elasticsearch
