.toggle-close{
	display:none;
}

input.js-validation-error,
select.js-validation-error,
textarea.js-validation-error,
.js-validation-error input,
.js-validation-error select,
.js-validation-error textarea {
	background: #ffeeee;
	border: solid 1px red;
}

.js-hidden {
	display: none;
}

.btn {
	.set-transition();
	.transition(~"background, color");
}

.btn-disabled, .btn-disabled:hover, .btn-disabled:focus {
	background: #AAAAAA;
	border-color: #AAAAAA;
	cursor: default;
}

.js-drag-and-drop-grid-handle {
	cursor: move;
}

.link-disabled, .link-disabled:hover, .link-disabled:focus {
	color: #AAAAAA;
	cursor: help;
}

.form-line__field--localized {
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: 5px 50%;
}

.form-line__field--locale-cs {
	background-image: url('../images/flags/cs.png');
}

.form-line__field--locale-en {
	background-image: url('../images/flags/en.png');
}