.form-line--compact {

	.form-line__field {
		margin-left: 0px;
		padding-left: 5px;

		&.form-line__field--icon {
			padding-left: 27px;
		}
	}

	.form-line__icon {
		left: 7px;
	}
}

//// Mangific popup
@import "../front/libs/magnific/magnific-popup.less";
@import "../front/libs/magnific/magnific-popup-custom.less";

.iframe-popup-content {
	width: 850px;
}

.js-product-picker-label {
	display: inline-block;
	width: auto;
}