<div class="box-order-type">
    {% for orderingModeId, orderingModeName in orderingModesNames %}
        <a
            href="#"
            class="box-order-type__item js-product-list-ordering-mode {{ activeOrderingModeId == orderingModeId ? 'active' }}"
            data-cookie-name="{{ cookieName }}"
            data-ordering-mode="{{ orderingModeId }}"
        >
            {{ orderingModeName }}
        </a>
    {% endfor %}
</div>