/*
Form box adding
================
Small form box for adding items to cart with input field

	<div class="form-box-adding">
		<span class="form-box-adding__input">
			<input class="text-center form-control" type="text"> times
		</span>
		<a href="#" class="button">Add to cart</a>
	</div>
*/

.form-box-adding {
	font-size: 12px;
}

.form-box-adding__input {
	margin-right: 5px;

	input {
		display: inline-block;
		width: 45px;
	}
}