.basket-review {
	width: 100%;
	margin-bottom: 20px;
}

.basket-review .basket-review__row {
	border-top: 1px solid @color-border;

	&:first-child {
		border-top: 0;
	}
}

.basket-review .basket-review__cell {
	padding: 5px 0;

	font-size: 12px;
}

.basket-review .basket-review__cell--price {
	padding-left: 10px;
	width: 100px;

	text-align: right;
}

.basket-review .basket-review__row--total {
	font-weight: bold;
}