.basket-list {
	width: 100%;
	margin-bottom: 20px;
}

.basket-list__heading {
	border-bottom: 2px solid @color-border;

	th {
		padding: 10px 5px;
	}
}

.basket-list__item {
	td {
		padding: 10px 5px;
	}

	&:nth-child(2n) {
		background: @bg-table;
	}
}

.basket-list__image {
	img {
		display: block;
	}
}

.basket-list__price-piece {
	text-align: center;
}

.basket-list__ammount {
	text-align: center;
}

.basket-list__price-final {
	text-align: center;
}

.basket-list__remove {
	text-align: center;
}

.basket-list__foot {
	td {
		padding: 10px 5px;

		font-weight: bold;
		text-align: right;
	}
}

.basket-list__price-total {
}