.simple-list {
	.cfx();
	margin: 0 0 @margin-gap/2;
	padding: 0;

	border-bottom: 1px solid @color-border;
}

.simple-list .simple-list__title {
	.box-sizing(border-box);
	float: left;
	width: 30%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5%;
	margin: 0;
	clear: both;

	font-weight: bold;
	color: @color-desc;
	font-size: 12px;
}

.simple-list .simple-list__definition {
	.box-sizing(border-box);
	float: left;
	width: 70%;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;

	color: @color-desc;
	font-size: 12px;
}