.simple-side-list {
	.cfx();
	margin: 0;
	padding: 0;
}

.simple-side-list__title {
	.box-sizing(border-box);
	float: left;
	width: 40%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5%;
	margin: 0;
	clear: both;

	text-align: left;
}

.simple-side-list__definition {
	.box-sizing(border-box);
	float: left;
	width: 60%;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;

	text-align: right;
}