<div class="wrap-bar">
	<h2 class="wrap-bar__heading">Dopravy</h2>

	<a href="{{ url('admin_transport_new') }}" class="btn btn--plus wrap-bar__btn">
		<i class="btn__icon">+</i>{{ 'Create shipping'|trans }}
	</a>
</div>

{{ gridView.render() }}
