.box-advanced-search {
	&__item {
		margin: 5px 0 5px -1%;

		font-size: 0;

		&__first {
			display: inline-block;
			vertical-align: middle;

			font-size: @font-size;
			width: 31%;
			margin-left: 1%;

			.box-advanced-search__item--more-info & {
				width: 30%;
			}

		}

		&__second {
			display: inline-block;
			vertical-align: middle;
			margin-left: 1%;
			width: 31%;

			font-size: @font-size;

			.box-advanced-search__item--more-info & {
				width: 30%;
			}

		}

		&__third {
			display: inline-block;
			vertical-align: middle;
			width: 32%;
			margin-left: 1%;

			font-size: @font-size;

			.box-advanced-search__item--more-info & {
				width: 31%;
			}

		}

		&__hint {
			display: inline-block;
			vertical-align: middle;
			width: 3%;

			font-size: @font-size;
			font-weight: bold;
			text-align: right;
		}

		&__icon {
			display: inline-block;
			vertical-align: middle;
			width: 3%;

			font-size: @font-size;
			text-align: right;

		}

		select, input {
			width: 100%;
		}
	}

	&__line {
		padding: 0 10px 5px;
		margin: 0 -10px;

		text-align: right;

		&--dark {
			padding: 5px 20px;

			border-top: 1px solid @color-border;
			border-bottom: 1px solid @color-border;
			background: @bg-dark;
			text-align: left;
		}
	}
}