/*
Breadcrumb
=======
Classic breadcrumbs, it should be used with DIV element, not UL or OL (copy paste problem)

	<div class="box-breadcrumb">
		<a href="#" class="box-breadcrumb__item">Main page</a>
		<span class="box-breadcrumb__separator">-</span>
		<a href="#" class="box-breadcrumb__item">Category</a>
		<span class="box-breadcrumb__separator">-</span>
		<span class="box-breadcrumb__item">This page</span>
	</div>

*/

.box-breadcrumb {
	padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal @breadcrumb-padding-vertical - 1;
	margin: 0 -15px @line-height-computed;

	font-size: @font-size-small;
	border-bottom: 1px solid @breadcrumb-border;
	background: lighten(@bg-box, 1%);
}

.box-breadcrumb__item {
	display: inline-block;
	margin-right: 5px;
}

.box-breadcrumb__separator {
	margin-right: 5px;
}
