.box-expand {
	margin-bottom: 10px;

	background: @bg-box;
}

.box-expand__heading {
	margin: 0;
	padding: 10px 20px 10px 40px;
	position: relative;

	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.box-expand__hidden {
	padding: 20px;
}
