.window-fixed-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;

    background-color: @color-f;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.02);

    &--developer-mode {
        bottom: 36px;
    }

    &--top {
        top: 0;
        left: 0;
        bottom: auto;

        border: 0;
    }

    .window-content & {
        left: 0;
        box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.75);
    }

    &__in {
        display: flex;
        width: @width-web;

        margin: 0 auto;
        max-width: 100%;

        .window-fixed-bar--type-alert & {
            background: @color-alert;
            color: @color-f;
            text-align: left;
        }

        .window-fixed-bar--top & {
            width: 100%;
            max-width: 100%;
            height: @height-fixed-bar;
        }
    }

    &__item {
        display: flex;
        height: @input-height + 4px;
        padding-left: 0;
        padding-right: 22px;
        flex: 1;
        align-items: center;

        .window-fixed-bar--top & {
            height: @height-fixed-bar;
        }

        &:first-child {
            border-left: none;
        }

        &:last-child {
            text-align: right;
        }

        &--1 {
            flex: 1;
        }

        &--2 {
            flex: 2;
        }

        &--3 {
            flex: 3;
        }

        &--4 {
            flex: 4;
        }

        &--5 {
            flex: 5;
        }

        &__cell {
            flex: 0 100%;

            color: @color-blue;

            &__icon {
                position: relative;
                top: 1px;
            }

            .window-fixed-bar--top & {
                color: @color-f;
                text-align: center;
            }
        }
    }
}
