{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block content %}
	Hello ShopSys6!<br />
	<a href="{{ url('front_product_list') }}">Katalog zboží</a></li>
	<div class="my-carousel">
	    <div><img src="{{ asset('assets/frontend/images/fry.jpg') }}"/></div>
	    <div><img src="{{ asset('assets/frontend/images/bender.jpg') }}"/></div>
	    <div>FUTURAMA:)</div>
	</div>
{% endblock %}
