{% extends '@SS6Shop/Front/Layout/layout.html.twig' %}

{% block content %}

	{% if sliderItems is not empty %}
	<div id="slider-hp">
	{% for item in sliderItems %}
	
		<div>
		<a href = "{{ item.link }}"><img src="{{ imageUrl(item) }}"/></a>
		</div>
	
	{% endfor %}
	</div>
	{% endif %}
{% endblock %}
