.in-action {
	&__right {
		margin-bottom: 5px;
	}

	&__btn {
		width: 100%;

		&--big {
			min-height: @btn-height + 10;
			line-height: @btn-height + 10 - 2 * @btn-padding-vertical;
			padding-left: 30px;
			padding-right: 30px;

			font-size: 18px;
		}
	}
}

@media @query-md {
	.in-action {
		width: 100%;
		display: flex;
		align-items: center;

		&__left {
			order: 1;
			flex: 1;
		}

		&__right {
			order: 2;
			flex: 1;
			margin-bottom: 0;
			text-align: right;
		}

		&__btn {
			width: auto;
		}
	}
}
