@in-flag-position-top: 10px;
@in-flag-position-left: 10px;
@in-flag-in-list-position-top: 0;
@in-flag-in-list-position-left: 0;

.in-flag {
	position: absolute;
	top: @in-flag-position-top;
	left: @in-flag-position-left;
	.clearfix();

	&--in-list {
		top: @in-flag-in-list-position-top;
		left: @in-flag-in-list-position-left;
	}

	&__item {
		float: left;
		clear: left;
		padding: 3px 5px;
		margin-bottom: 3px;

		font-size: 12px;
	}
}
