.in-flag {
	position: absolute;
	top: 10px;
	left: 10px;
	.cfx();

	&--in-list {
		top: 0;
		left: 0;
	}

	&__item {
		float: left;
		clear: left;
		padding: 3px 5px;
		margin-bottom: 3px;

		font-size: 12px;
	}
}