/*
Message
=======
Alert, info, success atc messages box

	<div class="in-message">

	</div>

*/

.in-message {
	display: block;
	padding: 6px 9px;

	font-style: italic;
	font-size: 14px;
	text-transform: none;
	font-weight: normal;

	&__list {
		.reset-ul();
	}

	&--error {
		color: @color-message-alert-text;
		background: @color-message-alert;
	}

	&--warning {
		color: @color-message-warning-text;
		background: @color-message-warning;
	}

	&--info {
		color: @color-message-info-text;
		background: @color-message-info;
	}

	&--success {
		color: @color-message-success-text;
		background: @color-message-success;
	}

	&--danger {
		color: @color-message-alert-text;
	}
}