.in-paging {
	.flex();
	.flex-align-items(center);

	&__info {
		.flex-grow(1);
	}

	&__control {
		.flex-grow(3);

		text-align: right;
	}

	&__list {
		.reset-ul();

		&__num {
			display: inline-block;
			vertical-align: middle;
			min-width: 20px;
			height: 20px;
			margin: 0 3px;
		}

		&__sepearate {
			display: inline-block;
			vertical-align: middle;
			min-width: 20px;
			height: 20px;
			margin: 0 3px;
		}

		&__arrow {
			display: inline-block;
			vertical-align: middle;
			min-width: 20px;
			height: 20px;
			margin: 0 3px;
		}
	}
}