@in-paging-size: 24px;

.in-paging {
	margin-bottom: @margin-gap;

	&__info {
		display: none;
	}

	&__control {
		flex: 3;
		text-align: center;

		font-size: 0;

		&__item {
			display: inline-block;
			vertical-align: middle;
			min-width: @in-paging-size;
			height: @in-paging-size;
			line-height: @in-paging-size;
			margin: 0 1px;
			text-align: center;

			font-size: @font-size;

			&--num {
				text-decoration: none;
				background: @color-light;
				color: @color-base;

				&:hover {
					background: darken(@color-light, 5%);
				}

				&--active {
					background: @color-primary;
					color: @color-f;

					&:hover {
						background: @color-primary;
					}
				}
			}

			&--arrow {
				text-decoration: none;
				background: @color-light;
				color: @color-base;

				&:hover {
					background: darken(@color-light, 5%);
				}

				&--inactive {
					color: @color-a;

					&:hover {
						background: @color-light;
					}
				}
			}
		}
	}
}

@media @query-md {
	.in-paging {
		display: flex;
		align-items: center;

		&__info {
			display: block;
			flex: 1;
		}

		&__control {
			flex: 3;
			text-align: right;
		}
	}
}
