/*
Table cart
==============
Table for cart items

	<table class="table-cart">
		<thead class="table-cart__heading">
			<tr>
				<th class="table-col-10">Image</th>
				<th class="table-col-35">Item</th>
				<th class="table-col-15">Price per piece</th>
				<th class="table-col-10">Tax</th>
				<th class="table-col-15 text-center">Amoutn</th>
				<th class="table-col-10 text-center">Price with tax</th>
				<th class="table-col-5 text-right">&nbsp;</th>
			</tr>
		</thead>

		<tbody>
			<tr class="table-cart__item">
				<td class="table-cart__image table-cart__cell-left">
					<a href="#">
						<img width="60px" height="40px" alt="" src="image">
					</a>
				</td>

				<td class="table-cart__title table-cart__cell-left">
					<a title="" href="#">
						Samsung Galaxy Note 8
					</a>
				</td>

				<td class="table-cart__price-piece">
					9 679,00 $
				</td>

				<td>
					21%
				</td>

				<td class="table-cart__ammount">
					<span class="form-input-spinbox js-spinbox">
						<input type="button" value="-" class="button form-input-spinbox__button js-spinbox-minus">
						<input type="number" value="2" data-spinbox-min="1" class="form-input-spinbox__input js-spinbox-input input">
						<input type="button" value="+" class="button form-input-spinbox__button js-spinbox-plus">
					</span>
				</td>

				<td class="table-cart__price-final">
					19 358,00&nbsp;Kč
				</td>

				<td class="table-cart__remove">
					<a href="#">
						<img alt="Odstranit" src="/assets/frontend/images/icons/trash.png">
					</a>
				</td>
			</tr>
			<tr class="table-cart__item">
				<td class="table-cart__image table-cart__cell-left">
					<a href="#">
						<img width="60px" height="40px" alt="" src="image">
					</a>
				</td>

				<td class="table-cart__title table-cart__cell-left">
					<a title="" href="#">
						Samsung Galaxy Note 8
					</a>
				</td>

				<td class="table-cart__price-piece">
					9 679,00 $
				</td>

				<td>
					21%
				</td>

				<td class="table-cart__ammount">
					<span class="form-input-spinbox js-spinbox">
						<input type="button" value="-" class="button form-input-spinbox__button js-spinbox-minus">
						<input type="number" value="2" data-spinbox-min="1" class="form-input-spinbox__input js-spinbox-input input">
						<input type="button" value="+" class="button form-input-spinbox__button js-spinbox-plus">
					</span>
				</td>

				<td class="table-cart__price-final">
					19 358,00&nbsp;Kč
				</td>

				<td class="table-cart__remove">
					<a href="#">
						<img alt="Odstranit" src="/assets/frontend/images/icons/trash.png">
					</a>
				</td>
			</tr>
		</tbody>

		<tfoot class="table-cart__foot">
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>
					<button class="btn btn-primary button" name="cart[recalc]" id="cart_recalc" type="submit">Přepočítat</button>

				</td>
				<td class="table-cart__foot__total text-right" colspan="4">
					Celková cena s DPH:
					<span class="table-cart__price-total">
						<span class="price-main price-big">33 624,00&nbsp;Kč</span>
					</span>
				</td>
			</tr>
		</tfoot>

	</table>

*/


.table-cart {
	width: 100%;
	margin-bottom: 20px;
}

.table-cart__heading {
	border-bottom: 2px solid @color-border;

	th {
		padding: 10px 5px;
	}
}

.table-cart__item {
	td {
		padding: 10px 5px;
	}
}

.table-cart__image {
	a {
		display: block;
	}

	img {
		display: inline-block;
	}
}

.table-cart__ammount {
	text-align: center;
}

.table-cart__price-final {
	text-align: center;
}

.table-cart__remove {
	text-align: center;
}

.table-cart__foot {
	td {
		padding: 10px 5px;

		font-weight: bold;
	}
}

.table-cart__price-total {
}
