.table-main {
	tr {
		background: @color-f;

		&:nth-child(2n+1) {
			background: @color-light;
		}
	}

	td, th {
		padding: 10px;
	}

	th {
		font-weight: bold;
		text-align: left;
		background: @color-light;
		border-bottom: 1px solid @color-border;
	}
}
