.table-params {
	width: 100%;

	tr {
		background: @color-f;

		&:nth-child(2n) {
			background: @color-light;
		}
	}

	td, th {
		padding: 5px 10px;
	}

	th {
		width: 160px;

		font-weight: bold;
		text-align: left;
	}
}