version: '2'
syncs:
    shopsys-framework-sync:
        sync_userid: 501
        src: './'
        sync_excludes: ['project-base/docker/', 'microservices/']

    shopsys-framework-microservice-product-search-sync:
        sync_userid: 501
        src: './microservices/product-search/'

    shopsys-framework-microservice-product-search-export-sync:
        sync_userid: 501
        src: './microservices/product-search-export/'

    shopsys-framework-postgres-data-sync:
        src: './project-base/var/postgres-data/'

    shopsys-framework-elasticsearch-data-sync:
        src: './project-base/var/elasticsearch-data/'
