@custom-inputs-margin-left: 30px;
@custom-inputs-filter-margin-left: 25px;

input[type=checkbox].css-checkbox, input[type=radio].css-checkbox, input[type=checkbox].css-radio, input[type=radio].css-radio {
    position: absolute;
    height: 1px;
    width: 1px;
    left: -1000px;
    margin: -1px;
    padding: 0;
    z-index: -1000;

    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;

    & + .css-checkbox__image, & + .css-checkbox__image.clr, & + .css-radio__image, & + .css-radio__image.clr {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding-left: @custom-inputs-margin-left;
        line-height: 18px;

        font-size: 18px;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            display: inline-block;
            top: -9px;
            left: 0;
            width: 18px;
            height: 18px;

            background-repeat: no-repeat;
            background-position: left top;
            background-size: 36px 36px;
        }

        &:hover, &:focus, &:active {

            &:before {
                background-position: right top;
            }
        }
    }

    &:checked {

        & + .css-checkbox__image, & + .css-checkbox__image.clr, & + .css-radio__image, & + .css-radio__image.clr {

            &:before {
                background-position: left bottom;
            }
        }
    }

    &:disabled {

        & + .css-checkbox__image, & + .css-checkbox__image.clr, & + .css-radio__image, & + .css-radio__image.clr {

            &:before {
                cursor: no-drop;
                background-position: right bottom;
            }
        }

        & ~ .css-checkbox__image, & ~ .css-radio__image {
            cursor: no-drop;
            color: @color-inactive;
        }
    }

    &.display-none, &[style*="display: none"], &[style*="display:none"] {

        & ~ .css-checkbox__image, & ~ .css-radio__image {
            display: none;
        }
    }
}

.css-checkbox__image, .css-radio__image {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.css-checkbox__image {

    .css-checkbox__image__link {
        color: @color-base;

        &:hover, &:focus, &:active {
            color: @color-orange;
        }
    }

    &:before {
        background-image: url('@{path-design}/custom_checkbox.png');
    }
}

.css-radio__image {

    &:before {
        background-image: url('@{path-design}/custom_radio.png');
    }
}
