# ignore .git (can be volume-mounted in development environment)
.git

# ignore directories with meta-data
.ci
.idea
nbproject

# ignore directories that should be created and filled during the image build
node_modules
var
!var/.gitkeep
web/assets/scripts
web/bundles
web/components
web/content
vendor

# ignore kubernetes manifests and infrastructure definitions
infrastructure
kubernetes

# ignore docker configs for other images than php-fpm, and the php-fpm's Dockerfile itself
docker
!docker/nginx
!docker/php-fpm
docker/php-fpm/Dockerfile
