src/Shopsys/ShopBundle/Resources/scripts/frontend/plugins/**
src/Shopsys/ShopBundle/Resources/scripts/frontend/bootstrap/**

src/Shopsys/ShopBundle/Resources/scripts/admin/plugins/**
src/Shopsys/ShopBundle/Resources/scripts/admin/components/jquery.dmuploader.js

node_modules/**