parameters:
    ignoreErrors:
        # Add ignored errors here as regular expressions, e.g.:
        # - '#PHPUnit_Framework_MockObject_MockObject(.*) given#'
        - '#Undefined variable: \$undefined#'
includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
