<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="app/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
>
    <php>
        <server name="KERNEL_DIR" value="app/" />
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/*Bundle/Unit</directory>
        </testsuite>
        <testsuite name="Database">
            <directory>tests/*Bundle/Database</directory>
        </testsuite>
        <testsuite name="Smoke">
            <directory>tests/*Bundle/Smoke</directory>
        </testsuite>
        <testsuite name="Performance">
            <directory>tests/*Bundle/Performance</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <directory>tests</directory>
            <exclude>
                <directory>src/*/*Bundle/Resources</directory>
                <directory>tests/*Bundle/Unit</directory>
                <directory>tests/*Bundle/Database</directory>
                <directory>tests/*Bundle/Smoke</directory>
                <directory>tests/*Bundle/Performance</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
