{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- Přehled stavů objednávek{% endblock %}
{% block h1 %}Přehled stavů objednávek{% endblock %}

{% block panel %}
	<ul class="nav nav-panel">
		<li>
			<a href="{{ url('admin_order_list') }}">Přehled objednávek</a>
		</li>
		<li>
			<span>Přehled stavů objednávek</span>
		</li>
	</ul>
{% endblock %}

{% block mainContent %}
	<div class="row">
		<div class="col-sm-12 col-md-10 col-lg-8">
			{{ grid(grid, '@SS6Shop/Admin/Content/OrderStatus/listGrid.html.twig') }}
		</div>
	</div>
{% endblock %}