{% extends '@SS6Shop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- Přehled stavů objednávek{% endblock %}
{% block h1 %}Přehled stavů objednávek{% endblock %}

{% block main_content %}
	<div id="js-order-status-delete-window"></div>

	<div class="row">
		<div class="col-sm-12 col-md-10 col-lg-10" id="js-order-status-grid">
			{{ gridView.render('@SS6Shop/Admin/Content/OrderStatus/listGrid.html.twig') }}
		</div>
	</div>
{% endblock %}