{% extends '@SS6Shop/Admin/Grid/grid.html.twig' %}

{% block grid_column_name_cell %}
	<a href="{{ url('admin_orderstatus_edit', { id: row.field('id') }) }}">{{ value }}</a>
{% endblock %}

{% block grid_no_data %}
	Nebyla nalezen žádný stav objednávek.
{% endblock %}