{% extends '@SS6Shop/Admin/Grid/PKGrid.html.twig' %}

{% block pkgrid_value_cell_id_name %}
	<a href="{{ url('admin_orderstatus_edit', { id: row.id }) }}">{{ value }}</a>
{% endblock %}

{% block pkgrid_no_data %}
	Nebyl nalezen žádný stav objednávek.
{% endblock %}

{% block pkgrid_pager_totalcount %}
	{% set entityName = 'stavů objednávek' %}
	{{ parent() }}
{% endblock %}